{% extends 'drevo/base.html' %}
{% load knowledge_tree %}
{% load mptt_tags %}
{% load filter %}
{% load algorithm_tags %}
{% load static %}
{% load base_tags %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/users/css/profile.css' %}">
{% endblock %}

{% block title %}{{znanie.name}}{% endblock %}

{% block content %}
<div class="container header_info p-0">
    <h1>{% if modification %}
            Адаптация алгоритма под себя
        {% else %}
            {{znanie.name}}
        {% endif %}</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item"><a href="{% url 'all_algorithms' %}">Алгоритмы</a></li>
          <li class="breadcrumb-item opened"><a>{{znanie.name}}</a></li>
          {% if modification %}
            <li class="breadcrumb-item opened"><a>Адаптация алгоритма под себя</a></li>
          {% endif %}
        </ol>
    </nav>
</div>
<div class="basic px-2">
    {% if warning_text %}
        <h3 class="text-center">{{warning_text}}</h3>
    {% else %}
        <div id="algorithm_tree">
        <ul class="root ps-0" id="tree_root">
            {% if modification %}
                <button type="button" class="btn tree-btn mx-4" onclick="tree_showAll();">Развернуть</button>
                <button type="button" class="btn tree-btn" onclick="tree_hiddenAll();">Свернуть</button>
            {% endif %}
            <p class="px-4 mb-0">{{znanie.name}}
                {% if znanie.author %}
                    <i class="d-inline-flex" style="color: #6C757D; font-style: normal;">({{ znanie.author }})</i>
                {% endif %}
                <span class="ps-2" id="new_work"></span>
            </p>
            {% recurse_dict algorithm_data previous_knowledge=znanie algorithm=znanie user=request.user work=current_work mode=modification %}
        </ul>
    </div>
    {% endif %}
    <div class="popup__bg">
        <div class="popup p-5">
            <i class="bi bi-x-lg close-popup"></i>
            <h3 id="condition"></h3><br>
            <div class="d-flex justify-content-around">
              <input type="button" value="Да" class="btn btn-header" onclick="answerCondition('Тогда');" style="background: var(--danger, #E01F27); font-size: 18px;">
              <input type="button" value="Нет" class="btn btn-header" onclick="answerCondition('Иначе');" style="background: var(--danger, #E01F27); font-size: 18px;">
            </div>
        </div>
    </div>
    <div class="notification-field">
        <div class="notification end_of_algorithm" style="display: none;">
            <i class="bi bi-x-lg" onclick="removeNotification(this);" style="float: right"></i>
            <h3 id="end_of_algorithm"></h3>
        </div>
    </div>
    <div class="d-flex" style="border-top: 1px solid var(--grey-1, #DFDFE3);">
        {% if modification %}
            <div class="p-4">
                <a href="?{% url_replace request 'mode' '' %}" class="btn btn btn-light btn-header py-1">
                    <span>Назад</span>
                </a>
            </div>
        {% else %}
            {% if user.is_authenticated and not warning_text %}
                <div class="p-4">
                    <a class="btn btn btn-light btn-header py-1"
                       href="?{% url_replace request 'mode' 'modify' %}">
                        <span>Адаптация под себя</span>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="save-data-form popup__bg">
        <div class="popup p-5">
            <span class="warning"></span>
            {% if user.is_authenticated %}
                {% if previous_works and not current_work and znanie.several_works %}
                    <div class="select me-4">
                        <div class="select__header">
                            <span value="all" class="select__current" id="select">
                                Выберите алгоритм
                            </span>
                            <div class="select__icon">
                                <img style="height: 6px;weight: 10.5px;opacity: 0.6;" src="{% static 'drevo/img/main_page/arrow-down.png' %}">
                            </div>
                        </div>

                        <div class="select__body scrollbar" style="overflow-y: scroll; max-height: 20vh;">
                            <div class="select__item">
                                <a class="text-grey" href="?{% url_replace request 'previous_works' '' %}">Выберите алгоритм</a>
                            </div>
                            {% for work in previous_works %}
                                <div class="select__item">
                                    <a class="text-grey" href="?{% url_replace request 'previous_works' work %}">"{{work}}"</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn btn-light btn-header" onclick="document.getElementById('newWork').toggleAttribute('hidden')">Создать новый алгоритм</button>
                    <div id="newWork" class="mt-4" hidden>
                        <h5 id="title">Введите название</h5><br>
                        <label class="regular-text m-0" for="work_name">Введите название</label>
                        <input class="form-control py-2 text-grey" type="text" placeholder="Введите название" id="work_name" name="work_name">
                        <div class="mt-4 d-flex justify-content-around">
                          <input type="button" onclick="closePopup('new');" name="save-data" value="Начать прохождение алгоритма" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                        </div>
                    </div>
                {% elif not znanie.several_works %}
                    <div id="continue_work">
                        <h5 class="title">Хотите продолжить прохождение алгоритма?</h5><br>
                        <div class="mt-4 d-flex justify-content-around">
                          <input type="button" onclick="closePopup('continue')" value="Да" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                          <input type="button" onclick="closePopup('confirm')" value="Нет, хочу пройти заново" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                        </div>
                    </div>
                    <div id="confirm" style="display: none;">
                        <h5 class="title">Вы уверены, что хотите заново пройти алгоритм?</h5><br>
                        <div class="mt-4 d-flex justify-content-around">
                          <input type="button" onclick="closePopup('restart')" value="Да" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                          <input type="button" onclick="closePopup('continue')" value="Нет" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                        </div>
                    </div>
                {% elif current_work %}
                    <div id="continue">
                        <h5 class="title">Вы хотите продолжить выполнение работы "{{current_work}}"?</h5><br>
                        <div class="mt-4 d-flex justify-content-around">
                          <input type="button" onclick="closePopup('continue')" value="Да" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                          <input type="button" onclick="closePopup('choose_other')" value="Нет" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                        </div>
                    </div>
                    <div id="choose_other" style="display: none;">
                        <div class="select me-4">
                            <div class="select__header">
                                <span value="all" class="select__current" id="select">
                                    Выберите алгоритм
                                </span>
                                <div class="select__icon">
                                    <img style="height: 6px;weight: 10.5px;opacity: 0.6;" src="{% static 'drevo/img/main_page/arrow-down.png' %}">
                                </div>
                            </div>

                            <div class="select__body scrollbar" style="overflow-y: scroll; max-height: 20vh;">
                                <div class="select__item">
                                    <a class="text-grey" href="?{% url_replace request 'previous_works' '' %}">Выберите алгоритм</a>
                                </div>
                                {% for work in previous_works %}
                                    <div class="select__item">
                                        <a class="text-grey" href="?{% url_replace request 'previous_works' work %}">"{{work}}"</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="btn btn btn-light btn-header" onclick="document.getElementById('newWork').toggleAttribute('hidden')">Создать новый алгоритм</button>
                        <div id="newWork" class="mt-4" hidden>
                            <h5 id="title">Введите название</h5><br>
                            <label class="regular-text m-0" for="work_name">Введите название</label>
                            <input class="form-control py-2 text-grey" type="text" placeholder="Введите название" id="work_name" name="work_name">
                            <div class="mt-4 d-flex justify-content-around">
                              <input type="button" onclick="closePopup('new');" name="save-data" value="Начать прохождение алгоритма" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h5 id="title">Введите название</h5><br>
                    <label class="regular-text m-0" for="work_name">Введите название</label>
                    <input class="form-control py-2 text-grey" type="text" placeholder="Введите название" id="work_name" name="work_name">
                    <div class="mt-4 d-flex justify-content-around">
                      <input type="button" onclick="closePopup('new');" name="save-data" value="Начать прохождение алгоритма" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
                    </div>
                {% endif %}
            {% else %}
                <i class="bi bi-x-lg close-popup" onclick="closePopup('unauthorized')"></i>
                <h5 class="title text-center">Если Вы хотите  сохранить Ваши результаты, пожалуйста, авторизуйтесь на сайте</h5><br>
                <div class="mt-4 d-flex justify-content-around">
                  <a href="{% url 'users:login' %}?next={{ request.path }}" class="btn btn-header">Авторизоваться</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if modification %}
    <div class="add-form popup__bg">
        <div class="popup p-5">
            <i class="bi bi-x-lg close-popup"></i>
            <span class="warning"></span>
            {% if znanie.several_works and not current_work %}
                <div>
                    <label class="regular-text m-0" for="new_work_name">Введите название работы</label>
                    <input class="form-control py-2" type="text" placeholder="Введите название работы" id="new_work_name" name="new_work_name">
                </div>
            {% endif %}
            <div id="transformation">
                <input type="checkbox" id="change-checkbox" class="form-check-input" onclick="openNext('block');">
                <label for="change-checkbox" style="color: #6C757D; display: inline!important;"></label>
            </div>
            <h5 class="title">Создание элемента</h5><br>
            <label class="regular-text m-0" for="elem">Введите название элемента</label>
            <input class="form-control py-2" type="text" placeholder="Введите название элемента" id="elem" name="elem">
            <div id="block-questions">
                <div class="mt-4 justify-content-around" style="display: flex;">
                    <label>Вид связи: </label><br>
                    <input type="radio" class="m-0 p-0 text-grey form-check-input" name="insertion_type" value="Block" id="blockRadio" onclick="openNext('block');">В блок
                    <input type="radio" class="m-0 p-0 text-grey form-check-input" name="insertion_type" value="Action" id="actionRadio" onclick="openNext('action');">В цепочку
                </div>
                <div id="conditionalChoice" style="display: none;">
                    <label>Состав связи: </label><br>
                    <input type="radio" class="m-0 p-0 text-grey form-check-input" name="connection" value="Нужно сделать" checked>Обязательный
                    <input type="radio" class="m-0 p-0 text-grey form-check-input" name="connection" value="Можно сделать">Необязательный
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-around">
              <input type="button" onclick="saveNewElement();" name="add-data" value="Добавить" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
            </div>
        </div>
    </div>
    <div class="redact-form popup__bg">
        <div class="popup p-5">
            <i class="bi bi-x-lg close-popup"></i>
            <span class="warning"></span>
            <h5 class="title">Изменение названия элемента</h5><br>
            <label class="regular-text m-0" for="elem">Введите новое название элемента</label>
            <input class="form-control py-2" type="text" placeholder="Введите новое название элемента" id="rename" name="rename">
            <div class="mt-4 d-flex justify-content-around">
              <input type="button" onclick="saveNewName();" name="redact-data" value="Переименовать" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
            </div>
        </div>
    </div>
    <div class="delete-form popup__bg">
        <div class="popup p-5">
            <i class="bi bi-x-lg close-popup"></i>
            <span class="warning"></span>
            <h5 class="title">Вы уверены, что хотите удалить элемент?</h5><br>
            <div class="mt-4 d-flex justify-content-around">
              <input type="button" onclick="deleteElement();" value="Да" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
              <input type="button" name="rejection" value="Нет" class="btn btn-header" style="background: var(--danger, #E01F27); font-size: 18px;">
            </div>
        </div>
    </div>
    {% endif %}
    <div class="basic legend mt-4 pb-3">
        <p class="title">Легенда:</p>
        <div class="d-flex" style="gap: 24px;">
            <p class="small-title" style="color: green; padding: 12px 24px 12px 0px;">Активное</p>
            <p class="small-title" style="color: red; padding: 12px 24px;">Доступное</p>
            <p class="small-title" style="color: blue; padding: 12px 24px;">Завершенное</p>
            <p class="small-title" style="color: grey; padding: 12px 24px;">Не может быть доступным больше</p>
        </div>
    </div>
</div>
<script>
var isAuthenticated = {{ user.is_authenticated|lower }};
var isManyWorks = {{ znanie.several_works|lower }};

function getPreviousProgress(){
    return {{progress|safe}}
}
</script>
<script type="application/javascript" src="{% static 'drevo/js/algorithm.js' %}"></script>
{% endblock %}