{% extends 'drevo/base.html' %}
{% load knowledge_tree %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block title %}Алгоритмы{% endblock %}

{% block content %}
<div class="container header_info p-0">
    <h1>Алгоритмы</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a>Алгоритмы</a></li>
        </ol>
    </nav>
</div>
<div>
    {% if all_algorithms %}
        {% build_knowledge_tree queryset=all_algorithms empty_tree_message='Нет доступных алгоритмов' show_complex=True %}
    {% else %}
        <div class="text-center mt-3 basic">
            <p class="fs-4">Нет доступных алгоритмов</p>
        </div>
    {% endif %}
</div>
{% endblock %}