{% extends 'drevo/base.html' %}
{% load static %}
{% load filter %}
{% load knowledge_tree %}

{% block title %}Автор {{ author.name }}{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block precontent %}
<div class="container header_info" style="padding-top: 24px;">
    <h1 class="page-title m-0">Авторы</h1>
    <nav style="--bs-breadcrumb-divider: '-';display: inline-flex; justify-content: space-between; width: 100%;
    align-items: self-end; margin: 0px;">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'authors' %}">Авторы</a></li>
            <li class="breadcrumb-item opened"><a>Автор</a></li>
        </ol>
        <button type="button" class="btn tree-btn m-0" style="width:auto;background:#FFFFFF;">
            <a href="{% url 'authors' %}" style="color:#083E2F;">Вернуться к списку авторов</a>
        </button>
    </nav>
</div>

<div class="container mt-3" style="background-color: #FFFFFF;border-radius: 10px;">
    {% if author.info %}
        <div class="row" style="padding:20px">
            {% if author.photo %}
            <div style="width: 150px; padding: 0px;border-radius: 8px;">
                <img src="{% get_media_prefix %}{{ author.photo }}" class="rounded float-end"
                    alt="{{ author.name }}" width="150">
            </div>
            {% endif %}
            <div style="width: 85%;">
                <p class="author-title">{{ author.name }}</p>
                <div class="author-description">{{ author.info|safe }}</div>
            </div>
        </div>
    {% else %}
        <p class="author-title">{{ author.name }}</p>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row" style="background-color: #FFFFFF;border-radius: 10px;">
    <div style="padding: 0px">
        {% if knowledges or knowledges_of_author %}
        <div class="choice-header">
        {% if not knowledge_by %}
            Вид вывода знаний:
        <span style="margin-left:75px;">
            Дерево знаний
        </span>

        <a href="{% url 'author' author.pk %}?knowledge_by=list">
        Список знаний
        </a>
        {% else %}
            Вид вывода знаний:
        <a href="{% url 'author' author.pk %}" style="margin-left:75px;">
            Дерево знаний
        </a>

        <span>
        Список знаний
        </span>
        {% endif %}
        </div>
        {% if knowledge_by %}
        <div style="display: inline-flex; justify-content: space-between; width: 100%; align-items: self-end; margin: 0px; padding-right: 32px;">
        <p class="author-title" style="margin:32px 0px 0px 32px;padding-bottom: 0px;">Список знаний</p>
        <div class="form-check form-switch" style="margin:32px 0px 0px 32px">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                onchange="toggleAddZnVisibility(this);">
            <label class="options" for="flexSwitchCheckDefault">Выводить только основные знания</label>
        </div>
        </div>
        <div style="background-color: #FFFFFF; padding: 32px;border-radius: 10px;">
        <div class="d-flex justify-content-between align-items-center">
            <p class="author-page-article" style="width: 19%;">Категория</p>
            <p class="author-page-article" style="width: 48%;">Знание</p>
            <p class="author-page-article" style="width: 23%;">Тип связи</p>
            <p class="author-page-article">Дата публикации</p>
        </div>
        <ul class="p-0">
            {% for category in categories %}
            <li class="d-flex" style="padding-bottom: 32px;">
                <a href="{{ category.get_absolute_url }}" style="border-block-start: dashed lightgrey 1px;width: 20%;padding-top: 10px;" class="text-dark title">{{ category }}</a>
                <ul class="knowledge-description">
                    <li>
                        <table class="table">
                            {% if not knowledges|dict_value:category.name|dict_value:"base"|length_is:"0" %}
                            {% for knowledge in knowledges|dict_value:category.name|dict_value:"base" %}
                            <tr style="font-weight: 400;">
                               <td style="width: 60%;">
                                    {% if knowledge.tz.name == 'Тезис' %}
                                    <i class="kn_type" style="color: #1CA053;">
                                    <img src="{% static 'drevo/img/green_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Вопрос' %}
                                    <i class="kn_type" style="color: #1BA2F1;">
                                    <img src="{% static 'drevo/img/blue_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Факт' %}
                                    <i class="kn_type" style="color: #FC918F;">
                                    <img src="{% static 'drevo/img/red_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Классификация' %}
                                    <i class="kn_type" style="color: #BA7507;">
                                    <img src="{% static 'drevo/img/ginger_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% else %}
                                    <i class="kn_type" style="color: #424141;">
                                    <img src="{% static 'drevo/img/grey_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% endif %}
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="text-dark znanie">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>

                                </td>
                                <td style="float: right; border: none;">
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            {% if not knowledges|dict_value:category.name|dict_value:"additional"|length_is:"0" %}
                            {% for knowledge in knowledges|dict_value:category.name|dict_value:"additional" %}
                            <tr class="li_add" style="font-weight: 400;">
                               <td style="width: 60%;">
                                    {% if knowledge.tz.name == 'Тезис' %}
                                    <i class="kn_type" style="color: #1CA053;">
                                    <img src="{% static 'drevo/img/green_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Вопрос' %}
                                    <i class="kn_type" style="color: #1BA2F1;">
                                    <img src="{% static 'drevo/img/blue_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Факт' %}
                                    <i class="kn_type" style="color: #FC918F;">
                                    <img src="{% static 'drevo/img/red_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Классификация' %}
                                    <i class="kn_type" style="color: #BA7507;">
                                    <img src="{% static 'drevo/img/ginger_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% else %}
                                    <i class="kn_type" style="color: #424141;">
                                    <img src="{% static 'drevo/img/grey_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% endif %}
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="text-dark znanie">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td style="float: right; border: none;">
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </li>
                </ul>
            </li>
            {% endfor %}

            {# знания, не имеющие категории #}
            {% if not knowledges|dict_value:'None'|length_is:"0" %}
            <li class="d-flex" style="padding-bottom: 32px;"><a style="border-block-start: dashed lightgrey 1px;width: 20%;padding-top: 10px;" class="text-dark title">Знания, не имеющие категории</a>
                <ul class="knowledge-description">
                    <li>
                        <table class="table">
                            {% for knowledge in knowledges|dict_value:'None'|dict_value:"base" %}
                            <tr style="font-weight: 400;">
                               <td style="width: 60%;">
                                    {% if knowledge.tz.name == 'Тезис' %}
                                    <i class="kn_type" style="color: #1CA053;">
                                    <img src="{% static 'drevo/img/green_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Вопрос' %}
                                    <i class="kn_type" style="color: #1BA2F1;">
                                    <img src="{% static 'drevo/img/blue_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Факт' %}
                                    <i class="kn_type" style="color: #FC918F;">
                                    <img src="{% static 'drevo/img/red_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Классификация' %}
                                    <i class="kn_type" style="color: #BA7507;">
                                    <img src="{% static 'drevo/img/ginger_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% else %}
                                    <i class="kn_type" style="color: #424141;">
                                    <img src="{% static 'drevo/img/grey_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% endif %}
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="text-dark znanie">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td style="float: right; border: none;">
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}

                            {% for knowledge in knowledges|dict_value:'None'|dict_value:"additional" %}
                            <tr style="font-weight: 400;" class="li_add">
                               <td style="width: 60%;">
                                    {% if knowledge.tz.name == 'Тезис' %}
                                    <i class="kn_type" style="color: #1CA053;">
                                    <img src="{% static 'drevo/img/green_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Вопрос' %}
                                    <i class="kn_type" style="color: #1BA2F1;">
                                    <img src="{% static 'drevo/img/blue_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Факт' %}
                                    <i class="kn_type" style="color: #FC918F;">
                                    <img src="{% static 'drevo/img/red_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% elif knowledge.tz.name == 'Классификация' %}
                                    <i class="kn_type" style="color: #BA7507;">
                                    <img src="{% static 'drevo/img/ginger_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% else %}
                                    <i class="kn_type" style="color: #424141;">
                                    <img src="{% static 'drevo/img/grey_file.png' %}">&nbsp{{ knowledge.tz.name }}&nbsp</i>
                                    {% endif %}
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="text-dark znanie">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td style="float: right; border: none;">
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
            </div>
        {% else %}
        <div id="author-page-drevo">
         <p class="author-title" style="margin:32px 0px 0px 32px;padding-bottom: 0px;">Дерево знаний</p>
        {% build_knowledge_tree queryset=knowledges_of_author empty_tree_message='Дерево знаний данного автора пустое, перейдите к списку знаний' hidden_author=author %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}

{% block jsfiles %}

<script>

    function toggleAddZnVisibility(element) {
        let ulToToggle = document.querySelectorAll('.li_add');
        if (element.checked == true) {
            ulToToggle.forEach(function (x) {
                x.hidden = true;
            }
            )
        }
        else {
            ulToToggle.forEach(function (x) {
                x.hidden = false;
            }
            )
        }
    }
</script>

{% endblock %}