{% extends 'drevo/base.html' %}
{% load static %}
{% load filter %}
{% load knowledge_tree %}

{% block title %}Автор {{ author.name }}{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block precontent %}

<div class="container mt-3">
    <h2>Автор {{ author.name }}</h2>

{% if author.info %}
<div class="row">
    <div class="col-12 col-lg-8">
        {{ author.info|safe }}
    </div>
    {% if author.photo %}
    <div class="col-12 col-lg-4">
        <img src="{% get_media_prefix %}{{ author.photo }}" class="rounded float-end img-thumbnail"
            alt="{{ author.name }}" width="200">
    </div>
    {% endif %}
</div>
{% endif %}
</div>

{% endblock %}

{% block content %}


<div class="row">
    <div>
        {% if knowledges or knowledges_of_author %}

        {% if not knowledge_by %}
        <span class="fs-2">
            Дерево знаний
        </span>
        /
        <a href="{% url 'author' author.pk %}?knowledge_by=list" class="link-primary fs-4" style="text-decoration: none;">
        Список знаний
        </a>
        {% else %}
        <a href="{% url 'author' author.pk %}" class="link-primary fs-4" style="text-decoration: none;">
            Дерево знаний
        </a>
        /
        <span class="fs-2">
        Список знаний
        </span>
        {% endif %}

        {% if knowledge_by %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                onchange="toggleAddZnVisibility(this);">
            <label class="form-check-label" for="flexSwitchCheckDefault">Выводить только основные знания?</label>
        </div>
        <br>
        <ul>
            {% for category in categories %}
            <li style="font-weight: 600;"><i class="bi-file-plus-fill lonely"></i><a
                    href="{{ category.get_absolute_url }}">{{ category }}</a>
                <ul>
                    <li>
                        <table class="table">
                            {% if not knowledges|dict_value:category.name|dict_value:"base"|length_is:"0" %}
                            {% for knowledge in knowledges|dict_value:category.name|dict_value:"base" %}
                            <tr style="font-weight: 400;">
                                <td>
                                    <i class="bi-file-text-fill zn_base"></i>
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="zn_base">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>

                                </td>
                                <td>
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            {% if not knowledges|dict_value:category.name|dict_value:"additional"|length_is:"0" %}
                            {% for knowledge in knowledges|dict_value:category.name|dict_value:"additional" %}
                            <tr class="li_add" style="font-weight: 400;">
                                <td>
                                    <i class="bi-file-text-fill zn_add"></i>
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="zn_add">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td>
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </li>
                </ul>
            </li>
            {% endfor %}

            {# знания, не имеющие категории #}
            {% if not knowledges|dict_value:'None'|length_is:"0" %}
            <li style="font-weight: 600;" class="li_add">Знания, не имеющие категории
                <ul>
                    <li>

                        <table class="table">
                            {% for knowledge in knowledges|dict_value:'None'|dict_value:"base" %}
                            <tr style="font-weight: 400;">
                                <td>
                                    <i class="bi-file-text-fill zn_base"></i>
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="zn_base">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td>
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}

                            {% for knowledge in knowledges|dict_value:'None'|dict_value:"additional" %}
                            <tr style="font-weight: 400;" class="li_add">
                                <td>
                                    <i class="bi-file-text-fill zn_add"></i>
                                    <a href="{% url 'zdetail' knowledge.pk %}" class="zn_add">{{ knowledge }}</a>
                                </td>
                                <td>
                                    {{ knowledge.tz }}
                                </td>
                                <td>
                                    {{ knowledge.related.all.first.tr }}
                                </td>
                                <td>
                                    {{ knowledge.date }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
        {% else %}
        <br>
        {% build_knowledge_tree queryset=knowledges_of_author empty_tree_message='Дерево знаний данного автора пустое, перейдите к списку знаний' hidden_author=author %}
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}

{% block jsfiles %}

<script>

    function toggleAddZnVisibility(element) {
        let ulToToggle = document.querySelectorAll('.li_add');
        if (element.checked == true) {
            ulToToggle.forEach(function (x) {
                x.hidden = true;
            }
            )
        }
        else {
            ulToToggle.forEach(function (x) {
                x.hidden = false;
            }
            )
        }
    }
</script>

{% endblock %}