{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Подписки на авторов{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/subscriptions.css' %}">
{% endblock %}

{% block content %}

<a href="{% url 'users:myprofile' %}" class="link-dark" id="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Вернуться в профиль
</a>


<h4 align="center" class="h4">Подписка на авторов</h4>
<br>
<br>

<div class="row">
    <div class="col-2">
        <div class="form-check">
            <input type="checkbox" value="Select All" name="selectAll" onclick="selectAll()"
                   class="form-check-input selectAll" id="flexCheckDisabled">
            <label class="form-check-label" for="flexCheckDisabled">Выделить все</label>
        </div>
    </div>
    <div class="form-check form-switch col-6">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="allTag(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Показать всех авторов</label>
    </div>
    <div class="col-1" align="right">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" placeholder="Найти автора" id="search-text" onkeyup="tableSearch()">
    </div>
</div>
<br>


<h4 id="noSubsText" align="center">Вы не подписаны ни на одного автора. Нажмите на "Показать всех авторов" и подпишитесь!</h4>


<form method="post" name="tags">
    <div id="checkbox_form">
        <table width="50%" id="info-table" class="table table-striped">
            {% for author in authors %}
            <tr>
                <td width="8%">
                    <input type="checkbox" value="{{author.name}}" class="checkbox_1"
                           onchange="changeFlag(this)"
                           {% if request.user in author.subscribers.all %} checked {% endif %}>
                </td>
                <td>
                    {{ author.name }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <input type="submit" value="Сохранить" class="button btn btn-outline-dark" id="submit" onclick="send_data_to_author()">
    <button id="reset" name="reset" class="btn btn-outline-dark">Отменить</button>

    {% csrf_token %}

</form>


<br>
<br>
<br>


<!--Всплывающее окно для сообщения об успешном сохранении изменений-->
<!--<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" data-delay="1000">-->
<!--    <div id="toastNotice" class="toast" style="position: absolute; top: 0; right: 0;">-->
<!--        <div class="toast-header">-->
<!--            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="toast-body">-->
<!--            Данные успешно обновлены-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script type="application/javascript" src="{% static 'drevo/js/subscriptions.js' %}"></script>
{% endblock %}
