{% extends 'drevo/base.html' %}

{% block title %}Список авторов{% endblock %}

{% block content %}

<h2>Авторы</h2>
<form role="search" method="get" class="w-25 mb-3">
    <input class="form-control" type="search" name="author_for_search" placeholder="Поиск по авторам..." aria-label="Search" value="{{ author_for_search }}">
</form>

<select class="author_types form-control w-25" id="select">
    <option value="all">Все</option>
    {% for type in author_types %}
    <option value="type_{{ type.id }}">
        {{ type.name }}
    </option>
    {% endfor %}
</select>

<br>
<div class="row">
    <div class="col-auto">
        <ul class="list-group">
            {% for author in authors %}
            <div class="row" name="author" id="type_{{ author.atype.id }}">
                <div class="col">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'author' author.pk %}" class="text-decoration-none d-inline-block me-3">
                            {{ author.name }}
                        </a>
                        <span class="badge bg-primary rounded-pill">{{ author.zn_num }}</span>
                    </li>
                </div>
            </div>
            {% empty %}
            <div class="row">
                <div class="col">
                    Список авторов пуст
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </ul>
    </div>
</div>

{% block jsfiles %}
<script>
    const select = document.getElementById('select');
    const authors = "author";

    select.addEventListener('change', () => {
        const selectedValue = select.value;
        const elements = document.querySelectorAll(`[name="${authors}"]`);
        elements.forEach((element) => {
            if (selectedValue === 'all' || element.id === selectedValue) {
            element.style.display = 'block';
            } else {
            element.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}