{# Главное навигационное меню #}

{% load static %}
{% load base_tags %}
{% load expert_work_tags %}

<nav class="navbar px-3 m-3">
    <div id="nav-dropdown" class="dropdown table-hover" style="display: flex; justify-content: center">
        <div class="btn-group">
            <a style="border-radius: 8px" class="btn shadow-none group-title nav-header" type="button"
               data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Наш проект <img style="height: 6px; weight: 10.5px" src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item from-nav" href="{% url 'about_proj' %}">О проекте</a></li>
                <li><a class="dropdown-item from-nav" href="{% url 'appeal' %}">Обратная связь</a></li>
                <li><a class="dropdown-item from-nav" href="{% url 'glossary' %}">Глоссарий</a></li>
                <li>
                    <div class="btn-group dropend">
                        <a onclick="logAndStop(event)" class="dropdown-item from-nav" data-bs-toggle="dropdown" aria-expanded="false">
                            Команда
                            <img style="height: 6px; weight: 10.5px; transform: rotate(-90deg)" src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
                            <span class="visually-hidden"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item from-nav" href="#">Руководители</a></li>
                            <li><a class="dropdown-item from-nav" href="#">Редакторы</a></li>
                            <li><a class="dropdown-item from-nav" href="#">Эксперты</a></li>
                            <li><a class="dropdown-item from-nav" href="{% url 'developer_page' %}">Разработчики</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a style="border-radius: 8px" class="btn shadow-none group-title nav-header" type="button"
               data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Дерево знаний
                <img style="height: 6px; weight: 10.5px" src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'knowledge' %}" id="tree_link">Всё дерево</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'popular_knowledges' %}" id="popular_link">Популярные знания</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'authors' %}" id="authors_link">Авторы</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'labels' %}" id="tags_link">Теги</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'new_knowledge'%}" id="new_knowledge_link">Новые знания</a>
                </li>
                <li>
                    <div class="btn-group dropstart">
                        <a onclick="logAndStop(event)" class="dropdown-item from-nav change-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                            Виды знаний <img src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
                            <span class="visually-hidden"></span>
                        </a>
                        <ul class="dropdown-menu scrollbar" style="overflow: auto; height: 200px">
                            {% get_knowledge_types as knowledge_types %} {% for knowledge_type in knowledge_types %}
                            <li>
                                <a class="dropdown-item from-nav" href="{% url 'knowledge_type' knowledge_type.pk %}">{{knowledge_type}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropstart">
                        <a onclick="logAndStop(event)" class="dropdown-item from-nav change-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                            Виды связей <img src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
                            <span class="visually-hidden"></span>
                        </a>
                        <ul class="dropdown-menu scrollbar" style="overflow: auto; height: 200px">
                            {% get_relation_types as relation_types %} {% for relation_type in relation_types %}
                            <li>
                                <a class="dropdown-item from-nav" href="{% url 'relation_type' relation_type.pk %}">{{relation_type}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a style="border-radius: 8px" class="btn shadow-none group-title nav-header" type="button" data-bs-toggle="dropdown"
               data-bs-auto-close="true" aria-expanded="false">
                Мнения <img style="height: 6px; weight: 10.5px" src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'interviews_all' %}">Все интервью</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav"
                       href="{% url 'znaniya_for_constructor'%}?type_of_zn=discussion_user">Дискуссии</a>
                </li>
                {% if user.is_expert %}
                    {% get_interview_in_categories user as interview %}
                    {% if interview %}
                    <li>
                        <a class="dropdown-item from-nav" href="{% url 'my_interview' %}" id="my_interview_link">Мои интервью</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <div class="btn-group">
            <a style="border-radius: 8px" class="btn shadow-none group-title nav-header" type="button" data-bs-toggle="dropdown"
               data-bs-auto-close="true" aria-expanded="false">
                Другое <img style="height: 6px; weight: 10.5px" src="{% static 'drevo/img/main_page/arrow-down.png' %}" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'all_quizzes' %}">Тесты</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav" href="{% url 'public_people' %}">Публичные люди</a>
                </li>
                <li>
                    <a class="dropdown-item from-nav"
                       href="{% url 'knowledges_grades' %}" id="grades_link">Оценки знаний</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a href="{% url 'all_algorithms' %}" style="border-radius: 8px"
               class="btn shadow-none group-title nav-header" type="button">Алгоритмы</a>
        </div>
    </div>
</nav>
<script>
    // Для визуализации активных кнопок меню
    //!!!!Зачем этот код?

    let menuLinks = document.querySelectorAll(".auto_active_link");
    for (let link of menuLinks) {
        link.classList.remove("active");
    }
    for (let link of menuLinks) {
        let currentLink = localStorage.getItem("active_link");
        if (link.id === currentLink) {
            link.classList.add("active");
        }
    }

    document.addEventListener("click", (event) => saveNextLink(event));

    function saveNextLink(event) {
        let link = event.target.closest(".auto_active_link");
        if (link) {
            localStorage.setItem("active_link", link.id);
        }
    }

    function logAndStop(event) {
        event.stopPropagation();
    }
</script>