<!-- Footer - start -->
<div class="container container-fluid mt-auto">
    <footer class="static-bottom d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <div class="d-flex">
            <p class="mb-0 text-muted">© 2020–2023 Все права защищены</p>
            <p class="mb-0 ms-3" style="color: #212529">Научно-образовательный проект «Дерево знаний»</p>
        </div>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{% url 'about_proj' %}" class="nav-link px-2 text-muted">О проекте</a></li>
            <li class="nav-item">
                <a href="{% url 'privacy' %}" class="nav-link px-2 text-muted">Политика обработки Персональных данных</a>
            </li>
        </ul>
    </footer>
</div>
<!-- Footer - end -->