{# Базовый шаблон #}

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'drevo/img/favicon.svg' %}" />

        <!-- Project CSS -->
        <link rel="stylesheet" type="text/css" href="/static/drevo/css/main_page.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        {% block cssfiles %}
        {% endblock %}

        <title>{% block title %}Дeрево{% endblock %}</title>
    </head>

    <body class="d-flex flex-column min-vh-100" style="background-color: #f1f2f7">
        <!-- Navigation bar start -->
        <div class="sticky-top">
            <div class="container-fluid header-bottom" style="background-color: #ffffff">
                <div class="container" style="display: grid; align-content: center; height: 100%">
                    <div class="d-flex flex-wrap align-items-center" style="justify-content: space-between">
                        <div class="col-auto">
                            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                                <li class="nav-item row">
                                    <div class="logo me-2 col-auto">
                                        <a class="auto_active_link" href="{% url 'drevo' %}" id="tree_link">
                                            <img src="{% static 'drevo\img\main_page\navbar_tree_white.png' %}" height="46px" alt="logo-tree" />
                                        </a>
                                    </div>
                                    <div class="col p-0">
                                        <div class="header-bottom-title">Дерево знаний</div>
                                        <div class="header-bottom-subtitle">Научно-образовательный проект</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% include 'drevo/base_nav_menu.html' %}
                        {% include 'drevo/base_profile_menu.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation bar end -->

        <div class="container-fluid px-0">{% block precontent %}{% endblock %}</div>

        <!-- Main content -->
        <div class="container">
            <div class="row">
                <div class="col mt-3" style="position: relative">{% block content %} {% endblock %}</div>
            </div>
        </div>
        {% include 'drevo/base_cookie_agree.html' %}
        <!-- Main content end-->

        <!-- Footer - start -->
        <div class="container container-fluid mt-auto">
            <footer class="static-bottom d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
                <div class="d-flex">
                    <p class="mb-0 text-muted">© 2020–2023 Все права защищены</p>
                    <p class="mb-0 ms-3" style="color: #212529">Научно-образовательный проект «Дерево знаний»</p>
                </div>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="{% url 'about_proj' %}" class="nav-link px-2 text-muted">О проекте</a></li>
                    <li class="nav-item">
                        <a href="{% url 'privacy' %}" class="nav-link px-2 text-muted">Политика обработки Персональных данных</a>
                    </li>
                </ul>
            </footer>
        </div>
        <!-- Footer - end -->

        <script>
            // Для визуализации активных кнопок меню
            let menuLinks = document.querySelectorAll(".auto_active_link");
            for (let link of menuLinks) {
                link.classList.remove("active");
            }
            for (let link of menuLinks) {
                let currentLink = localStorage.getItem("active_link");
                if (link.id === currentLink) {
                    link.classList.add("active");
                }
            }

            document.addEventListener("click", (event) => saveNextLink(event));

            function saveNextLink(event) {
                let link = event.target.closest(".auto_active_link");
                if (link) {
                    localStorage.setItem("active_link", link.id);
                }
            }

            function logAndStop(event) {
                event.stopPropagation();
            }
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>

        {% block jsfiles %} {% endblock jsfiles %}

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </body>
</html>
