{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}История просмотров{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info px-2">
    <h1>История просмотров</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item"><a {% if link == 'users:myprofile' %} href="{% url 'users:my_profile' %}" {% else %} href="{% url link id %}" {% endif %}>Профиль</a></li>
          <li class="breadcrumb-item"><a>Изучение знаний</a></li>
          <li class="breadcrumb-item opened"><a>История просмотров</a></li>
        </ol>
    </nav>
</div>

{% include 'drevo/include/profile_header.html' with pub_user=pub_user link=link id=id activity=activity sections=sections invite_count=invite_count new_knowledge_feed=new_knowledge_feed new_messages=new_messages new=new %}

<p class="author-title pb-1">История просмотров</p>

<div class="basic">
    {% for item in history %}
        <a href="{% url 'zdetail' pk=item.znanie.pk %}" class="text-dark title">
            {{ item.znanie.name }}
        </a>
        <div class="row my-2 border-bottom py-3">
            <div class="col-8">
                {{ item.znanie.content | safe | truncatewords_html:30}}
            </div>
            <div class="col-4 text-end pt-2">
                <div class="text-start">
                    <span class="text-muted">
                        Вид знания: 
                    </span>
                    <span>
                        {{ item.znanie.tz.name }}
                    </span>
                    <br>
                    <span class="text-muted">
                        Категория знания: 
                    </span>
                    <span>
                        {{ item.znanie.category.name }}
                    </span>
                    <br>
                    <span class="text-muted">
                        Автор: 
                    </span>
                    <span>
                        {{ item.znanie.author.name }}
                    </span>
                    <br>
                    <span class="text-muted">
                        Изменено: 
                    </span>
                    <span>
                        {{ item.znanie.updated_at | timesince }}
                    </span>
                    <br>
                </div> 
            </div>
        </div>
    {% empty %}
        <span class="text-muted">
            Список просмотров пуст
        </span>
    {% endfor %}
</div>
</div>

{% endblock %}
