{% load static %}

{% if comments %}
    <div class="row {% if comments.0.parent %}collapse{% endif %}" style="--bs-gutter-x: 0;"
         {% if comments.0.parent %}id="collapsedAnswers{{ comments.0.parent.id }}"{% endif %}>
        {% if comments.0.parent %}
            <div class="col-auto">
                <a class="sticky-top m-2" title="Вернутся на уровень выше" style="cursor: pointer;"
                   onclick="scrollToComment({{ comments.0.parent.id }})">
                    <img src="{% static 'drevo/img/corner-right-down-arrow.svg' %}"
                         alt="arrow" width="20px" height="20px" style="opacity: 0.5; vertical-align: top"/>
                </a>
            </div>
        {% endif %}
        <div class="col">
            {% for comment in comments %}
{#                {% if forloop.counter <= offset %}#}
                    {% include 'drevo/comments_card.html' with comment=comment %}
                    <div class="answers-block" id="answersBlock{{ comment.id }}">
                        {% if comment.answers.exists %}
                            {% include 'drevo/comments_list.html' with comments=comment.get_answers %}
                        {% endif %}
{#                        {% if is_first_page %}#}
{#                            <div class="my-1" id="commentsListSpinner{{ comment.id }}">#}
{#                                <div class="d-flex justify-content-center">#}
{#                                    <div class="spinner-border" role="status" style="display: none"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>
{#                {% endif %}#}
            {% endfor %}

        </div>
    </div>
{#    {% if comments.count >= offset %}#}
{#        {% if is_first_page %}#}
{#            <div class="row mb-2">#}
{#                <div class="my-1" id="commentsListSpinner{{ comment.id }}">#}
{#                    <div class="d-flex justify-content-center">#}
{#                        <div class="spinner-border" role="status" style="display: none"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="d-flex justify-content-center my-1">#}
{#                        <button class="btn btn-outline-secondary"#}
{#                                style="display: {% if comments.answers.count > offset %} inherit {% else %} none {% endif %}"#}
{#                                id="loadMoreCommentsButton{{ comments.0.parent.id }}"#}
{#                                onclick="getComments(this)">#}
{#                            Загрузить ещё#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endif %}#}
{% endif %}
