{% load static %}

{% if comments %}
    <div class="row {% if comments.0.parent %}collapse{% endif %}" style="--bs-gutter-x: 0;"
         {% if comments.0.parent %}id="collapsedAnswers{{ comments.0.parent.id }}"{% endif %}>
        {% if comments.0.parent %}
            <div class="col-auto">
                <a class="sticky-top m-2" title="Вернутся на уровень выше" style="cursor: pointer;"
                   onclick="scrollToComment({{ comments.0.parent.id }})">
                    <img src="{% static 'drevo/img/corner-right-down-arrow.svg' %}"
                         alt="arrow" width="20px" height="20px" style="opacity: 0.5; vertical-align: top"/>
                </a>
            </div>
        {% endif %}
        <div class="col">
            {% for comment in comments %}
                {% if forloop.counter > offset %}
                    {% include 'drevo/comments_card.html' with comment=comment card_is_hidden=True %}
                {% else %}
                    {% include 'drevo/comments_card.html' with comment=comment card_is_hidden=False %}
                {% endif %}
            {% endfor %}
            {% if comments.0.parent and comments.count > offset %}
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <a role="button" class="link-primary text-decoration-none mt-2 mb-4" data-offset="{{ offset }}"
                               id="showMoreAnswersButton{{ comments.0.parent.id }}" onclick="showMoreAnswersClick(this)">
                                Ещё ответы
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
