{% extends 'drevo/base.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block title %}Создание документа{% endblock %}

{% block content %}
    {{ doc_user }}
    {{ doc_pk }}

    <form method="post">
        {% csrf_token %}
        {{ document_form.as_p }}
        <button type="submit">Submit</button>
    </form>

<script type="application/javascript" src="{% static 'drevo/js/toggle_element.js' %}"></script>
<script type="application/javascript" src="{% static 'drevo/js/appeal.js' %}"></script>
{% endblock %}