{% extends 'base.html' %}
{% load mptt_tags %}
{% load filter %}


{% block cssfiles %}
<style>
ul.root > li > ul li {
  list-style-type: circle;
}

ul.root > li {
  list-style: none;
}

</style>

{% endblock %}

{% block content %}
<h1>Древо</h1>


<ul class="root">
    {% recursetree ztypes %}
    <li {% if node.get_level == 0 %}style="font-weight: 600;"{% else %}style="font-weight: 400;"{% endif %}>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>

            <ul>
              {% for zn in zn_dict|dict_value:node.name %}
              <li style="font-weight: 400;"><a href="{{ zn.get_absolute_url }}" style="color: rgb(155, 75, 0);">{{ zn.name }}</a></li>
              {% endfor %}                
            </ul>

            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            
        </li>
    {% endrecursetree %}
</ul>

{% endblock %}


{% comment "Временное отключаем js скрипт для разворачивания дерева" %}

{% block jsfiles %}
<script>
window.onload = function() {
  for (let item of document.querySelectorAll('.root > li > ul')) {
   item.hidden = true;
  }
}

for (let item of document.querySelectorAll('.root > li')) {
   let itag = document.createElement('i');
    itag.classList.add('bi');
    itag.classList.add('bi-file-plus-fill');
    item.prepend(itag);
    itag.style.color = '#FFCC66';
  }

for (let item of document.querySelectorAll('.root > li > i')) {
  item.addEventListener("click", function(event) {
                       let ulka = event.target.parentNode.querySelector("li > ul");
                       ulka.hidden = !ulka.hidden;

                      let itag = event.target;
                      if (ulka.hidden) {
                        itag.classList.add("bi-file-plus-fill");
                        itag.classList.remove("bi-file-minus-fill");
                      } else {
                        itag.classList.remove("bi-file-plus-fill");
                        itag.classList.add("bi-file-minus-fill");
                      }

                                           })
};
</script>

{% endblock %}

{% endcomment %}