{% extends 'base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block precontent %}
<div class="container-fluid bg-ligth px-0">
  <div class="row">
      <picture class="tree-main">
          <source srcset="{% static 'drevo\img\main_page\base_tree_576px.webp' %}" media="(max-width: 768px)">
          <img class="img-fluid position-absolute top-0 end-0" src="{% static 'drevo\img\main_page\background_tree_crpd.webp' %}" alt="tree_background">
      </picture>

  </div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
      <div class="col-sm-8 col-md-9 col-lg-7 col-xl-6 p-2 p-sm-6 p-md-6 p-lg-10 my-5">
          <h1 class="h1-drevo display-3 fw-bold mb-4" >Дерево знаний</h1>
          <p class="main-about-p">
              Общественно-политический проект. Создание концентрата знаний в форме дерева (графа) знаний.
          </p>
          <p class="main-about-p">Мы хотим поделиться своей находкой, столь же необычной, сколь и необходимой.
              Информационный перегруз породил проблему – клиповое мышление, ориентированное на очень короткие
              видео, аудио, тексты, длинные же почти сразу бросают. Интернет создал проблему, он ее и решит.
          </p>
      </div>
  </div>
  <div class="container-fluid main-quote p-3 p-md-4">
      <figure>
          <blockquote class="blockquote">
              <p class="quote">
                  Усилиями многих людей сухая теория может зазеленеть листьями дерева знаний.
              </p>
          </blockquote>
          <figcaption class="blockquote-footer">
              <cite title="Source Title"> Л.В. Бояркин</cite>
          </figcaption>
      </figure>
  </div>
</div>
{% endblock %}

{% block content %}
<h1 class="h1-drevo my-3">Дерево</h1>

<button type="button" class="btn btn-secondary btn-sm" onclick="showAll();">развернуть древо</button>
&nbsp;<button type="button" class="btn btn-secondary btn-sm" onclick="hiddenAll();">cвернуть древо</button>

<br><br>

<ul class="root ps-0" id="tree_root">
  {% recursetree ztypes %}
  <li {% if not node.get_level %} style="font-weight: 600;" {% else %} style="font-weight: 400;" {% endif %}
    id="li_{{ node.id }}">


    {% if not node.has_published_children and zn_dict|dict_value:node.name|length_is:"0" %}
    <i class="bi-file-plus-fill lonely"></i>
    {% else %}
    <i class="family bi-file-plus-fill" onclick="toggleHiddenElement(this);"></i>
    {% endif %}
    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>

    <ul hidden>
      {% for zn in zn_dict|dict_value:node.name %}
      <li style="font-weight: 400;"><i class="bi-file-text-fill" style="color: #99CCFF;"></i> <a
          href="{{ zn.get_absolute_url }}">{{ zn.name }}</a></li>
      {% endfor %}
    </ul>

    {% if not node.is_leaf_node %}
    <ul class="children" hidden>
      {{ children }}
    </ul>
    {% endif %}

  </li>
  {% endrecursetree %}
</ul>

{% endblock %}




{% block jsfiles %}

<script>

  function toggleHiddenElement(element) {
    let li_id = element.parentNode.id;
    let selector_string = "li#" + li_id + " > ul";
    let ulToHidden = document.querySelectorAll(selector_string);
    ulToHidden.forEach(function (item) {
      item.hidden = !item.hidden;
    })

    if (element.classList.contains("bi-file-minus-fill")) {
      element.classList.remove("bi-file-minus-fill")
      element.classList.add("bi-file-plus-fill");
    }
    else {
      element.classList.remove("bi-file-plus-fill")
      element.classList.add("bi-file-minus-fill");
    }
  }

  function showAll() {
    let ulToHidden = document.querySelectorAll('ul#tree_root ul');

    ulToHidden.forEach(function (x) {
      x.hidden = false;
    }
    )

    let treeRoot = document.getElementById("tree_root");
    let listIconsToChange = treeRoot.querySelectorAll('.bi-file-plus-fill');
    for (let icon of listIconsToChange) {
      icon.classList.remove("bi-file-plus-fill")
      icon.classList.add("bi-file-minus-fill");
    }

  }

  function hiddenAll() {
    let ulToHidden = document.querySelectorAll('ul#tree_root ul');
    ulToHidden.forEach(function (item) {
      item.hidden = true;
    })

    let treeRoot = document.getElementById("tree_root");
    let listIconsToChange = treeRoot.querySelectorAll('.bi-file-minus-fill');
    for (let icon of listIconsToChange) {
      icon.classList.remove("bi-file-minus-fill")
      icon.classList.add("bi-file-plus-fill");
    }

  }


</script>

{% endblock %}