{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block precontent %}
<div class="container-fluid bg-ligth px-0">
  <div class="row">
      <picture class="tree-main">
          <source srcset="{% static 'drevo\img\main_page\base_tree_576px.webp' %}" media="(max-width: 768px)">
          <img class="img-fluid position-absolute top-0 end-0" src="{% static 'drevo\img\main_page\background_tree_crpd.webp' %}" alt="tree_background">
      </picture>

  </div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5">
      <div class="col-sm-8 col-md-9 col-lg-7 col-xl-6 p-2 p-sm-6 p-md-6 p-lg-10 my-5">
          <h1 class="h1-drevo display-3 fw-bold mb-4" >Дерево знаний</h1>
          <p class="main-about-p">
              Научно-образовательный проект.  Концентрат знаний в форме дерева (графа) знаний
          </p>
          <p class="main-about-p">
              Мы хотим поделиться нашей находкой, столь же необычной, сколь и необходимой.    Предлагается концентрат знаний в форме дерева знаний.
          </p>
      </div>
  </div>
  <div class="container-fluid main-quote mt-10 p-3 p-md-4">
      <figure>
          <blockquote class="blockquote">
              <p class="quote">
                  Обычный интернет дает информацию, мы – знания
              </p>
          </blockquote>
          <figcaption class="blockquote-footer">
              <cite title="Source Title">Л.В. Бояркин</cite>
          </figcaption>
      </figure>
  </div>
    <div class="container-fluid bg-ligth px-0">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5">
          <p class="main-about-p">
              С древнейших времен информация дается нам в форме текстов, содержащих, как сами знания, так и их
              аргументацию - наборы других знаний со своей аргументацией и т.д.  Раньше тексты печатались на бумаге.
              Сейчас появились аудио и видеоматериалы.  По сути, это те же тексты, только здесь поток символов, заменен
              на поток звуков или кадров.
          </p>
          <p class="main-about-p">
              Интернет, предлагая море информации, казалось бы, дает безграничные возможности для развития. Но, это не
              совсем так.  Все то, что мы можем прочитать, услышать, увидеть, всё это ещё не знания, а всего лишь
              информация.  Знанием она станет только тогда, когда в сознании вдумчивого человека оформится система
              из самого знания и связанных с ним доводов «за» и «против».  Учится сложно еще и потому, что интернет
              – не только море информации, но и свалка, где много дублирующих материалов.  Значит, очень не просто
              выбрать самый нужный, самый надежный материал.  Поэтому трудно заставить себя углубиться в его изучение
              – есть сомнение, а вдруг где-то лучше об этом сказано.  И скользишь по диагонали.  Хорошие знания при
              этом почти не образуются.
          </p>
          <p class="main-about-p">
              А, смартфоны?  Большинство людей используют именно их.
              Читать большие тексты на маленьких экранах очень неудобно.
          </p>
          <p class="main-about-p">
              Информационный перегруз породил клиповое мышление, т.е. ориентацию людей на очень короткие видео, аудио,
              тексты.  Как следствие, не станет ли интернет причиной умственной деградации людей?  Нет, не станет!
              Интернет создал проблему, он ее и решит.
          </p>
          <p class="main-about-p">
              Наша технология решает проблему клипового мышления. В дереве знаний почти нет текстов.  Основной объект,
              называемый знанием, это, как правило, одно предложение.  У каждого знания есть свои автор. Знания бывают
              разных видов: тезис (утверждение), факт, цитата и т.д.  Если знание имеет аргументацию, то это значит,
              что оно связано с другими знаниями связями видов «Аргумент», «Контраргумент» и т.д.
              Так образуются иерархические системы знаний.  Вот пример знания.
          </p>
          <p>Аграрная реформа в целом оценивается положительно</p>
          <ul style="list-style-type: disc;">
                <li>
                    Аргумент [ы]
                    <ul style="list-style-type: disc;">
                        <li>
                            Тезис✐<a href="/drevo/znanie/7">Массовый рост числа фермерских хозяйств</a> , Шубин А.В. - историк
                        </li>
                        <li>
                            Тезис✐<a href="/drevo/znanie/9">начительное увеличение числа земельных собственников</a> , Шубин А.В. - историк
                        </li>
                    </ul>
                </li>
                <li>
                    Контраргумент [ы]
                    <ul style="list-style-type: disc;">
                        <li>
                            Тезис✐<a href="/drevo/znanie/8">Жесткое администрирование при проведении реформы</a> , Шубин А.В. - историк
                        </li>
                    </ul>
                </li>
            </ul>
          <p class="main-about-p">
              Преимущества Дерева знаний:
            <ul style="list-style-type: disc;">
                <li>
                    Вместо аморфной информации мы даем уже готовые, уже структурированные в смысловом отношении системы знаний.
                </li>
                <li>
                    Поражает краткость систем знаний в сравнении с традиционной информацией.
                </li>
                <li>
                    Это реализация коллективного интеллекта, когда Дерево знаний строится силами многих экспертов, при абсолютной прозрачности вклада каждого из них.
                </li>
            </ul>
          </p>
          <p class="main-about-p">
              Дерево знаний может успешно использовать в образовании для создания справочников знаний, своего рода,
              конспектов по различным сферам знаний. В создании таких материалов могут принимать участие преподаватели
              различных учебных заведений.
          </p>
          <p class="main-about-p">
              Дерево знаний – средство проведения дискуссий, бесконечных во времени, в результате которых рождаются
              новые и растут старые ветви дерева.
          </p>
      </div>
    </div>
  <div class="container-fluid main-quote mt-10 p-3 p-md-4">
      <figure>
          <blockquote class="blockquote">
              <p class="quote">
                  Рождается новый интернет.  Это интернет знаний
              </p>
          </blockquote>
          <figcaption class="blockquote-footer">
              <cite title="Source Title">Л.В. Бояркин</cite>
          </figcaption>
      </figure>
  </div>
</div>
{% endblock %}