{% extends 'drevo/base.html' %}
{% load base_tags %}
{% load static %}

{% block title %}Глоссарий{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info" style="padding-left: 0px;">
    <h1 class="page-title">Глоссарий</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a>Глоссарий</a></li>
        </ol>
    </nav>
</div>
<div class="basic">
    <form role="search" method="get" class="search-block">
        <input type="hidden" name="order" value="{{ ordering.1 }}">
        <input class="form-control icon" type="search" name="glossary_term_for_search" placeholder="Поиск" aria-label="Search"
               value="{{ glossary_term_for_search }}">
    </form>

<div class="d-grid" style="gap: 16px; margin-top: 25px;">
{% for info in glossary_categories_and_terms %}
{% if info.name_category != None %}
    {% for category in info.name_category %}

        <div class="glossary-category">
            <div class="circle-close" onclick="toggleHiddenCategories(this);">
                <span></span>
                <span></span>
            </div>
        
            <span class="title" style="padding-left: 21px;">{{category.name}}</span>

            <div class="glossary-set-terms" hidden>
                {% for term in info.set_terms %}
                    {% if category == term.category %}
                        <div class="glossary-term">
                            <i class="bi bi-play-circle-close" onclick="toggleHiddenElement(this);"></i>
                            <span class="title" style="padding-left: 21px;">{{ term.name }}</span>
                            <div class="small-title" style="padding-left: 48px; margin-top: 1rem;" hidden>{{ term.description|safe }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    
    <div class="glossary-category none_category">
        <div class="circle-close" onclick="toggleHiddenCategories(this);">
            <span></span>
            <span></span>
        </div>
    
        <span class="title" style="padding-left: 21px;">Без категорий</span>

        <div class="glossary-set-terms" hidden>
            {% for term in info.set_terms %}
                {% if term.category == None %}
                    <div class="glossary-term">
                        <i class="bi bi-play-circle-close" onclick="toggleHiddenElement(this);"></i>
                        <span class="title" style="padding-left: 21px;">{{ term.name }}</span>
                        <div class="small-title" style="padding-left: 48px; margin-top: 1rem;" hidden>{{ term.description|safe }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% else %}

    {% for term in info.set_terms %}
        <div class="glossary-term">
            <i class="bi bi-play-circle-close" onclick="toggleHiddenElement(this);"></i>
            <span class="title" style="padding-left: 21px;">{{ term.name }}</span>
            <div class="small-title" style="padding-left: 48px; margin-top: 1rem;" hidden>{{ term.description|safe }}</div>
        </div>

    {% empty %}
        <div class="row">
            <div class="col">
                Нет терминов
            </div>
        </div>
    {% endfor %}

</div>

{% endif %}
{% endfor %}


<script>
    //если не будет терминов без категорий то display=none
    let none_category = document.querySelector('.glossary-category.none_category');
    if (!none_category.querySelector('.glossary-set-terms').querySelectorAll(".glossary-term").length) {
        none_category.style.display = "none";
    };

    function fakeSelect() {
        let selectHeader = document.querySelectorAll('.select__header');
        let selectItem = document.querySelectorAll('.select__item');

        selectHeader.forEach(item => {
            item.addEventListener('click', selectToggle);
        });

        function selectToggle() {
            this.parentElement.classList.toggle('is-active');
        }
    };

    fakeSelect();

    function toggleHiddenElement(element) {
        element.parentNode.querySelector('.small-title').hidden = !element.parentNode.querySelector('.small-title').hidden;

        if (element.classList.contains("bi-play-circle-open")) {
            element.classList.remove("bi-play-circle-open")
            element.classList.add("bi-play-circle-close");
            element.parentNode.style.background = 'white';
        } else {
            element.classList.remove("bi-play-circle-close")
            element.classList.add("bi-play-circle-open");
            element.parentNode.style.background = 'rgba(245, 245, 245, 0.75)';
        }
    }

    function toggleHiddenCategories(element) {
        element.parentNode.querySelector('.glossary-set-terms').hidden = !element.parentNode.querySelector('.glossary-set-terms').hidden;

        if (element.classList.contains("circle-open")) {
            element.classList.remove("circle-open");
            element.classList.add("circle-close");

            // чтобы открытые термины закрывались по закрытию категорий
            let playCircleOpenElements = element.parentNode.querySelectorAll(".bi-play-circle-open");
            playCircleOpenElements.forEach(element_open => {
                toggleHiddenElement(element_open);
            });
            
        } else {
            element.classList.remove("circle-close")
            element.classList.add("circle-open");
        }
    };

</script>
{% endblock %}