{% extends 'drevo/base.html' %}

{% block title %}Глоссарий{% endblock %}

{% block content %}

<h1>Глоссарий</h1>

{% for term in glossary_terms %}
<button class="container btn navbar bg-opacity-75 navbar-toggler text-white p-3 mt-3 rounded-0" data-bs-toggle="collapse" data-bs-target="#term_info{{ term.id }}" style="outline: none; box-shadow: none; background-color:#083E2F;">
    <div>
        <h3>{{ term.name }}</h3>
    </div>
</button>
<div class="collapse text-white rounded-0" id="term_info{{ term.id }}" style="background-color:#23755E;">
    <div class="mx-4">
        {{ term.description|safe }}
    </div>
</div>
<br>
{% empty %}
<div class="row">
    <div class="col">
        Глоссарий пуст
    </div>
</div>
{% endfor %}

{% endblock %}