{% extends 'drevo/base.html' %}

{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/interviews_table_and_all.css' %}">
{% endblock %}
<head><title>{% block title %}Авторы Интервью{% endblock %}</title></head>
{% block content %}

<h1>{{ interview_this }} - Интервью</h1>
<div style="overflow-x:auto;">
  <ul class="treeInterview">
    <ul>
      <table border-width="2px">
        {% if table %}
          <tr>
            <th class="graphs" rowspan="2">ФИО</th>
            <th class="graphs" colspan="{{ table.0|length }}">Вопросы интервью</th>
          </tr>
        {% else %}
          <h5>Вопросов интервью ещё нет</h5>
        {% endif %}
        <tr>
          {% for question in table.0 %} 
              {% if not forloop.first %}
                  <th class="graphs">{{ question }}</th>
              {% endif %}
          {% endfor %}
        </tr>
          {% for row in table %}
              {% if not forloop.first %}
                  <tr>
                      <!-- И.О.Ф -->
                      <td>{{ row.0 }}</td>
                      {% for cell in row %}
                          {% if not forloop.first %}
                              <td>
                                  {% if cell != "-" %}
                                      <span class="span-table">{{ cell }}</span></br>
                                  {% else %}
                                      <p class="minus-table">{{ cell }}</p>
                                  {% endif %}
                              </td>
                          {% endif %}
                      {% endfor %}
                  </tr>
              {% endif %}
          {% endfor %}
      </table>
    </ul>
  </ul>
</div>
{% endblock %}