{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}Интервью: {{ znanie.name }}{% endblock %}

{% block content %}

<h1 class="title-interview">{{ znanie.name }}</h1>

<a href="{% url 'zdetail' znanie.pk %}">{% url 'zdetail' znanie.pk %}</a>

<hr>

{% for q, my_answer in q_true.items %}
  <div class="question-interview">
    <a href="{% url 'zdetail' q.id %}"
       class="{% if my_answer %}interview-end{% else %}interview-start{% endif %}">
      {{q}}
    </a>
    <a href="{% url 'question_expert_work' znanie.id q.id  %}">Перейти к экспертизе</a>
  </div>
{% endfor %}
<br>
<h5>Легенда:</h3>
<div class="interview-end">Вопросы, на которые эксперт ответил</div>
<div class="interview-start">Вопросы, на которые эксперт не ответил</div>


<style>
  .title-interview {
    display: inline;
    margin-right: 60%;
  }
  .question-interview > a {
    text-decoration: none;
  }
  .question-interview {
    margin-bottom: 5px;
  }
  .interview-end {
    color: green;
  }
  .interview-start {
    color: red;
  }
</style>

{% endblock %}
