{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info">
    <h1>{{title}}</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item"><a {% if link == 'users:myprofile' %} href="{% url 'users:my_profile' %}" {% else %} href="{% url link id %}" {% endif %}>Профиль</a></li>
          <li class="breadcrumb-item"><a>Активность</a></li>
          <li class="breadcrumb-item opened"><a>{{title}}</a></li>
        </ol>
    </nav>
</div>

{% include 'drevo/include/profile_header.html' with pub_user=pub_user link=link id=id activity=activity sections=sections %}
{{h}}
{% if proposal_results %}
    <ul style="padding: 0px;margin-top:15px;">
        <li id="all_info">
            <i class="family bi-file-plus-fill" onclick="toggleHiddenElement(this);"></i>
            <a style="font-size: 24px">{{title}}</a>
            <ul class="children" hidden>
                {%for interview_name, questions_and_answers in proposal_results.items %}
                <li style="font-weight: 400;" id="interview_info">
                <i class="family bi-file-plus-fill" onclick="toggleHiddenElement(this);"></i>
                <a id="interview_sumup" style="font-size: 20px;">Интервью: {{interview_name}}</a>
                <ul class="children" hidden>
                    {%for question_name, answers in questions_and_answers.items %}
                    <li style="font-weight: 400;" id="question_info">
                        <i class="family bi-file-plus-fill" onclick="toggleHiddenElement(this);"></i>
                        <a id="question_sumup" style="font-size: 18px;">Вопрос: {{question_name}}</a>
                        <ul class="children" hidden>
                            {%for answer_name in answers %}
                            <li style="font-weight: 400;">
                                <p id="answer_type" style="margin: 0;" >Ответ: {{answer_name.0}} - {{answer_name.1}}</p>
                            </li>
                            {%endfor%}
                        </ul>
                    </li>
                    {%endfor%}
                </ul>
                </li>
                {%endfor%}
            </ul>
        </li>
    </ul>
</div>
{% endif %}

{% endblock %}
{% block jsfiles %}
<script>
function showFirst() {
    all_quizzes = document.querySelectorAll('#interview_info');
    let num_for_id = 0;
        for(let f=0; f< all_quizzes.length; f++){
            all_quizzes[f].id = 'li_'+num_for_id;
            num_for_id += 1
            let countans = 0;
            all_answers_in_blocks = all_quizzes[f].querySelectorAll('#answer_type');
            all_questions = all_quizzes[f].querySelectorAll('#question_info');
            for(let r=0; r<all_questions.length; r++){
                all_questions[r].id = 'li_'+num_for_id;
                num_for_id += 1
                answers = all_questions[r].querySelectorAll('#answer_type');
                let question_result = 0;
                for(let o=0; o<answers.length; o++){
                    full_answer = answers[o].textContent.split(' ');
                    delete full_answer[full_answer.length-1];
                    if(answers[o].textContent.endsWith('True')==true||answers[o].textContent.endsWith('APPRVE')==true){
                        answers[o].style.color = 'green';
                        if(answers[o].textContent.endsWith('APPRVE')==true){
                            answers[o].innerHTML = full_answer.join(' ')+'принят';
                        }else{
                            answers[o].innerHTML = full_answer.join(' ')+'эксперт согласен с ответом';
                        }
                    }else{
                        answers[o].style.color = 'red';
                        if(answers[o].textContent.endsWith('REJECT')==true){
                            answers[o].innerHTML = full_answer.join(' ')+'не принят';
                        }else if(answers[o].textContent.endsWith('RESDPL')==true){
                            answers[o].innerHTML = full_answer.join(' ')+'дублирует предложение';
                        }else if(answers[o].textContent.endsWith('ANSDPL')==true){
                            answers[o].innerHTML = full_answer.join(' ')+'дублирует ответ';
                        }else if(answers[o].textContent.endsWith('False')==true){
                            answers[o].innerHTML = full_answer.join(' ')+'эксперт не согласен с ответом';
                        }
                    }
                }
            }
        }
}
showFirst()


function toggleHiddenElement(element) {
    let li_id = element.parentNode.id;
    let selector_string = "li#" + li_id + " > ul";
    let ulToHidden = document.querySelectorAll(selector_string);
    ulToHidden.forEach(function (item) {
      item.hidden = !item.hidden;
    })

    if (element.classList.contains("bi-file-minus-fill")) {
      element.classList.remove("bi-file-minus-fill")
      element.classList.add("bi-file-plus-fill");
    }
    else {
      element.classList.remove("bi-file-plus-fill")
      element.classList.add("bi-file-minus-fill");
    }
}

</script>
{% endblock %}