{% extends 'drevo/base.html' %}
{% load knowledge_tree %}

{% block title %} Вид знания | {{ type_name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mt-3 border-bottom border-dark mb-3">
        <h2>Все знания вида <b>{{ type_name }}</b></h2>
    </div>
    {% if knowledge %}
    {% build_knowledge_tree queryset=knowledge empty_tree_message='Знаний этого вида ещё нет' %}
    {% else %}
    <div class="text-center mt-3">
        <p class="fs-4">Знаний этого вида ещё нет</p>
    </div>
    {% endif %}
    <div>
        <h2>Легенда</h2>
        <h4 class="text-success">Знания указанного вида</h4>
        <h4 class="">Знания других видов</h4>
    </div>
</div>
{% endblock %}