{% extends 'drevo/base.html' %}
{% load grades %}
{% load custom_humanize %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row justify-content-between">
        <div class="col-auto ">
            <a class="text-decoration-none" href="{{ knowledge.get_absolute_url }}">
                <i class="bi bi-arrow-left" style="font-size: 1.4rem; font-style: normal;">
                        {{ knowledge.name }}
                </i>           
            </a>
        </div>
        <div class="col-2 ">
            <a href="{% url 'grade_statistic' knowledge.id %}" class="btn btn-secondary">Статистика оценок</a>
        </div> 
    </div>
    <h2 class="my-2">{{ title }}</h2>

    {% if not user.is_authenticated %}
        <div class="col">
            <div class="row">
                <div class="card alert-warning my-4">
                    <div class="card-body">
                      <span class="card-text">
                        <a href="{% url 'users:login' %}?next={{ request.path }}"
                           style="text-decoration: none">Войдите</a>
                        или
                        <a href="{% url 'users:register' %}" style="text-decoration: none">зарегистрируйтесь</a>,
                        чтобы поставить оценку.
                      </span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if proof_relations.exists %}
            <div class="my-4">
                <form action="{{ request.get_full_path }}" method="get" id="modeForm">
                    <div class="d-flex flex-row align-items-center">
                        <span><strong>Вариант расчета:</strong></span>
                        <span class="ms-2">
                        <fieldset id="variant" class="input-group">
                            <span style="white-space: nowrap">
                                <input class="ms-2" type="radio" id="var1" name="variant" value="1"
                                        {% if request.GET.variant == '1' %} checked {% endif %}>
                                <label for="var1">Оценка знания</label>
                            </span>
                            <span style="white-space: nowrap">
                                <input class="ms-2" type="radio" id="var2" name="variant" value="2"
                                        {% if request.GET.variant != '1' %} checked {% endif %}>
                                <label for="var2">Общая оценка знания</label>
                            </span>
                        </fieldset>
                    </span>
                    </div>
                </form>
            </div>
        {% endif %}

        <form action="{{ request.get_full_path }}" method="post" id="gradeForm">
            {% csrf_token %}
            <input type="hidden" name="variant" readonly value="{{ request.GET.variant }}">
            <table class="table-sm table-borderless"
                   style="border-collapse: collapse; word-break: break-word;">
                <tbody>
                <tr>
                    <th>Оценка знания:</th>
                    <td>
                        <select name="base_knowledge_grade" id="id_base_knowledge_grade">
                            {% for grade in knowledge_scale %}
                                <option value="{{ grade.id }}" data-base-grade="{{ grade.get_base_grade }}"
                                        {% if selected_base_grade and selected_base_grade.grade == grade %}
                                        selected {% endif %}>
                                    {{ grade.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td id="currentGrade" style="width: 48px">
                        {% if selected_base_grade %}
                            {% if selected_base_grade.grade.get_base_grade == 2.0 %}
                            {% else %}
                                {{ selected_base_grade.grade.get_base_grade|floatformat:-2 }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if proof_relations.exists %}
                    <tr>
                        <th>Оценка доказательной базы:</th>
                        <td>{{ proof_base_grade.name }}</td>
                        <td>{{ proof_base_value|floatformat:-2 }}</td>
                    </tr>
                    <tr>
                        <th>Общая оценка знания:</th>
                        <td>{{ common_grade.name }}</td>
                        <td>{{ common_grade_value|floatformat:-2 }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            {% if proof_relations.exists %}
                <h4 class="text-center my-4">Доказательная база знания</h4>
<!--                <div class="table-responsive" style="resize: horizontal;">-->
                    <table class="table align-middle my-2" style="border-collapse: collapse; display: inline-block;">
                        <style>
                        .table-border {
                            border: 2px black solid;
                        }
                        </style>
                        <tbody class="table-border">
                        <th class="table-border text-center">
                            Знание
                        </th>
                        <th class="table-border text-center">
                            Вид связи
                        </th>
                        <th colspan="2" class="table-border text-center">
                            Оценка довода
                        </th>
                        <th colspan="2" class="table-border text-center">
                            Общая оценка знания
                        </th>
                        <th colspan="2" class="table-border text-center">
                            Оценка знания
                        </th>
                        <th colspan="2" class="table-border text-center">
                            Оценка связи
                        </th>
                        {% for relation in proof_relations %}
                            <tr>
                                <input type="hidden" name="relation_row" value="{{ relation.id }}">
                                <td class="table-border" >
                                    <div class="knowledge-title" style="max-width: 550px;">
                                        <a class="text-decoration-none" href="{{ relation.rz.get_absolute_url }}">
                                            {{ relation.rz.name }}
                                        </a>
                                    </div>
                                </td>
                                <td class="table-border">
                                    {{ relation.tr.name|endings_filter }}
                                </td>
                                {% with relation|proof_weight:request as pw %}
                                    <td class="table-border">
                                        {% if pw == null %}
                                        <span class="item-missing" style="color: red">Нет оценки</span>
                                        {% else %}
                                            {{ pw|grade_name }}
                                        {% endif %}
                                    </td>
                                    <td class="table-border text-center">
                                        {{ pw|floatformat:-2 }}
                                    </td>
                                {% endwith %}
                                {% with relation.rz|common_grades:request as grades_iter %}
                                    <td class="table-border">
                                        {% if grades_iter.0 == null%}
                                        <span class="item-missing" style="color: red">Нет оценки</span>
                                        {% else %}
                                            {{ grades_iter.0|grade_name }}
                                        {% endif %}
                                    </td>
                                    <td class="table-border text-center">
                                        {{ grades_iter.0|floatformat:-2 }}
                                    </td>
                                {% endwith %}
                                <td class="table-border">
                                    <select name="knowledge_grade" id="id_relation_grade{{ relation.id }}">
                                        {% for grade in knowledge_scale %}
                                            <option value="{{ grade.id }}" data-base-grade="{{ grade.get_base_grade }}"
                                                    id="proofRelationId{{ relation.id }}"
                                                    {% if relation.rz|object_grade:user == grade %} selected {% endif %}>
                                                {{ grade.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="table-border text-center">
                                    {{ relation.rz|object_grade_num:user|floatformat:-2 }}
                                </td>
                                <td class="table-border">
                                    <select name="relation_grade" id="id_relation_grade{{ relation.id }}">
                                        {% for grade in relation_scale %}
                                            <option value="{{ grade.id }}" data-base-grade="{{ grade.get_base_grade }}"
                                                    id="proofRelationId{{ relation.id }}"
                                                    {% if relation|object_grade:user == grade %} selected {% endif %}>
                                                {{ grade.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="table-border text-center">
                                    {{ relation|object_grade_num:user|floatformat:-2 }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
<!--                </div>-->
            {% endif %}
        </form>
    {% endif %}
    <script>
        function init() {
            const gradeForm = document.getElementById('gradeForm');
            const selectCollection = document.getElementsByTagName('select');

            for (const selectCollectionElement of selectCollection) {
                selectCollectionElement.addEventListener('input', function () {
                    gradeForm.submit();
                });
            }

            const radioButtons = document.querySelectorAll('input[name=variant]');
            const modeForm = document.getElementById('modeForm');
            for (const button of radioButtons) {
                button.addEventListener('input', function () {
                    modeForm.submit();
                });
            }
        }
        init();
    </script>
{% endblock %}
