{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %}
{% load knowledge_tree %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
    <div class="container header_info" style="padding-left: 0px;">
        <h1 class="page-title">Дерево знаний</h1>
        <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
              <li class="breadcrumb-item opened"><a>Дерево знаний</a></li>
            </ol>
        </nav>
    </div>
    {% build_knowledge_tree queryset=zn_queryset show_complex=True %}
{% endblock %}
