{% extends 'base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form class="form-horizontal" action="{% url 'znanie_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        {{ image_form.management_form }}
        {% for frm in image_form %}
            {{ frm.as_p }}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% if user.is_expert %}Сохранить Знание{% else %}Сохранить ПредЗнание{% endif %}">
    </form>



{% endblock %}