{% extends 'base.html' %}
{% load pagination_tag %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center">{{ title }}</h2>
    <div class="row mt-3">
        <dib class="col">
            <form method="get" class="mx-auto d-flex flex-column" style="max-width:500px">
                {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3" role="alert">{{ form.non_field_errors }}</div>
                {% endif %}

                <div class="mb-3">
                    {{ form.main_search }}
                    <span class="text-muted">{{ form.main_search.help_text }}</span>
                    {% if form.main_search.errors %}
                    <div class="alert alert-danger mt-3" role="alert">{{ form.main_search.errors }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end">
                    <button id="collapseExtendedSearchButton" class="btn p-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExtendedSearch" aria-expanded="false"
                        aria-controls="collapseExtendedSearch"> Расширенный поиск
                        <img src="{% static 'drevo/img/knowledge_search/collapse_down.svg' %}"
                            data-img-toggle="{% static 'drevo/img/knowledge_search/collapse_up.svg' %}" alt="collapse"
                            height="20px" id="extendedSearchButtonImg">
                    </button>
                </div>
                <div class="collapse" id="collapseExtendedSearch">
                    {% for field in form %}
                    {% if not forloop.first %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>

                        {{ field }}
                        <span class="text-muted">{{ field.help_text }}</span>
                        {% if field.errors %}
                        <div class="alert alert-danger mt-3" role="alert">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button id='submit' type="submit" class="btn btn-primary my-3 px-4">
                    Искать
                </button>
            </form>
        </dib>
    </div>
    {% if paginator %}
    <div class="row">
        <h5 class="col">
            Результатов: {{ paginator.count }}
        </h5>
    </div>
    <hr>
    {% endif %}
    {% if page_obj %}
    <div class="row">
        <div class="col">
            {% for knowledge in page_obj %}
            {% include 'drevo/knowledge.html' %}
            <hr>
            {% endfor %}

        </div>
    </div>
    <div class="row max-width-1000px mx-auto mb-2">
        <div class="col-12">
            {% pagination_tag %}
        </div>
    </div>
    {% endif %}

</div>

<script>

    // Обрабока полей расширенного поиска
    extendedSearch = {
        extendedSearchButton: document.getElementById('collapseExtendedSearchButton'),
        collapseImg: document.getElementById('extendedSearchButtonImg'),
        extendedSearchArea: document.getElementById('collapseExtendedSearch'),
        init() {
            this.extendedSearchButton.addEventListener('click', (event) => this.saveExtendedFlag(event));
        },
        // Перехватываем раскрытие расширенного поиска и сохраняем этот факт
        saveExtendedFlag(event) {
            let searchField_iWantCollapse = Boolean(localStorage.getItem('isSearchExtanded'));
            if (searchField_iWantCollapse) {
                localStorage.removeItem('isSearchExtanded');
                this.resetExtendedSearchFields();
            } else {
                localStorage.setItem('isSearchExtanded', 'true');
            }
        },
        // Восстанавливаем состояние полей поиска после перезагрузки страницы
        restoreConditionSearchArea() {
            if (localStorage.getItem('isSearchExtanded') === 'true') {
                this.extendedSearchArea.classList.add('show');
            }
        },
        // Сбрасываем значения полей если схлопываем расширенный поиск
        resetExtendedSearchFields() {
            let fields = this.extendedSearchArea.querySelectorAll('.form-control');
            for (let field of fields) {
                field.value = '';
            }
        },
    }

    extendedSearch.init();
    extendedSearch.restoreConditionSearchArea();




</script>
{% endblock content %}