{% load static %}
<div class="row">
    <a class="text-decoration-none" href="{% url 'zdetail' pk=knowledge.pk %}">
        <h5 class="col-8">
            {{ knowledge.name }}
        </h5>
    </a>
</div>
<div class="row">

    <div class="col" style="word-wrap: break-word; width: 100px">
        {{ knowledge.content | safe | truncatewords:30}}
    </div>

</div>

<div class="row">
    <div class="col-12">
        <ul class="text-end" style="list-style-type: none;">
            <li>
                Вид знания:
                {% if knowledge.tz.name %}
                {{ knowledge.tz.name }}
                {% else %}
                –
                {% endif %}
            </li>
            <li>
                Категория знания:
                {% if knowledge.category.name %}
                {{ knowledge.category.name }}
                {% else %}
                –
                {% endif %}
            </li>
            <li>
                Автор:
                {% if knowledge.author.name %}
                {{ knowledge.author.name }}
                {% else %}
                –
                {% endif %}
            </li>
            <li>
                Вид связи:
                {% if knowledge.related.all %}
                {% for relations in knowledge.related.all %}
                {{ relations.tr.name }}
                {% endfor %}
                {% else %}
                –
                {% endif %}
            </li>
            <li class="d-flex flex-wrap justify-content-end">
                Изменено: {{ knowledge.updated_at |timesince }} назад
            </li>
        </ul>
    </div>
</div>