{% extends 'drevo/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block title %}Политика обработки Персональных данных{% endblock %}
{% block content %}
<div class="container header_info" style="padding-left: 0px;">
    <h1 class="page-title">Политика обработки Персональных данных</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a>Политика обработки Персональных данных</a></li>
        </ol>
    </nav>
</div>
<div class="basic">
    <h4>1. Общие положения</h4>
    Настоящая Политика составлена в соответствии с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных» (далее — Закон о персональных данных)  и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных Посетителей веб-ресурса www.derzn.ru (далее - Сайт), предпринимаемые Бояркиным Леонидом Владимировичем (далее – Оператор).</p>
    <p><b>1.1.</b> Сайт не содержит материалов, запрещенных к просмотру детям младше 18 лет. Несовершеннолетним запрещено передавать любые личные данные через интернет без согласия одного из родителей или опекуна. Сайт гарантирует, что намеренно не собирает и не хранит личные данные, поступившие от несовершеннолетних лиц или связанные с ними.</p>
    <p><b>1.2.</b> На Сайте могут находиться ссылки, позволяющие перейти на сторонние веб-ресурсы. Сайт не несет ответственности за сведения, публикуемые на этих веб-ресурсах, и предоставляет ссылки на них только в целях обеспечения удобства Пользователей. На Сайте намеренно не публикуются ссылки на веб-ресурсы, которые могут привести к повреждению или заражению вирусами компьютера Пользователя.</p>
<p><b>1.3.</b> Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
<p><b>1.4.</b> Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://derzn.ru">https://derzn.ru</a>.</p>
<p><b>1.5.</b> В настоящем документе и вытекающих или связанных с ним отношениях сторон применяются следующие термины и определения:</p>
<p><b>Персональные данные</b> – предоставляемые субъектом персональных данных или его представителем данные, объем и состав которых указаны в п.5 Политики.</p>
<p><b>Обработка персональных данных</b> — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
<p><b>Автоматизированная обработка персональных данных</b> — обработка персональных данных с помощью средств вычислительной техники.</p>
<p><b>Блокирование персональных данных</b> — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</p>
<p><b>Сайт</b> – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу: <a href="https://derzn.ru">https://derzn.ru</a>.</p>
<p><b>Информационная система персональных данных</b> — совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</p>
<p><b>Обезличивание персональных данных</b> — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.</p>
<p><b>Персональные данные, разрешенные субъектом персональных данных для распространения,</b> — персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном Законом о персональных данных (далее — персональные данные, разрешенные для распространения).</p>
<p><b>IP-адрес</b> – уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
<p><b>Cookies</b> – небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
<p><b>Оператор</b> – Бояркин Леонид Владимирович, в законном владении и управлении которого находится Сайт. В предусмотренных настоящей Политикой случаях Оператор выступает в качестве оператора персональных данных.</p>
<p><b>Пользователь</b> – любой посетитель веб-сайта <a href="https://derzn.ru">https://derzn.ru</a>.</p>
<p><b>Предоставление персональных данных</b> — действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</p>
<p><b>Распространение персональных данных</b> — любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом.</p>
<p><b>Трансграничная передача персональных данных</b> — передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.</p>
<p><b>Уничтожение персональных данных</b> — любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и/или уничтожаются материальные носители персональных данных.</p>
<p><b>1.6.</b> В настоящей Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем Договорами, если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с действующим законодательством Российской Федерации, или обычаями делового оборота.
    <h4>2. Основные права и обязанности Оператора</h4>
<p><b>2.1.</b> Оператор имеет право:<br>
— получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;<br>
— в случае отзыва субъектом персональных данных согласия на обработку персональных данных, а также, направления обращения с требованием о прекращении обработки персональных данных, Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;<br>
— самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных<br>
Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.</p>
<p><b>2.2.</b> Оператор обязан:<br>
— предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;<br>
— организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;<br>
— отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;<br>
— сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 10 дней с даты получения такого запроса;<br>
— публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных;<br>
— принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;<br>
— прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;<br>
— исполнять иные обязанности, предусмотренные Законом о персональных данных.</p>
    <h4>3. Основные права и обязанности субъектов персональных данных</h4>
<p><b>3.1.</b> Субъекты персональных данных имеют право:<br>
— получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;<br>
— требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;<br>
— выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;<br>
— на отзыв согласия на обработку персональных данных, а также, на направление требования о прекращении обработки персональных данных;<br>
— обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных;<br>
— на осуществление иных прав, предусмотренных законодательством РФ.</p>
<p><b>3.2.</b> Субъекты персональных данных обязаны:<br>
— предоставлять Оператору достоверные данные о себе;<br>
— сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.</p>
<p><b>3.3.</b> Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.</p>
    <h4>4. Принципы обработки персональных данных</h4>
<p><b>4.1.</b> Обработка персональных данных осуществляется на законной и справедливой основе.</p>
<p><b>4.2.</b> Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.</p>
<p><b>4.3.</b> Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.</p>
<p><b>4.4.</b> Обработке подлежат только персональные данные, которые отвечают целям их обработки.</p>
<p><b>4.5.</b> Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Не допускается избыточность обрабатываемых персональных данных по отношению к заявленным целям их обработки.</p>
<p><b>4.6.</b> При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Оператор принимает необходимые меры и/или обеспечивает их принятие по удалению или уточнению неполных или неточных данных.</p>
<p><b>4.7.</b> Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.</p>
    <h4>5. Данные, подлежащие обработке</h4>
<p class="mb-0"><b>5.1.</b> Персональные данные, разрешённые к обработке в рамках настоящей Политики, включают в себя следующую информацию:</p>
    <ul style="list-style-type: inherit;">
        <li>Фамилия;</li>
        <li>Имя;</li>
        <li>Отчество;</li>
        <li>Адрес электронной почты;</li>
        <li>Пол;</li>
        <li>Профессия;</li>
        <li>Дата Рождения.</li>
    </ul>
<p class="mb-0"><b>5.2.</b> Оператор также получает обезличенные данные о Пользователе, которые автоматически передаются в процессе просмотра при посещении Сайта, в т. ч.:</p>
    <ul style="list-style-type: inherit;">
        <li>IP адрес;</li>
        <li>информация из cookies;</li>
        <li>информация о браузере (или иной программе, которая осуществляет доступ к Сайту);</li>
        <li>время доступа.</li>
    </ul>
<p>Пользователь может удалить cookies-файлы после посещения Сайта или изменить настройки браузера для отказа от работы с cookies или отслеживания пути их рассылки. Однако в этом случае Сайт не несет ответственности за ненадлежащее качество работы.</p>
<p><b>5.3.</b> На Сайте Пользователь имеет возможность оставлять комментарии и личные сообщения для других Пользователей. В этом случае Пользователь обязан помнить, что информация личного характера, которую он оставляет в этих разделах Сайта, видна другим Пользователям. В целях предотвращения мошенничества или других противоправных действий с личными данными Пользователь не должен сообщать персональную информацию (телефон, адрес электронной почты и др.) в комментариях, переписке и прочих публичных сообщениях. В данном случае Сайт не несет ответственности за безопасность этих данных.</p>
    <h4>6. Цели сбора Персональных данных</h4>
<p><b>6.1.</b> Политика конфиденциальности действует в отношении любой указанной в п.5. Политики информации, которую Оператор может получить о Пользователе во время использования Сайта.</p>
<p class="mb-0"><b>6.2.</b> Пользователь предоставляет свои персональные данные с целью:</p>
    <ul style="list-style-type: inherit;">
        <li>создания учетной записи;</li>
        <li>предоставления технической поддержки, связанной с использованием Сайта;</li>
        <li>рассылки уведомлений (включая уведомления о новых знаниях, о проведении опросов, интервью, о реакции администрации на предложения пользователей, но не ограничиваясь ими);</li>
        <li>публикации новых материалов на Сайте и реакции на опубликованные другими пользователями материалы (включая создание новых знаний и связей, комментариев к знаниям, но не ограничиваясь ими);</li>
        <li>проведение статистического анализа оценок знаний;</li>
        <li>проведение опросов – статистика ответов с дифференциацией по полу и возрасту;</li>
        <li>использования иных имеющихся на сайте сервисов, включая сервис обмена личными сообщениями между зарегистрированными участниками, персонализированные комментарии и отзывы, но не ограничиваясь ими.</li>
    </ul>
<p>Предоставленные данные могут быть использованы для составления и публикации на Сайте статистики активности пользователей.</p>
<p class="mb-0"><b>6.3.</b> Также Оператор получает данные, указанные в п.5.2., которые автоматически передаются в процессе просмотра при посещении Сайта, с целью:
    <ul style="list-style-type: inherit;">
        <li>сбора статистики о Пользователях и их запросах, дальнейшего анализа, оценки, улучшения работы Сайта, совершенствования механизмов общения с Пользователями;</li>
        <li>определения правильности функционирования систем и учета собственного трафика.</li>
    </ul>
    <h4>7. Условия обработки персональных данных</h4>
<p><b>7.1.</b> Обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных.</p>
<p><b>7.2.</b> Обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей.</p>
<p><b>7.3.</b> Обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве.</p>
<p><b>7.4.</b> Обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем.</p>
<p><b>7.5.</b> Обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных.</p>
<p><b>7.6.</b> Осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее — общедоступные персональные данные).</p>
<p><b>7.7.</b> Осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.</p>
    <h4>8. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h4>
<p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>
<p><b>8.1.</b> Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
<p><b>8.2.</b> Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства либо в случае, если субъектом персональных данных дано согласие Оператору на передачу данных третьему лицу для исполнения обязательств по гражданско-правовому договору.</p>
<p><b>8.3.</b> В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto:lvb555@mail.ru">lvb555@mail.ru</a> с пометкой «Актуализация персональных данных».</p>
<p><b>8.4.</b> Срок обработки персональных данных определяется достижением целей, для которых были собраны персональные данные, если иной срок не предусмотрен договором или действующим законодательством.</p>
<p>Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a href="mailto:lvb555@mail.ru">lvb555@mail.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».</p>
<p><b>8.5.</b> Вся информация, которая собирается сторонними сервисами, в том числе платежными системами, средствами связи и другими поставщиками услуг, хранится и обрабатывается указанными лицами (Операторами) в соответствии с их Пользовательским соглашением и Политикой конфиденциальности. Субъект персональных данных и/или с указанными документами. Оператор не несет ответственность за действия третьих лиц, в том числе указанных в настоящем пункте поставщиков услуг.</p>
<p><b>8.6.</b> Установленные субъектом персональных данных запреты на передачу (кроме предоставления доступа), а также на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных для распространения, не действуют в случаях обработки персональных данных в государственных, общественных и иных публичных интересах, определенных законодательством РФ.</p>
<p><b>8.7.</b> Оператор при обработке персональных данных обеспечивает конфиденциальность персональных данных.</p>
<p><b>8.8.</b> Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных.</p>
<p><b>8.9.</b> Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия субъекта персональных данных, отзыв согласия субъектом персональных данных или требование о прекращении обработки персональных данных, а также выявление неправомерной обработки персональных данных.</p>
    <h4>9. Перечень действий, производимых Оператором с полученными персональными данными</h4>
<p><b>9.1.</b> Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных.</p>
<p><b>9.2.</b> Оператор осуществляет автоматизированную обработку персональных данных с получением и/или передачей полученной информации по информационно-телекоммуникационным сетям или без таковой.</p>
    <h4>10. Трансграничная передача персональных данных</h4>
<p><b>10.1.</b> Оператор до начала осуществления деятельности по трансграничной передаче персональных данных обязан уведомить уполномоченный орган по защите прав субъектов персональных данных о своем намерении осуществлять трансграничную передачу персональных данных (такое уведомление направляется отдельно от уведомления о намерении осуществлять обработку персональных данных).</p>
<p><b>10.2.</b> Оператор до подачи вышеуказанного уведомления, обязан получить от органов власти иностранного государства, иностранных физических лиц, иностранных юридических лиц, которым планируется трансграничная передача персональных данных, соответствующие сведения.</p>
    <h4>11. Конфиденциальность персональных данных</h4>
<p>Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.</p>
    <h4>12. Заключительные положения</h4>
<p><b>12.1.</b> Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты <a href="mailto:lvb555@mail.ru">lvb555@mail.ru</a>.</p>
<p><b>12.2.</b> В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</p>
<p><b>12.3.</b> Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a href="https://derzn/privacy.ru">https://derzn/privacy.ru</a>.</p>

</div>
{% endblock %}