{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Публичный человек{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info px-2">
    <h1>Профиль</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a {% if link == 'users:myprofile' %} href="{% url 'users:my_profile' %}" {% else %} href="{% url link id %}" {% endif %}>Профиль</a></li>
        </ol>
    </nav>
</div>
{% include 'drevo/include/profile_header.html' with pub_user=pub_user link=link id=id activity=activity sections=sections invite_count=invite_count new_knowledge_feed=new_knowledge_feed new_messages=new_messages new=new %}
</div>

{% endblock %}