{% extends 'drevo/base.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/questions_user.css' %}">
{% endblock %}

{% block content %}
    <h2>Знание: {{ znanie }}</h2>
    <hr>
    <h3>Вопросы:</h3>
    {% if user.is_authenticated %}
        {% for question in questions %}
        {% if question.publication%}
        <div class="grid">
            <div class="question">
                <span class="question_text">{{ question }}</span>
            </div>
            <div class="block">
                {% for answer in answers %}
                {% if answer.question == question and answer.inspector == None %}
                    <div class="edit">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="answer_id" value="{{ answer.id }}">
                            <textarea name="edit_answer" id="" cols="40" rows="10" class="edit_answer" placeholder="Ваш ответ">{{ answer.answer}}</textarea>
                            {% if question.need_file %}
                            <input type="file" name="edit_file" class="id_file">
                            {% endif %} 
                            <div>
                            {% if answer.answer_file %}
                                <span class="point">Прикрепленный файл: </span>
                                <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                                <span class="cross">&#10006</span>                               
                                {% endif %}
                                <span class="delete"><input class="checkbox" type="checkbox" name="delete"> удалить ответ</span>
                            </div>
                            <div>
                                <button class="button">Сохранить</button> 
                            </div>
                        </form>
                    </div>
                    {% elif answer.question == question and answer.inspector %}
                    <div class="checked_answers">
                        {% if answer.answer != '-' %}
                        <div>
                            <span class="point">Ответ: </span>
                            <span class="answer_text">{{ answer.answer }}</span>                            
                        </div>  
                        {% endif %}                             
                        {% if answer.answer_file %}
                        <div>
                            <span class="point">Прикрепленный файл: </span>
                            <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                        </div>
                        {% endif %}
                        {% if answer.accepted == True %}
                        <div>
                            <span class="point">Результат: </span>
                            <span class="yes">Принято</span>
                        </div>
                        {% else %}
                        <div>
                            <span class="point">Результат: </span>
                            <span class="no">Не принято</span>                           
                        </div>
                        {% if answer.refuse_reason %}
                        <div>
                            <span class="point">Причина: </span>
                            <span>{{ answer.refuse_reason }}</span>                           
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <hr>
                    {% endif %}
                {% endfor %}
                    <form action="questions_user" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        <div class="new_answer">
                            <span class="plus">&#10010</span>
                            <div class="new_form">
                                <textarea name="answer" id="" cols="40" rows="10" class="new_answer" placeholder="Ваш ответ"></textarea>
                                {% if question.need_file %}
                                <input type="file" name="file" class="id_file">
                                {% endif %}  
                                <div>
                                    <input type="submit" class="button" value="Сохранить"> 
                                </div>
                            </div>                               
                        </div>
                    </form>
            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script src="{% static '/drevo/js/questions_user.js' %}"></script>
{% endblock %}