{% extends 'drevo/base.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/questions_user.css' %}">
{% endblock %}

{% block content %}

    <div class="popup_bg">
        <div class="popup">
            {% csrf_token %}
            <input type="hidden" name="knowledge" value="{{ znanie.id }}">
            <div class="popup_content">
                <p id="label_for_popup">Удалить</p>
                <div>
                    <button class="button-cancel" type="submit" id="submit_delete">Да</button>
                    <button class="button-cancel" id="cancel_delete" type="reset">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <h2>Знание: {{ znanie.name }}</h2>
    <hr>
    <h3>Вопросы:</h3>
    {% if user.is_authenticated %}
        {% for question in questions %}
        {% if question.publication%}
        <div class="grid">
            <div class="question">
                <span class="question_text">{{ question }}</span>
            </div>
            <div class="block">
                {% for answer in answers %}
                {% if answer.question == question and answer.inspector == None %}
                    <div class="not_checked_answers">
                        <div class="content">
                            <div class="block_text">
                                <span class="point">Ответ: </span>
                                {% if answer.answer != '-' %}
                                <span class="answer_text">{{ answer.answer }}</span>
                                {% else %}
                                <span class="no_text">Текст ответа отсутствует</span>
                                {% endif %}                             
                            </div>                              
                            <div class="new_content"></div>                            
                            <div class="block_file">
                                {% if answer.answer_file %}
                                    <span class="point">Прикрепленный файл: </span>
                                    <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                                {% elif question.need_file and answer.answer_file == "" %}
                                    <span class="point">Прикрепленный файл: </span>
                                    <span class="no_file">Файл ответа отсутствует</span>
                                {% endif %}
                            </div>
                            <div>
                                <span class="point">Статус: </span>
                                <span class="">Не обработано</span>                           
                            </div>            
                        </div>
                        <div class="edit_menu">                  
                            <span class="dots">
                                &middot;&middot;&middot;
                            </span>
                            <div class="menu" id="{{ answer.id }}">
                                {% if answer.answer == "-" %}
                                <div class="add_text">Добавить текст</div>
                                {% else %}
                                <div class="edit_text">Изменить текст</div>
                                {% endif %}
                                {% if answer.answer != "-" and answer.answer_file %}
                                <div class="delete_text">Удалить текст</div>
                                {% endif %}
                                {% if answer.answer_file and answer.answer != "-" %}
                                <div class="delete_file">Удалить файл</div>
                                {% endif %}
                                {% if answer.answer != "-" and question.need_file and answer.answer_file == "" %}
                                <div class="add_file">Добавить файл</div>
                                {% endif %}
                                <div class="delete_answer">Удалить ответ</div>
                            </div>
                        </div>
                    </div>
                {% elif answer.question == question and answer.inspector %}
                    <div class="checked_answers">
                        {% if answer.answer != '-' %}
                        <div>
                            <span class="point">Ответ: </span>
                            <span class="answer_text">{{ answer.answer }}</span>                            
                        </div>  
                        {% endif %}                             
                        {% if answer.answer_file %}
                        <div>
                            <span class="point">Прикрепленный файл: </span>
                            <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                        </div>
                        {% endif %}
                        {% if answer.accepted == True %}
                        <div>
                            <span class="point">Статус: </span>
                            <span class="yes">Принято</span>
                        </div>
                        {% else %}
                        <div>
                            <span class="point">Статус: </span>
                            <span class="no">Не принято</span>                           
                        </div>
                        {% if answer.refuse_reason %}
                        <div>
                            <span class="point">Причина: </span>
                            <span>{{ answer.refuse_reason }}</span>                           
                        </div>
                        {% endif %}
                        {% endif %}
                        <hr>
                    </div>
                {% endif %}
                {% endfor %}
                    <div>
                        {% csrf_token %}
                        <div>
                            <div>
                                <span class="no_text">Добавить ответ</span>
                                <span class="plus">&#10010</span>
                            </div>
                            <div class="new_form">
                                <textarea name="answer" id="" cols="40" rows="10" class="new_answer" placeholder="Ваш ответ"></textarea>
                                {% if question.need_file %}
                                <input type="file" name="file" class="id_file" multiple>
                                {% endif %}  
                                <div>
                                    <button type="submit" class="button" name="save_new_answer" value="{{ question.id}}">Сохранить</button>
                                </div>
                            </div>                               
                        </div>
                    </div>
            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script src="{% static '/drevo/js/questions_user.js' %}"></script>
{% endblock %}