{% extends 'drevo/base.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/questions_user.css' %}">
{% endblock %}

{% block content %}
    <h2>Знание: {{ znanie }}</h2>
    <hr>
    <h3>Вопросы:</h3>
    {% if user.is_authenticated %}
        {% for question in questions %}
        {% if question.publication%}
        <div class="grid">
            <div class="question">
                <span class="question_text">{{ question }}</span>
            </div>
            <div class="block">
                {% for answer in answers %}
                {% if answer.question == question and answer.inspector == None %}
                    <div class="edit">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="answer_id" value="{{ answer.id }}">
                            <textarea name="edit_answer" id="" cols="40" rows="10" class="edit_answer" placeholder="Ваш ответ">{{ answer.answer}}</textarea>
                            {% if question.need_file %}
                            <input type="file" name="edit_file" class="id_file">
                            {% endif %} 
                            {% if answer.answer_file %}
                            <div>
                                <span class="point">Прикрепленный файл: </span>
                                <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                                <span class="minus">&#8722</span>
                                <span>удалить</span>
                            </div>
                            {% endif %}
                            <div>
                                <button class="button">Сохранить</button> 
                            </div>
                        </form>
                    </div>
                    {% elif answer.question == question and answer.inspector %}
                    <div class="checked_answers">
                        {% if answer.answer != '-' %}
                        <div>
                            <span class="point">Ответ: </span>
                            <span class="answer_text">{{ answer.answer }}</span>                            
                        </div>  
                        {% endif %}                             
                        {% if answer.answer_file %}
                        <div>
                            <span class="point">Прикрепленный файл: </span>
                            <a class="file" href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>
                        </div>
                        {% endif %}
                        {% if answer.accepted == True %}
                        <div>
                            <span class="point">Результат: </span>
                            <span class="yes">Принято</span>
                        </div>
                        {% else %}
                        <div>
                            <span class="point">Результат: </span>
                            <span class="no">Не принято</span>                           
                        </div>
                        {% if answer.refuse_reason %}
                        <div>
                            <span class="point">Причина: </span>
                            <span>{{ answer.refuse_reason }}</span>                           
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <hr>
                    {% endif %}
                {% endfor %}
                    <form action="questions_user" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        <div class="new_answer">
                            <span class="plus">&#43</span>
                            <div class="new_form">
                                <textarea name="answer" id="" cols="40" rows="10" class="new_answer" placeholder="Ваш ответ"></textarea>
                                {% if question.need_file %}
                                <input type="file" name="file" class="id_file">
                                {% endif %}  
                                <div>
                                    <input type="submit" class="button" value="Сохранить"> 
                                </div>
                            </div>                               
                        </div>
                    </form>
            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script>
    document.addEventListener('DOMContentLoaded', () => {

        if (document.querySelector('.edit')) {
            document.querySelectorAll('.edit').forEach( (e) => {
                e.parentElement.querySelector('.new_answer').remove()
                if (e.querySelector('.id_file')) {
                    if (e.querySelector('.minus')) {
                        e.parentElement.querySelector('.id_file').style.display = 'none'

                    }
                    if (e.querySelector('.edit_answer').innerHTML === '-') {
                        e.querySelector('.edit_answer').innerHTML = ''
                    }
                }
            })
        }

        if (document.querySelector('.file')) {
            document.querySelectorAll('.file').forEach((e) => {
                const part = 'proof/'
                let name_file = e.innerHTML
                name_file = name_file.replace(part, '')
                e.innerHTML = name_file
            })
        }

        const block_of_ans = document.querySelectorAll('.block')
        block_of_ans.forEach((e) => {
            if (e.querySelector('.new_answer') && !e.querySelector('.checked_answers')) {
                e.querySelector('.new_form').style.display = 'block'
                e.querySelector('.plus').remove()
            }
        })

        document.addEventListener('click', () => {
            if (event.target.className === 'plus') {
                let block = event.target.parentElement
                block.querySelector('.new_form').style.display = 'block'
                block.querySelector('.plus').remove()
            }
        })

        document.addEventListener('click', () => {
            if (event.target.className === 'minus') {
                let block = event.target.parentElement
                block.style.display = 'none'
                block.parentElement.querySelector('.id_file').style.display = 'block'
            }
        })
    })
</script>
{% endblock %}