{% extends 'drevo/base.html' %}
{% load static %}

{% block meta_tags %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/questions_user.css' %}">
{% endblock %}

{% block content %}
    <h2>Знание: {{ znanie }}</h2>
    <hr>
    <div class="not_checked_div">
        <span class="answer_head">Вопросы с необработанными ответами отсутствуют</span>
    </div>
    <div id="if_one_question_not_checked">
        <span class="answer_head">Вопрос:</span>
        <span id="if_one_question"></span>
    </div>
    {% if questions|length > 1 %}
    <div id="select_question">
        <span class="answer_head">Вопросы:</span>
        <select class="question_title" >
            {% for question in questions %}
            <option class="question_value" id="option_question{{ question.id }}" value="question{{ question.id }}">{{ question.question }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>
    {% elif questions|length == 1 %}
    {% for question in questions %}
    <div id="one_question">
        <span class="answer_head">Вопрос:</span>
        <span class="one_question" name="question{{ question.id }}">{{ question.question }}</span>
    </div> 
    {% endfor%}
    <hr>
    {% endif %}
    <div>
        <input id="not_checked" type="checkbox">
        <label for="not_checked">Необработанные ответы</label>
        <hr>
    </div>

    {% if questions|length == 0 %}
    <h2 id="no_questions">Вопросы отсутствуют</h2>
    {% endif %}
    {% for question in questions %}
    
    <div class="block_answers" id="question{{ question.id}}">
        <form action="questions_and_check_answers" class="question{{ question.id }}" method="post">
                <h4>Ответы:</h4>
                {% csrf_token %}
                <input type="hidden" name="question_id" value="{{ question.id }}">
                {% for answer in answers %}
                    {% if answer.question == question %}
                    <div class="answers">
                        {% if answer.answer %}
                            <div>{{ answer.answer }}                               
                                {% if answer.answer_file %}
                                    <a class="file" href="{{ answer.answer_file.url }}">Файл</a>
                                {% endif%}
                            </div>
                            {% else%}
                            <div></div>
                        {% endif%}                           

                            {% if answer.inspector %}
                                <div class="expert">Эксперт: {{ answer.inspector }}</div>
                                {% if answer.accepted == True %}
                                <div>Принято</div>
                                {% else %}
                                <div>Не принято</div>
                                {% endif %}
                                {% if answer.refuse_reason %}
                                    <div>{{ answer.refuse_reason }}</div>
                                {% else%}
                                    <div></div>
                                {% endif %}
                                <hr class="line">

                            {% elif answer.inspector == None %}
                                <div></div>                           
                                <div>
                                    <select name="{{ answer.id }}" class="acceptance">
                                        {% if answer.inspector and answer.accepted == True %}
                                            <option selected value="accepted">Принято</option>
                                            <option value="not_accepted">Не принято</option>
                                            <option value="not_checked">-------</option>
                                        {% elif answer.inspector and answer.accepted == False %}
                                            <option value="accepted">Принято</option>
                                            <option selected value="not_accepted">Не принято</option>
                                            <option value="not_checked">-------</option>
                                        {% else%}
                                            <option value="accepted">Принято</option>
                                            <option value="not_accepted">Не принято</option>
                                            <option selected value="not_checked">-------</option>
                                        {% endif %}
                                    </select>  
                                </div>

                                <div>
                                    <select name="reason{{answer.id}}" id="{{ answer.id }}" class="reason">
                                        <option value="">--Выберите причину--</option>
                                        <option value="less">Без объяснений</option>
                                        {% for reason in reasons %}
                                            <option value="{{ reason.id }}">{{ reason }}</option>
                                        {% endfor%}
                                    </select>        
                                </div>

                                <hr class="line">
                            {% endif %}
                    </div>
                    {% endif %}
                    {% if forloop.last %}
                    <input class="accepted" type="submit" value="Сохранить">
                    {% endif %}
                {% endfor %}   
            </form>
    </div>
    {% endfor %}
{% endblock %}

{% block jsfiles %}
    <script src="{% static '/drevo/js/questions_and_check_answers.js' %}"></script>
{% endblock %}