{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load static %}
{% block cssfiles %} <style type="text/css">
   TD, TH {
    padding: 5px;
    border: 2px solid black;
   }
  </style>{% endblock %}

{% block title %}Знание: {{ znanie.name }}
{% endblock %}

{% block content %}

{% if all_answers_and_questions %}
<div style="margin-left: auto;margin-right: auto; text-align:center; display: flex;flex-direction: row;
justify-content: flex-start;">
    <div id="preanswer" style="width: 20%; margin-top: 50px;"></div>
    <p style="display: none" id="countqs" >{{ all_answers_and_questions|length}}</p>
    {% for question, answers in all_answers_and_questions.items %}
    {% for question_with_right_answer, right_answer in right_answer.items %}
    {% if question in question_with_right_answer %}
    <div id='a' class="cont" style="display: none; width: 60%;">
        <p>Тест: {{ znanie.tz }}</p>
        <div class="checkboxgroup" id="{{question_with_right_answer}}1">
            <h5 id="{{question}}" class='vopr' style="display: none">{{right_answer|length}}</h5>
            <p>Вопрос: {{question}}</p>
            <p>Количество ответов {{right_answer|length}}</p>
            <div style="text-align: left;margin-left: 175px;">
                {% for answer in answers %}
                {% if answer in right_answer %}
                    <label>
                        <input type="checkbox"  onclick="return keyCounter(this.name)" name="{{question}}" value="1">
                        {{ answer}}
                    </label><br>
                {% else %}
                    <label>
                        <input type="checkbox"  onclick="return keyCounter(this.name)" name="{{question}}" value="0">
                        {{ answer}}
                    </label><br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
<div  id="rezultat" style="display: none;text-align:center;">
    <p>Тест: {{ znanie.tz }}</p>
    <table id="reztable" border="1" align="center" width="60%" >
			<thead>
				<tr>
					<th>Вопрос</th>
					<th>Оценка</th>
                    <th>Число верных ответов / число всех ответов</th>
				</tr>
			</thead>
        <tbody>
    {%for question in all_answers_and_questions.keys %}
    {% for question_with_right_answer, right_answer in right_answer.items %}
    {% if question in question_with_right_answer %}
				<tr id="{{question}}2" style="color: red;">
					<td id="question">{{question}}</td>
                    <td id="grade">Неудовлетворительно</td>
                    <td id="answer"><p style="margin: 0; display: inline;">0/</p>
                        <p class="Allanswers" style="margin: 0; display: inline;" align="right">{{right_answer|length}}</p> </td>
				</tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
        </tbody>
        </table>
    <p id="result1"></p>
    <p id="result2">Оценка теста: <span style="font-weight:bold">неудовлетворительно</span></p>
</div>

<div style="display: flex;justify-content: center;">
    <button id="next_question" onclick="next_block();" >Следующий вопрос</button>
    <button id="tryagain" style="display: none;" ><a href="{{ znanie.get_absolute_url }}" style="color: black; text-decoration:none;">Повторить тест</a></button>
</div>

{% endif %}

{% endblock %}
{% block jsfiles %}
<script>

let b = document.getElementsByClassName('cont').length;
let res = document.getElementsByClassName('Allanswers');
let countanswers = 0;

function showFirst() {
    document.getElementsByClassName('cont')[0].style.display = "block";
    preanswers = 'Ответы:<br>'
    for(let i = 1; i < b+1; i++){
        preanswers += "<span id="+i+">Ответ-"+i+"</span><br>";
    }
    document.getElementById('preanswer').innerHTML = preanswers;

    for(let f=0; f< res.length; f++){
        countanswers += +(res[f].textContent);
    }
}

showFirst();

let d = 0;
let step = 1;
let result = 0;

function next_block(){
    var lst2 = Array.from(new Set(lst));
    if(lst2.length < step){
    document.getElementById(step).innerHTML = "<span style='color: red;'>Ответ-неверный</span>";
    lst.push('0'+step);
    }else if(lst2.length == step ){
        questionblock = document.getElementById(lst2[d]+'1');
        let countans = +(questionblock.querySelector('.vopr').textContent);
        let answersinblock = questionblock.querySelectorAll('input[type="checkbox"]');
        let p = [];
          for (let i=0; i<answersinblock.length; i++) {
             if(answersinblock[i].checked == true){
                p.push(+(answersinblock[i].value));
             }
          }
        sum_of_answers = p.reduce((partialSum, a) => partialSum + a, 0);
        result += sum_of_answers;

        let trs = document.getElementById(lst2[d]+'2');

        let td = trs.querySelectorAll('td');
        if((~~((sum_of_answers*100)/countans)) > 90){
            td[1].innerHTML = "Отлично";
            trs.style.color = 'green';
        }else if(90 >= (~~((sum_of_answers*100)/countans)) && (~~((sum_of_answers*100)/countans)) > 60){
            td[1].innerHTML = "Хорошо";
            trs.style.color = 'purple';
        }else if(60 >= (~~((sum_of_answers*100)/countans)) && (~~((sum_of_answers*100)/countans)) > 30){
            td[1].innerHTML = "Удовлетворительно";
            trs.style.color = 'brown';
        }
        td[2].innerHTML = sum_of_answers+'/'+countans;

        if(sum_of_answers == countans){
        document.getElementById(step).innerHTML = "<span style='color: green;'>Ответ-верный</span>";
        }else if(sum_of_answers != countans){
        document.getElementById(step).innerHTML = "<span style='color: red;'>Ответ-неверный</span>";
        }
        tabl = document.getElementById(lst2[d]+'2');
    }
    if(step < b-1){
    document.getElementsByClassName('cont')[d].style.display = "none";
    document.getElementsByClassName('cont')[step].style.display = "block";
    d += 1;
    step +=1;
    }else if(step==b-1){
    document.getElementsByClassName('cont')[d].style.display = "none";
    document.getElementsByClassName('cont')[step].style.display = "block";
    document.getElementById('next_question').innerHTML = 'Результат';
    d += 1;
    step +=1;
    }else if(step == b){
    document.getElementsByClassName('cont')[d].style.display = "none";
    document.getElementById('rezultat').style.display = 'block';
    document.getElementById('next_question').style.display = 'none';
    document.getElementById('preanswer').style.display = 'none';
    document.getElementById('tryagain').style.display = 'block';
    document.getElementById('result1').innerHTML = 'Всего: ' + result + '/' +countanswers;
    if((~~((result*100)/countanswers)) > 90){
        document.getElementById('result2').innerHTML = "Оценка теста: <span style='font-weight:bold'>отлично</span>";
    }else if(90 >= (~~((result*100)/countanswers)) && (~~((result*100)/countanswers)) > 60){
        document.getElementById('result2').innerHTML = "Оценка теста: <span style='font-weight:bold'>хорошо</span>";
    }else if(60 >= (~~((result*100)/countanswers)) && (~~((result*100)/countanswers)) > 30){
        document.getElementById('result2').innerHTML = "Оценка теста: <span style='font-weight:bold'>удовлетворительно</span>";
    }
    }
}

var lst = []
function keyCounter(question){
    lst.push(question)
	let a = document.getElementsByName(question);
	let b = 0;
	let limit =  +(document.getElementById(question).textContent);
	for(let i = 0; i < a.length; i++){
		if(a[i].checked==true){
			b = b +1;
		}
	}
	if(b>limit){
	return false
	}
}

</script>
{% endblock %}