{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/quiz.css' %}">
{% endblock %}

{% block title %}Знание: {{ znanie.name }}
{% endblock %}

{% block content %}
<div class="container header_info px-0 py-3 mb-2">
    <h1 class="page-title m-0">Тест</h1>
    <nav style="--bs-breadcrumb-divider: '-';display: inline-flex; justify-content: space-between; width: 100%;
    align-items: self-end; margin: 0px;">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'all_quizzes' %}">Тесты</a></li>
            <li class="breadcrumb-item opened"><a>Тест</a></li>
        </ol>
        <button type="button" class="btn tree-btn m-0" style="width:auto;background:#FFFFFF;">
            <a href="{% url 'all_quizzes' %}" style="color:#083E2F;">Вернуться к дереву тестов</a>
        </button>
    </nav>
</div>
<div class="basic p-0">
    <div class="d-flex justify-content-between" style="border-bottom: 1px solid var(--grey-1, #DFDFE3); padding: 32px;">
        <h3 class="choice-header m-0 mt-2 p-0" style="height: auto; border: none;">{{ znanie.name }}</h3>
        <div class="d-flex" style="gap: 12px;">
            <button class="btn open-popup btn-icon" id="previous_question" onclick="get_previous_question()" style="display: none; padding: 4px 24px; background-color: #E7ECEB; color: #083E2F;">Назад</button>
            <button class="btn btn-header" id="next_question" onclick="next_block()" style="display: none; padding: 4px 24px;">Далее</button>
            <div id="final_block" style="display:none">
                {% if user.is_authenticated %}
                    <button class="btn btn-header" style="padding: 4px 24px;" onclick="onButtonSendClick()">Итоги теста</button>
                {% else %}
                    <button class="btn btn-header" style="padding: 4px 24px;" onclick="next_block();">Итоги теста</button>
                {% endif %}
            </div>
        </div>
        <a id="tryagain" class="btn btn-header" style="display: none; padding: 4px 24px;" href="{{ znanie.get_absolute_url }}">Повторить тест</a>
    </div>
    {% if all_answers_and_questions %}
    <div style="margin-left: auto;margin-right: auto; text-align:center; display: flex;flex-direction: row;
    justify-content: flex-start;">
        <p style="display: none" id="countqs" >{{ all_answers_and_questions|length}}</p>
        {% for question, answers in all_answers_and_questions.items %}
        {% for question_with_right_answer, right_answer in right_answer.items %}
        {% if question in question_with_right_answer %}
        {% if right_answer == 'На этот вопрос еще нет ответа' %}
        <div id='a' class="cont" style="display: none; text-align: left; padding: 32px; width: 100%;">
            <p style="font-size: 24px">Тест: {{ znanie.name }}</p>
            <p>Вопрос: {{question}}</p>
            <h5> {{right_answer}} </h5>
        </div>
        {% else %}
        <div id='a' class="cont" style="display: none; text-align: left; padding: 32px; width: 100%;">
            <div class="checkboxgroup" id="{{question}}1" >
                <h5 id="{{question}}" class='vopr' style="display: none">{{right_answer|length}}</h5>
                <h5 class='vopr1' style="display: none">{{question_with_right_answer}}</h5>
                <p id="number_of_question" class="small-title" style="color: var(--secondary, #6C757D);">{{question}}</p>
                <p class="pb-4 title">{{question}}</p>
                <p class="small-title">Количество ответов: {{right_answer|length}}</p>
                <div class="mb-4 small-title warning" style="color: var(--danger, #E01F27);"></div>
                <div class="firstblock" style="display: grid; gap: 12px;">
                    {% for answer in answers %}
                    {% if answer in right_answer %}
                        <label class="quiz-label">
                            <input type="checkbox" class="checkbox-round" onclick="return keyCounter(this, this.name)" name="{{question}}" value="1" id="{{answer.pk}}">
                            <span class="m-0 small-title">{{ answer}}</span>
                        </label>
                    {% else %}
                        <label class="quiz-label">
                            <input type="checkbox" class="checkbox-round" onclick="return keyCounter(this, this.name)" name="{{question}}" value="0" id="{{answer.pk}}">
                            <span class="m-0 small-title">{{ answer}}</span>
                        </label>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="secondblock" style="display: none;">
                    <p style="font-size: 24px">Результат</p>
                    <div class="d-inline-flex mb-5" style="gap: 12px">
                        <p class="me-3 pe-2 small-title pt-1">Показывать:</p>
                        <label>
                            <input type="radio" class="Choice1 form-check-input me-1 mt-0" style="font-size: 20px; vertical-align: middle;"
                               name="choice" value="all" onclick="ChangeResult(this.value)">
                            <p class="small-title d-inline" style="color: var(--secondary, #6C757D);">Все ответы</p>
                        </label>
                        <label>
                            <input type="radio" class="Choice2 form-check-input me-1 mt-0" style="font-size: 20px; vertical-align: middle;"
                               name="choice" value="not_all" onclick="ChangeResult(this.value)">
                            <p class="small-title d-inline" style="color: var(--secondary, #6C757D);">Oтветы пользователя</p>
                        </label>
                    </div>
                    <div id="all_answers_showing" style="display: grid; gap: 12px;">
                        {% for answer in answers %}
                        {% if answer in right_answer %}
                            <label id="resultsecondblock" class="quiz-label" style="background: var(--success, rgba(25, 135, 84, 0.20));">
                                <input type="checkbox" class="checkbox-round" disabled="disabled">
                                <span class="m-0 small-title" style="color: var(--success, #198754);">{{ answer}}</span>
                            </label>
                        {% else %}
                            <label id="resultsecondblock" class="quiz-label" style="background: var(--danger, rgba(248, 215, 218, 0.50));">
                                <input type="checkbox" class="checkbox-round" disabled="disabled">
                                <span class="m-0 small-title" style="color: var(--danger, #E01F27);">{{ answer}}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="not_all_answers_showing" style="display:none; gap: 12px;"></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="basic" id="rezultat" style="display: none;text-align:center;">
        <div id="result2" class="d-flex" style="padding: 24px; border-radius: 8px; gap: 24px; margin-bottom: 32px; text-align: left;">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">
              <path d="M0 12C0 18.64 5.36 24 12 24C18.64 24 24 18.64 24 12C24 5.36 18.64 0 12 0C5.36 0 0 5.36 0 12Z" fill="#FFDD67"/>
              <path d="M18.5996 5.72C18.5996 9.68 23.9996 9.68 23.9996 5.72C23.9996 2.84 21.3196 0 21.3196 0C21.3196 0 18.5996 2.84 18.5996 5.72Z" fill="#65B1EF"/>
              <path d="M16.5996 15.6C17.7042 15.6 18.5996 14.7046 18.5996 13.6C18.5996 12.4954 17.7042 11.6 16.5996 11.6C15.495 11.6 14.5996 12.4954 14.5996 13.6C14.5996 14.7046 15.495 15.6 16.5996 15.6Z" fill="#664E27"/>
              <path d="M7.39941 15.6C8.50398 15.6 9.39941 14.7046 9.39941 13.6C9.39941 12.4954 8.50398 11.6 7.39941 11.6C6.29484 11.6 5.39941 12.4954 5.39941 13.6C5.39941 14.7046 6.29484 15.6 7.39941 15.6Z" fill="#664E27"/>
              <path d="M9.44034 7.96C8.16034 9.04 6.44034 9.52 4.76034 9.2C4.52034 9.16 4.32034 10 4.60034 10.08C6.52034 10.44 8.52034 9.88 10.0003 8.64C10.2003 8.44 9.60034 7.8 9.44034 7.96ZM19.2403 9.16C17.5603 9.44 15.8403 9 14.5603 7.92C14.4003 7.76 13.7603 8.4 14.0003 8.6C15.4803 9.88 17.4803 10.4 19.4003 10.04C19.6803 9.96 19.4803 9.12 19.2403 9.16Z" fill="#917524"/>
              <path d="M15.1996 20H8.79961C8.19961 20 8.19961 18.4 8.79961 18.4H15.1996C15.7996 18.4 15.7996 20 15.1996 20Z" fill="#664E27"/>
            </svg>
            <div>
                <p class="mb-2 small-title" style="color: var(--secondary, #6C757D);">Оценка теста:</p>
                <p class="title m-0" style="font-weight:bold">Неудовлетворительно</p>
            </div>
        </div>
        <table id="reztable" border="1" align="center" width="100%" >
                <thead>
                    <tr>
                        <th>Вопрос</th>
                        <th>Оценка</th>
                        <th class="d-grid">
                            <p class="mb-0" style="border-bottom: 1px dashed #BFBFBF; padding-bottom: 12px;">Дано/Всего</p>
                            <p class="mt-2 pt-1 mb-0">Число верных ответов</p>
                        </th>
                    </tr>
                </thead>
            <tbody>
            {%for question in all_answers_and_questions.keys %}
            {% for question_with_right_answer, right_answer in right_answer.items %}
            {% if question in question_with_right_answer %}
                <tr id="{{question}}2" style="color: #E01F27;">
                    <td id="question">{{question}}</td>
                    <td id="grade" style="background: var(--danger, rgba(248, 215, 218, 0.50));"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M0 12C0 18.64 5.36 24 12 24C18.64 24 24 18.64 24 12C24 5.36 18.64 0 12 0C5.36 0 0 5.36 0 12Z" fill="#FFDD67"/>
                      <path d="M18.5996 5.72C18.5996 9.68 23.9996 9.68 23.9996 5.72C23.9996 2.84 21.3196 0 21.3196 0C21.3196 0 18.5996 2.84 18.5996 5.72Z" fill="#65B1EF"/>
                      <path d="M16.5996 15.6C17.7042 15.6 18.5996 14.7046 18.5996 13.6C18.5996 12.4954 17.7042 11.6 16.5996 11.6C15.495 11.6 14.5996 12.4954 14.5996 13.6C14.5996 14.7046 15.495 15.6 16.5996 15.6Z" fill="#664E27"/>
                      <path d="M7.39941 15.6C8.50398 15.6 9.39941 14.7046 9.39941 13.6C9.39941 12.4954 8.50398 11.6 7.39941 11.6C6.29484 11.6 5.39941 12.4954 5.39941 13.6C5.39941 14.7046 6.29484 15.6 7.39941 15.6Z" fill="#664E27"/>
                      <path d="M9.44034 7.96C8.16034 9.04 6.44034 9.52 4.76034 9.2C4.52034 9.16 4.32034 10 4.60034 10.08C6.52034 10.44 8.52034 9.88 10.0003 8.64C10.2003 8.44 9.60034 7.8 9.44034 7.96ZM19.2403 9.16C17.5603 9.44 15.8403 9 14.5603 7.92C14.4003 7.76 13.7603 8.4 14.0003 8.6C15.4803 9.88 17.4803 10.4 19.4003 10.04C19.6803 9.96 19.4803 9.12 19.2403 9.16Z" fill="#917524"/>
                      <path d="M15.1996 20H8.79961C8.19961 20 8.19961 18.4 8.79961 18.4H15.1996C15.7996 18.4 15.7996 20 15.1996 20Z" fill="#664E27"/>
                    </svg> Неудовлетворительно</td>
                    <td id="answer"><p style="margin: 0; display: inline;">0/</p>
                        <p class="Allanswers" style="margin: 0; display: inline;" align="right">{{right_answer|length}}</p> </td>
                </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <tr id="final" style="color: #E01F27;">
                <td style="color: black!important;">Итого</td>
                <td id="grade1" style="background: var(--danger, rgba(248, 215, 218, 0.50));"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M0 12C0 18.64 5.36 24 12 24C18.64 24 24 18.64 24 12C24 5.36 18.64 0 12 0C5.36 0 0 5.36 0 12Z" fill="#FFDD67"/>
                  <path d="M18.5996 5.72C18.5996 9.68 23.9996 9.68 23.9996 5.72C23.9996 2.84 21.3196 0 21.3196 0C21.3196 0 18.5996 2.84 18.5996 5.72Z" fill="#65B1EF"/>
                  <path d="M16.5996 15.6C17.7042 15.6 18.5996 14.7046 18.5996 13.6C18.5996 12.4954 17.7042 11.6 16.5996 11.6C15.495 11.6 14.5996 12.4954 14.5996 13.6C14.5996 14.7046 15.495 15.6 16.5996 15.6Z" fill="#664E27"/>
                  <path d="M7.39941 15.6C8.50398 15.6 9.39941 14.7046 9.39941 13.6C9.39941 12.4954 8.50398 11.6 7.39941 11.6C6.29484 11.6 5.39941 12.4954 5.39941 13.6C5.39941 14.7046 6.29484 15.6 7.39941 15.6Z" fill="#664E27"/>
                  <path d="M9.44034 7.96C8.16034 9.04 6.44034 9.52 4.76034 9.2C4.52034 9.16 4.32034 10 4.60034 10.08C6.52034 10.44 8.52034 9.88 10.0003 8.64C10.2003 8.44 9.60034 7.8 9.44034 7.96ZM19.2403 9.16C17.5603 9.44 15.8403 9 14.5603 7.92C14.4003 7.76 13.7603 8.4 14.0003 8.6C15.4803 9.88 17.4803 10.4 19.4003 10.04C19.6803 9.96 19.4803 9.12 19.2403 9.16Z" fill="#917524"/>
                  <path d="M15.1996 20H8.79961C8.19961 20 8.19961 18.4 8.79961 18.4H15.1996C15.7996 18.4 15.7996 20 15.1996 20Z" fill="#664E27"/>
                </svg> Неудовлетворительно</td>
                <td id="result1"></td>
            </tr>
            </tbody>
            </table>
    </div>

    <div style="padding: 0px 32px;">
        <button class="btn btn-header" style="padding: 4px 24px;" id="show_result_for_question" onclick="show_result_for_question();" >Результат</button>
    </div>
    <div style="padding: 32px; display: flex; gap: 32px; justify-content: space-between;">
        <p id="progress" class="small-title" style="color: var(--success, #198754); font-size: 12px;"></p>
        <span style="border-radius: 10px; background: var(--success, rgba(25, 135, 84, 0.20)); height: 14px; width: 89%; display: block">
            <span id="progress-bar" style="border-radius: 10px; background: var(--success, #198754); height: 14px; display: block;"></span>
        </span>
    </div>
</div>

<div class="basic legend mt-4 pb-3" style="display: none;">
    <p class="title">Легенда:</p>
    <div class="d-flex" style="gap: 24px;">
        <p class="small-title" style="padding: 12px 24px; border-radius: 8px; border: 1px solid var(--primary, #083E2F); background: var(--light, rgba(245, 245, 245, 0.75));">Ваши ответы даны с обводкой</p>
        <p class="small-title" style="border-radius: 8px; background: var(--danger, rgba(248, 215, 218, 0.50)); color: var(--danger, #E01F27); padding: 12px 24px;">Неверный ответ</p>
        <p class="small-title" style="border-radius: 8px; background: var(--success, rgba(25, 135, 84, 0.20)); color: var(--success, #198754); padding: 12px 24px;">Верный ответ</p>
    </div>
</div>
{% endif %}

{% endblock %}
{% block jsfiles %}
<script>
let b = document.getElementsByClassName('cont').length;
let res = document.getElementsByClassName('Allanswers');
let allQuestionNumber = document.querySelectorAll('#number_of_question');
let legend = document.querySelector('.legend');
let sum_of_answers_in_blocks = [];
let countanswers = 0;
let users_choice = 'Choice2';
let gradeA = '<path d="M24 12C24 18.64 18.64 24 12 24C5.36 24 0 18.64 0 12C0 5.36 5.36 0 12 0C18.64 0 24 5.36 24 12Z" fill="#FFDD67"/>'+
'<path d="M18.8002 14.4C18.8002 14.08 18.6002 13.68 18.0802 13.56C16.6802 13.28 14.6402 13.04 12.0002 13.04C9.3602 13.04 7.32019 13.32 5.9202 13.56C5.4002 13.68 5.2002 14.08 5.2002 14.4C5.2002 17.32 7.4402 20.24 12.0002 20.24C16.5602 20.24 18.8002 17.32 18.8002 14.4Z" fill="#664E27"/>'+
'<path d="M10.6003 9.96C9.84028 7.92 8.72028 6.88 7.60028 6.88C6.48028 6.88 5.36028 7.92 4.60028 9.96C4.52028 10.16 4.92028 10.52 5.12028 10.32C5.84028 9.56 6.72028 9.24001 7.60028 9.24001C8.48028 9.24001 9.36028 9.56 10.0803 10.32C10.3203 10.52 10.6803 10.16 10.6003 9.96Z" fill="#664E27"/>'+
'<path d="M19.36 9.96C18.6 7.92 17.48 6.88 16.36 6.88C15.24 6.88 14.12 7.92 13.36 9.96C13.28 10.16 13.68 10.52 13.88 10.32C14.6 9.56 15.48 9.24001 16.36 9.24001C17.28 9.24001 18.12 9.56 18.84 10.32C19.04 10.52 19.44 10.16 19.36 9.96Z" fill="#664E27"/>'+
'<path d="M17.0802 14.52C16.2002 14.36 14.3602 14.12 12.0002 14.12C9.64018 14.12 7.80018 14.36 6.92018 14.52C6.40018 14.6 6.36018 14.8 6.40018 15.12C6.44018 15.28 6.44018 15.52 6.52018 15.76C6.56018 16 6.64018 16.12 7.04018 16.08C7.80018 16 16.2402 16 17.0002 16.08C17.4002 16.12 17.4402 16 17.5202 15.76C17.5602 15.52 17.6002 15.32 17.6402 15.12C17.6402 14.8 17.6002 14.6 17.0802 14.52Z" fill="white"/>'+
'<path d="M24 12C24 18.64 18.64 24 12 24C5.36 24 0 18.64 0 12C0 5.36 5.36 0 12 0C18.64 0 24 5.36 24 12Z" fill="#FFDD67"/>'+
'<path d="M18.8002 14.4C18.8002 14.08 18.6002 13.68 18.0802 13.56C16.6802 13.28 14.6402 13.04 12.0002 13.04C9.3602 13.04 7.32019 13.32 5.9202 13.56C5.4002 13.68 5.2002 14.08 5.2002 14.4C5.2002 17.32 7.4402 20.24 12.0002 20.24C16.5602 20.24 18.8002 17.32 18.8002 14.4Z" fill="#664E27"/>'+
'<path d="M10.6003 9.96C9.84028 7.92 8.72028 6.88 7.60028 6.88C6.48028 6.88 5.36028 7.92 4.60028 9.96C4.52028 10.16 4.92028 10.52 5.12028 10.32C5.84028 9.56 6.72028 9.24001 7.60028 9.24001C8.48028 9.24001 9.36028 9.56 10.0803 10.32C10.3203 10.52 10.6803 10.16 10.6003 9.96Z" fill="#664E27"/>'+
'<path d="M19.36 9.96C18.6 7.92 17.48 6.88 16.36 6.88C15.24 6.88 14.12 7.92 13.36 9.96C13.28 10.16 13.68 10.52 13.88 10.32C14.6 9.56 15.48 9.24001 16.36 9.24001C17.28 9.24001 18.12 9.56 18.84 10.32C19.04 10.52 19.44 10.16 19.36 9.96Z" fill="#664E27"/>'+
'<path d="M17.0802 14.52C16.2002 14.36 14.3602 14.12 12.0002 14.12C9.64018 14.12 7.80018 14.36 6.92018 14.52C6.40018 14.6 6.36018 14.8 6.40018 15.12C6.44018 15.28 6.44018 15.52 6.52018 15.76C6.56018 16 6.64018 16.08 7.04018 16.08H17.0002C17.4002 16.08 17.4402 16 17.5202 15.76C17.5602 15.52 17.6002 15.32 17.6402 15.12C17.6402 14.8 17.6002 14.6 17.0802 14.52Z" fill="white"/>'
let gradeB = '<path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#FFDD67"/>'+
'<path d="M7.39941 11.04C8.50398 11.04 9.39941 10.1446 9.39941 9.04C9.39941 7.93543 8.50398 7.04 7.39941 7.04C6.29484 7.04 5.39941 7.93543 5.39941 9.04C5.39941 10.1446 6.29484 11.04 7.39941 11.04Z" fill="#664E27"/>'+
'<path d="M16.5996 11.04C17.7042 11.04 18.5996 10.1446 18.5996 9.04C18.5996 7.93543 17.7042 7.04 16.5996 7.04C15.495 7.04 14.5996 7.93543 14.5996 9.04C14.5996 10.1446 15.495 11.04 16.5996 11.04Z" fill="#664E27"/>'+
'<path d="M18.4398 14C16.7198 16.44 14.6398 17.04 11.9998 17.04C9.35981 17.04 7.27981 16.44 5.55981 14C5.31981 13.68 4.67981 13.88 4.83981 14.36C5.75981 17.56 8.83981 19.44 12.0398 19.44C15.2398 19.44 18.3198 17.56 19.2398 14.36C19.3198 13.88 18.6798 13.68 18.4398 14Z" fill="#664E27"/>'
let gradeC = '<path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#FFDD67"/>'+
'<path d="M7.39941 12.24C8.50398 12.24 9.39941 11.3446 9.39941 10.24C9.39941 9.13544 8.50398 8.24001 7.39941 8.24001C6.29484 8.24001 5.39941 9.13544 5.39941 10.24C5.39941 11.3446 6.29484 12.24 7.39941 12.24Z" fill="#664E27"/>'+
'<path d="M16.5996 12.24C17.7042 12.24 18.5996 11.3446 18.5996 10.24C18.5996 9.13544 17.7042 8.24001 16.5996 8.24001C15.495 8.24001 14.5996 9.13544 14.5996 10.24C14.5996 11.3446 15.495 12.24 16.5996 12.24Z" fill="#664E27"/>'+
'<path d="M14.7591 18.4H9.23906C8.63906 18.4 8.63906 16.8 9.23906 16.8H14.7191C15.3591 16.8 15.3591 18.4 14.7591 18.4Z" fill="#664E27"/>'

dict_to_send = new Object();

function showFirst() {
    document.getElementsByClassName('cont')[0].style.display = "block";
    document.querySelector('#progress').textContent = 'Вопрос 1 из '+b+'';
    document.querySelector('#progress-bar').style.width = 100/b+'%';
    document.getElementsByClassName('cont')[0].querySelector('.Choice2').checked = true;
    for(let v=1; v< allQuestionNumber.length+1; v++){
        allQuestionNumber[v-1].innerHTML = 'Вопрос '+v+''
    }
    for(let f=0; f< res.length; f++){
        countanswers += +(res[f].textContent);
    }
}

showFirst();

function changeLabelColor(label) {
    label.classList.toggle("checked-label");
}

let d = 0;
let step = 1;
let result = 0;

function show_result_for_question(){
    var lst2 = Array.from(new Set(lst));
    if(lst2.length == step){
        questionblock = document.getElementById(lst2[d]+'1');
        let countans = +(questionblock.querySelector('.vopr').textContent);
        let answersinblock = questionblock.querySelectorAll('.firstblock input[type="checkbox"]');
        let warning = questionblock.querySelector('.warning');
        let resultinblock = questionblock.querySelectorAll('#resultsecondblock');
        let question_pk = questionblock.querySelector('.vopr1').textContent.split(' ');
        let different_resultinblock = questionblock.querySelector('#not_all_answers_showing');
        all_checked_answers = [];
        sum_for_next_block = 0;
          for (let i=0; i<answersinblock.length; i++) {
             if(answersinblock[i].checked == true){
                 sum_for_next_block += 1;
             }
          }
        if(sum_for_next_block == countans){
             for (let i=0; i<answersinblock.length; i++) {
                 if(answersinblock[i].checked == true){
                    all_checked_answers.push(answersinblock[i].id);
                    resultinblock[i].querySelector('.checkbox-round').setAttribute("checked", "true");
                    resultinblock[i].querySelector('.checkbox-round').checked = true;
                    if(resultinblock[i].style.background == 'var(--success, rgba(25, 135, 84, 0.20))'){
                        resultinblock[i].classList.add("right-answer")
                    }else{
                        resultinblock[i].classList.add("wrong-answer")
                    }
                    different_resultinblock.innerHTML += resultinblock[i].outerHTML;
                 }
             }
            dict_to_send[question_pk[question_pk.length-1]] = all_checked_answers
            document.getElementById('show_result_for_question').style.display = "none";
            document.getElementById('next_question').style.display = "block";
            let blockwithcolours = document.getElementsByClassName('cont')[d]
            blockwithcolours.querySelector('.firstblock').style.display = "none";
            blockwithcolours.querySelector('.'+users_choice+'').checked = true;
            if(users_choice == 'Choice2'){
                blockwithcolours.querySelector('#not_all_answers_showing').style.display = "grid";
                blockwithcolours.querySelector('#all_answers_showing').style.display = "none";
            }else{
                blockwithcolours.querySelector('#not_all_answers_showing').style.display = "none";
                blockwithcolours.querySelector('#all_answers_showing').style.display = "grid";
            }
            blockwithcolours.querySelector('.secondblock').style.display = "block";
            warning.style.display = "none";
            legend.style.display = "block";
            if(step == b){
            document.getElementById('final_block').style.display = "block";
            document.getElementById('next_question').style.display = "none";
            }
        }else if(sum_for_next_block<countans){
            missing_answer = countans - sum_for_next_block
            missing_answer = missing_answer.toString()
            if(missing_answer.endsWith('2') || missing_answer.endsWith('3') || missing_answer.endsWith('4')){
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответа</span>";
            } else if(missing_answer.endsWith('1')){
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответ</span>";
            }else {
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответов</span>";
            }
            warning.style.display = "block";
            addNewNotification(answersinblock, countans, warning)
        }
    }else if(lst2.length < step){
        let questionblock = document.querySelector('#a[style*="display: block"]')
        let countans = +(questionblock.querySelector('.vopr').textContent);
        let warning = questionblock.querySelector('.warning');
        let answersinblock = questionblock.querySelectorAll('input[type="checkbox"]');
        warning.innerHTML = "<span>Вы не дали ни одного ответа</span>";
        warning.style.display = "block";
        addNewNotification(answersinblock, countans, warning)
    }
}

function addNewNotification(answersinblock, countans, warning){
        let enabledSettings = []
        answersinblock.forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
            enabledSettings =
              Array.from(answersinblock)
              .filter(i => i.checked)
            let missing_answer = countans - enabledSettings.length
            missing_answer = missing_answer.toString()
            if(missing_answer.endsWith('2') || missing_answer.endsWith('3') || missing_answer.endsWith('4')){
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответа</span>";
            } else if(missing_answer.endsWith('1')){
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответ</span>";
            } else if(missing_answer == '0'){
                warning.innerHTML = "<span>Теперь ответов достаточно!</span>";
            }else {
                warning.innerHTML = "<span>Необходимо отметить ещё "
                +missing_answer+" ответов</span>";
            }
          })
        });
}

function ChangeResult(value){
    let questionblock = document.querySelector('#a[style*="display: block"]')
    if(value=='all'){
        questionblock.querySelector('#not_all_answers_showing').style.display = "none";
        questionblock.querySelector('#all_answers_showing').style.display = "grid";
        users_choice = 'Choice1';
    }else{
        questionblock.querySelector('#not_all_answers_showing').style.display = "grid";
        questionblock.querySelector('#all_answers_showing').style.display = "none";
        users_choice = 'Choice2';
    }
}

function get_previous_question(){
    var lst2 = Array.from(new Set(lst));
    previous_question = document.getElementsByClassName('cont')[d-1].querySelector('.checkboxgroup');
    current_question = document.getElementsByClassName('cont')[d].querySelector('.checkboxgroup');
    <!--Это если нажали кнопку показать результат-->
    if(Object.keys(dict_to_send).length==step){
        delete dict_to_send[Object.keys(dict_to_send)[step-1]];
        delete dict_to_send[Object.keys(dict_to_send)[step-2]];
        current_question.querySelector('.secondblock').style.display = "none";
        current_question.querySelector('.firstblock').style.display = "grid";
        let current_resultinblock = current_question.querySelectorAll('#resultsecondblock');
        getUnchecked(current_question.querySelectorAll('.firstblock label'));
        getUnchecked(current_resultinblock);
        current_question.querySelector('#not_all_answers_showing').innerHTML = '';
    <!--А это если еще не нажимали кнопку результат-->
    }else{
        delete dict_to_send[Object.keys(dict_to_send)[step-2]];
    }
    current_question.parentNode.style.display = "none";
    document.getElementById('final_block').style.display = "none";
    previous_question.parentNode.style.display = "block";
    previous_question.querySelector('.secondblock').style.display = "none";
    previous_question.querySelector('.firstblock').style.display = "grid";
    let resultinblock = previous_question.querySelectorAll('#resultsecondblock');
    getUnchecked(previous_question.querySelectorAll('.firstblock label'));
    getUnchecked(resultinblock);
    previous_question.querySelector('#not_all_answers_showing').innerHTML = '';
    lst = []
    for(let key in Object.keys(dict_to_send)){
           lst.push('0'+key);
    }
    step = step-1;
    d = d-1;
    if(d == 0){
        document.getElementById('previous_question').style.display = "none";
    }
    result -= sum_of_answers_in_blocks[sum_of_answers_in_blocks.length-1];
    sum_of_answers_in_blocks.splice(sum_of_answers_in_blocks.length-1, 1);
    document.querySelector('#progress-bar').style.width = step*100/b+'%';
    document.querySelector('#progress').textContent = 'Вопрос '+step+' из '+b+'';
    legend.style.display = "none";
    document.getElementById('show_result_for_question').style.display = "block";
    document.getElementById('next_question').style.display = "none";
}

function getUnchecked(elements){
    elements.forEach((elem) => {
      elem.querySelector('.checkbox-round').checked = false;
      elem.classList.remove("right-answer");
      elem.classList.remove("checked-label");
      elem.classList.remove("wrong-answer");
    });
}

function next_block(){
    var lst2 = Array.from(new Set(lst));
    if(lst2.length < step){
    lst.push('0'+step);
    }else if(lst2.length == step ){
        questionblock = document.getElementById(lst2[d]+'1');
        let countans = +(questionblock.querySelector('.vopr').textContent);
        let answersinblock = questionblock.querySelectorAll('.firstblock input[type="checkbox"]');
        let p = [];
          for (let i=0; i<answersinblock.length; i++) {
             if(answersinblock[i].checked == true){
                p.push(+(answersinblock[i].value));
             }
          }
        sum_of_answers = p.reduce((partialSum, a) => partialSum + a, 0);
        sum_of_answers_in_blocks.push(sum_of_answers);
        result += sum_of_answers;
        let trs = document.getElementById(lst2[d]+'2');
        makeGrade(sum_of_answers,countans,trs);
    }
    if(step < b-1){
        if(step == 1){
            document.getElementById('previous_question').style.display = "block";
        }
        document.getElementsByClassName('cont')[d].style.display = "none";
        document.getElementsByClassName('cont')[step].style.display = "block";
        document.getElementById('show_result_for_question').style.display = "block";
        document.getElementById('next_question').style.display = "none";
        document.querySelector('#progress').textContent = 'Вопрос '+(step+1)+' из '+b+'';
        document.querySelector('#progress-bar').style.width = (step+1)*100/b+'%';
        legend.style.display = "none";
        d += 1;
        step +=1;
    }else if(step==b-1){
        document.getElementsByClassName('cont')[d].style.display = "none";
        document.getElementsByClassName('cont')[step].style.display = "block";
        document.getElementById('show_result_for_question').style.display = "block";
        document.getElementById('next_question').style.display = "none";
        legend.style.display = "none";
        document.querySelector('#progress').textContent = 'Вопрос '+(step+1)+' из '+b+'';
        document.querySelector('#progress-bar').style.width = (step+1)*100/b+'%';
        d += 1;
        step +=1;
    }else if(step == b){
        document.getElementById('final_block').style.display = "none";
        document.getElementById('previous_question').style.display = "none";
        legend.style.display = "none";
        document.querySelector('#progress').parentNode.style.display = "none";
        document.getElementsByClassName('cont')[d].style.display = "none";
        document.getElementById('rezultat').style.display = 'block';
        document.getElementById('next_question').style.display = 'none';
        document.getElementById('tryagain').style.display = 'block';
        makeGrade(result,countanswers,document.getElementById('final'));
        if((~~((result*100)/countanswers)) > 90){
            document.getElementById('result2').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">'+gradeA+
        '</svg><div><p class="mb-2 small-title" style="color: var(--secondary, #6C757D);">Оценка теста:</p><p class="title m-0" style="font-weight:bold">Отлично</p></div>';
            document.getElementById('result2').classList.add("good-answer")
        }else if(90 >= (~~((result*100)/countanswers)) && (~~((result*100)/countanswers)) > 60){
            document.getElementById('result2').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">'+gradeB+
        '</svg><div><p class="mb-2 small-title" style="color: var(--secondary, #6C757D);">Оценка теста:</p><p class="title m-0" style="font-weight:bold">Хорошо</p></div>';
            document.getElementById('result2').classList.add("good-answer")
        }else if(60 >= (~~((result*100)/countanswers)) && (~~((result*100)/countanswers)) > 30){
            document.getElementById('result2').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">'+gradeC+
        '</svg><div><p class="mb-2 small-title" style="color: var(--secondary, #6C757D);">Оценка теста:</p><p class="title m-0" style="font-weight:bold">Удовлетворительно</p></div>';
            document.getElementById('result2').classList.add("acceptable-answer")
        }else{
            document.getElementById('result2').classList.add("unacceptable-answer")
        }
    }
}

var lst = []
function keyCounter(label, question){
    lst.push(question)
	let a = document.getElementsByName(question);
	let b = 0;
	let limit =  +(document.getElementById(question).textContent);
	for(let i = 0; i < a.length; i++){
		if(a[i].checked==true){
			b = b +1;
		}
	}
	if(b>limit){
	    return false
	}else{
	    changeLabelColor(label.parentNode);
	}
}

function makeGrade(sum_of_answers, countans, row){
    var lst2 = Array.from(new Set(lst));
    let td = row.querySelectorAll('td');
    if((~~((sum_of_answers*100)/countans)) > 90){
        td[1].innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">'+gradeA+
        '</svg> Отлично';
        td[1].style.background = 'var(--success, rgba(25, 135, 84, 0.20))';
        row.style.color = '#198754';
    }else if(90 >= (~~((sum_of_answers*100)/countans)) && (~~((sum_of_answers*100)/countans)) > 60){
        td[1].innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">'+gradeB+
        '</svg> Хорошо';
        td[1].style.background = 'var(--success, rgba(25, 135, 84, 0.20))';
        row.style.color = '#198754';
    }else if(60 >= (~~((sum_of_answers*100)/countans)) && (~~((sum_of_answers*100)/countans)) > 30){
        td[1].innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">'+gradeC+
        '</svg> Удовлетворительно';
        td[1].style.background = 'var(--warning, #FFF8DD);';
        row.style.color = '#F7961E';
    }
    td[2].innerHTML = sum_of_answers+'/'+countans;
    tabl = document.getElementById(lst2[d]+'2');
}

function onButtonSendClick(){
    next_block();

    $.ajax({
        data: { 'values' : JSON.stringify(dict_to_send) },
        url: document.location.pathname + '/quiz_result/',
        success: function (response) {
        }
    });
}

</script>
{% endblock %}