{% extends 'drevo/base.html' %}
{% load pagination_tag %}
{% load static %}
{% load word_form_number_tag %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'drevo/css/search.css' %}">

<div class="container">
    <h6 class="text-center">
        {% block link_switchers %}
        {% endblock link_switchers %}
    </h6>

    {% block search_block %}
    {% endblock search_block %}

    {% if paginator %}
    <div class="row">
        <h5 class="col">
            Найдено: {{ paginator.count }}
            {% if request.resolver_match.url_name == 'search_knowledge' %}
            {% get_form_words_num_tag paginator.count 'знаний' 'знание' 'знания' %}
            {% elif request.resolver_match.url_name == 'search_author' %}
            {% get_form_words_num_tag paginator.count 'авторов' 'автор' 'автора' %}
            {% elif request.resolver_match.url_name == 'search_tag' %}
            {% get_form_words_num_tag paginator.count 'тегов' 'тег' 'тега' %}
            {% endif %}
        </h5>
    </div>
    <hr>
    {% endif %}
    {% if page_obj %}
    <div class="row search_result">
        <div class="col">
            {% block search_card %}
            {% endblock search_card %}
        </div>
    </div>
    <div class="row max-width-1000px mx-auto mb-2">
        <div class="col-12">
            {% pagination_tag %}
        </div>
    </div>
    {% endif %}

</div>

{% block search_script %}
{% endblock search_script %}

{% endblock content %}