{% extends 'drevo/search.html' %}
{% load static %}
{% block link_switchers %}

<span class="fs-2">
    Знания
</span>
/
<a href="{% url 'search_author' %}" class="link-primary fs-4" style="text-decoration: none;">
    Авторы
</a>
/
<a href="{% url 'search_tag' %}" class="link-primary fs-4" style="text-decoration: none;">
    Теги
</a>

{% endblock link_switchers %}

{% block search_block %}
<div class="row mt-3">
    <dib class="col">
        <form method="get" class="mx-auto d-flex flex-column" style="max-width:500px">
            {% include 'drevo/include/search_knowledge_fields.html' with form=form %}
            <button id='submit' type="submit" class="btn btn-primary my-3 px-4">
                Искать
            </button>
        </form>
    </dib>
</div>
{% endblock search_block %}

{% block search_card %}
{% for knowledge in page_obj %}
{% include 'drevo/search_card_knowledge.html' %}
{% endfor %}
{% endblock search_card %}

{% block search_script %}
<script src="{% static 'drevo/js/tags_formset.js' %}">
</script>
<script src="{% static 'drevo/js/extended_field.js' %}"></script>
<script>
    let tags = new Tags();

    searchConfig = {
        buttonId: 'collapseExtendedSearchButton',
        extendedField: 'collapseExtendedSearch',
    }
    let extendedField = new ExtendedField(searchConfig);
    extendedField.restoreArea();
</script>
{% endblock search_script %}