{% load static %}
<div class="row">
    <div class="col-12 col-lg-9">
        <a class="text-decoration-none" href="{% url 'zdetail' pk=knowledge.pk %}">
            <h5>
                {{ knowledge.name }}
            </h5>
        </a>
        <div>
            {{ knowledge.content | safe | truncatewords_html:knowledge_content_length }}
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <ul class="text-end" style="list-style-type: none;">
            <li>
                Вид знания:
                {% if knowledge.tz.name %}
                {{ knowledge.tz.name }}
                {% else %}
                –
                {% endif %}
            </li>
            {% if knowledge.category.name %}
            <li>
                Категория знания:
                {{ knowledge.category.name }}
            </li>
            {% endif %}
            <li>
                Автор:
                {% if knowledge.author.name %}
                {{ knowledge.author.name }}
                {% else %}
                –
                {% endif %}
            </li>
            {% if knowledge.related.all %}
            <li>
                Вид связи:
                {% for relations in knowledge.related.all %}
                {{ relations.tr.name }}
                {% endfor %}
            </li>
            {% endif %}
            <li>
                Теги:
                {% for tag in knowledge.labels.all %}
                {{ tag.name }}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </li>
            <li class="d-flex flex-wrap justify-content-end">
                Изменено: {{ knowledge.updated_at |timesince }} назад
            </li>
        </ul>
    </div>
</div>
<hr class="mt-0">