{% extends 'drevo/base.html' %}

{% load static %}

{% block title %} Отправить Знание в Ленту {% endblock %}

{% block content %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/search.css' %}">
{% endblock %}

<div class="container">
    <div class="row g-3 align-items-center">
        <form method="post" id="feedmessage_form" novalidate action="{% url 'send_to_feed' znanie.id %}">
            {% csrf_token %}
            <div class="d-flex justify-content-around">
                <h2>Отправка знания друзьям</h2>
                <input id="send_message_btn" type="submit" value="Отправить" name="_save" class="btn btn-primary">
            </div>

            <div class="mt-3">
                <label for="znanie">Знание:</label>
                <h1 name="znanie" required id="id_znanie" class="form-text">{{znanie.name}}</h1>
            </div>

            <div class="mt-3">
                <label>Ярлык:</label>
                <select class="form-select shadow-none" name="label" required id="id_label">
                    {% for label in labels %}
                        <option value="{{label.id}}">{{label.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-3 col-auto">
                <label class="col-form-label">Текст письма:</label>
                <textarea name="text" cols="40" rows="10" class="vLargeTextField form-control shadow-none" maxlength="511" required id="id_text"></textarea>
            </div>
            {% if form.errors.text %}
                <ul>
                    {{form.errors.text}}
                </ul>
            {% endif %}

            <div>
                <p class="text-start">Получатели</p>
                <input type="checkbox" id="all_friends" class="form-check-input shadow-none"> Все друзья
                {% for friend in friends %}
                    <div class="d-flex mt-2">
                        <input type="checkbox" value="{{friend.user.id}}" class="me-1 form-check-input shadow-none checkbox">
                        {% if friend.profile.avatar %}
                            <img src="{{ friend.profile.avatar.url }}" class="rounded-circle" height="30px" width="30px">
                        {% endif %}
                        <p>{{friend.user.first_name}} {{friend.user.last_name}}</p>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<script>
    var all_checkboxes = document.getElementsByClassName('checkbox'); // все чекбоксы отдельных друзей
    var friends_ids_array = []; // массив для передачи выбранных друзей в django view
    var checkbox_all_friends = document.getElementById('all_friends'); // чекбокс "Все друзья"
    var send_message_btn = document.getElementById('send_message_btn'); // кнопка отправки сообщения


    // добавление id каждого чекбокса и друга в массив
    Array.from(all_checkboxes).forEach(element => {
        element.onchange = function() {

            // если уже есть id в массиве - удалить
            if(friends_ids_array.includes(Number(element.value))) {
                var index = friends_ids_array.indexOf(Number(element.value));
                friends_ids_array.splice(index, 1);
                checkbox_all_friends.checked = false;
            }

            // если id нет в массиве - добавить
            else {
                friends_ids_array.push(Number(element.value));
            }
        }
    });

    // нажатие на чек-бокс "Все друзья"
    checkbox_all_friends.onchange = function() {

        // очистка массива id
        friends_ids_array = []

        // если чекбокс прожат
        if(checkbox_all_friends.checked) {
            
            // добавление всех id всех чекбоксов в массив
            for (var i = 0; i < all_checkboxes.length; i++) {
            friends_ids_array.push(Number(all_checkboxes[i].value));
            }

            // включение всех чекбоксов 
            for (var i = 0; i < all_checkboxes.length; i++) {
            all_checkboxes[i].checked = true;
            }
        }

        // если чекбокс не прожат
        else {
            // выключение всех чекбоксов
            for (var i = 0; i < all_checkboxes.length; i++) {
            all_checkboxes[i].checked = false;
            }
        }
    }

    send_message_btn.addEventListener('click', function() {
        var text = document.getElementById('id_text').value;
        var label_id = document.getElementById('id_label').value;
    
        // ajax-запрос в базу данных, передаю текст сообщения, ярлык и список пользователей-получателей сообщения
        $.ajax({ 
            url:  `{% url 'send_to_feed' znanie.id %}`, 
            type: 'POST', 
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', "text": text, "label_id": label_id, "send_to_ids[]": friends_ids_array},
            }
        );
    })

</script>

{% endblock %}
