{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Новые, интересные знания{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/subscriptions.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info">
    <h1>Новые, интересные знания</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item"><a {% if link == 'users:myprofile' %} href="{% url 'users:my_profile' %}"
              {% else %} href="{% url link id %}" {% endif %}>Профиль</a></li>
          <li class="breadcrumb-item"><a>Изучение знаний</a></li>
          <li class="breadcrumb-item opened"><a>Новые, интересные знания</a></li>
        </ol>
    </nav>
</div>

{% include 'drevo/include/profile_header.html' with pub_user=pub_user link=link id=id activity=activity sections=sections %}
<div class="container">
    {% if not permissions %}
    <div class="text-center">
        <h3>У вас ещё нет особых прав</h3>
    </div>
    {% endif %}
    {% if permissions.categories.all %}
    <div class="border-bottom border-dark">
        <h3>Эксперт</h3>
    </div>
    <div class="container mt-3">
        {% include 'drevo/special_permissions_page/expert_user_permissions_tree.html' %}
    </div>
    {% endif %}
    {% if permissions.editor %}
    <div class="border-bottom border-dark">
        <h3>Редактор</h3>
    </div>
    <div class="container mt-3 mb-3">
        <p>Отредактировано: <strong>{{ edit_knowledge_count }}</strong>.</p>
    </div>
    {% endif %}
    {% if permissions.admin_competencies.all %}
    <div class="border-bottom border-dark">
        <h3>Руководитель</h3>
    </div>
    <div class="container mt-3">
        {% include 'drevo/special_permissions_page/admin_user_permissions_tree.html' %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}