{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}Конструктор таблиц{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="/static/drevo/css/table_constructor/table_constructor.css">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/table_constructor/table_constructor.js'%}" data-delete-relations='{% url "delete_row_or_column" %}'
            data-delete-element='{% url "delete_element_of_relation" %}'
            data-delete-table='{% url "delete_table" %}' data-get-form="{% url 'get_form_data' %}"
            data-relations-exists="{% url 'row_and_column_existence' %}" data-cell-exists="{% url 'cell_in_table_or_relation_existence' %}"
            data-element-group-add="{% url 'group_of_element_create' %}">

    </script>
{% endblock %}

<div id="page">
{% block content %}

<form method="POST" class="form" id="form" name="form"> {% csrf_token %}
    <input type="hidden" name="filling_tables" value="">
    <div class="constructor-block">
        <h1>Конструктор таблиц</h1>
        <label for="id_table">Таблица:</label>
        <div class="block-select-table">
            <select class="select-table" name="table" id="id_table">
                {% if new_table %}
                    <option value="" id="" selected disabled> Создайте таблицу </option>
                {% else %}
                    {% for pk, element in table_dict.items %}
                        <option value="{{ pk }}" id="{{ pk }}"> {{ element }} </option>
                    {% endfor %}
                {% endif %}
            </select>
           <span style="margin-left: 5px">
               {% if new_table %}
               <input type="button" value="➕" class="quiet button-edit" id="add_table" onclick="addZnanie('table')">
               {% endif %}
               <input type="button" value="❌" class="quiet button-edit" id="delete_table" {% if new_table %} hidden {% endif %}>
               <input type="button" value="✐" class="quiet button-edit" id="edit_table" style="padding-left: 0px"  {% if new_table %} hidden {% endif %} onclick="editZnanie('table')">
            </span>
        </div>
    </div>

    <div class="row-column-block">
        <label for="id_row">Строка:</label>
        <div class="select-options">
            <input type="hidden" id="relation_type" value="">
            <input type="hidden" id="element_relation_type" value="">
            <input type="hidden" id="current_stage" value="">
            <select class="form-select" name="row" id="id_row" {% if new_table %} disabled {% endif %}
                    {% if row_is_group %}  style="background-image: none; appearance: none; pointer-events: none;" {% endif %}>
                    {% if new_table or not rows_attributes %}
                        <option value="" id="create_row" selected disabled>Создайте строку</option>
                    {% else %}
                        {% if not row_is_group %}
                            <option value="" selected disabled>Выберите строку</option>
                        {% endif %}
                        {% for row in rows_attributes %}
                            <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                        {% endfor %}
                    {% endif %}
            </select>
            <span style="margin-left: 5px">
                <input type="button" value="➕" class="quiet button-edit" id="add_row" {% if new_table %} disabled {% endif %} onclick="addZnanie('row')" {% if row_is_group %} hidden {% endif %}>
                <input type="button" value="❌" class="quiet button-edit" id="delete_row" {% if not row_is_group %} style="padding-left: 0px" {% endif %} {% if new_table %} hidden {% endif %}>
                <input type="button" value="✐" class="quiet button-edit" id="edit_row" style="padding-left: 0px" {% if new_table %} hidden {% endif %} onclick="editZnanie('row')">
            </span>
        </div>
        <input type="hidden" id="row_is_group" value="{{ row_is_group }}">
        {% if row_is_group or not rows_attributes or new_table %}
            <div id="row_elements" {% if new_table or not rows_attributes %} hidden {% endif %}>
                 <label for="id_column" style="margin-left: 50px">Элемент строки:</label>
                 <div class="select-options">
                     <select class="form-select" name="row_element" id="id_element_row" style="margin-left: 50px;">
                        {% if new_table or not rows_structure_attributes %}
                            <option value="" id="" selected disabled> Создайте элемент строки</option>
                        {% else %}
                            {% for row in rows_structure_attributes %}
                                <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <span>
                        <input type="button" value="➕" class="quiet button-edit" id="add_element_row" onclick="addZnanie('element_row')">
                        <input type="button" value="❌" class="quiet button-edit" id="delete_element_row" style="padding-left: 0px" {% if new_table %} hidden {% endif %}>
                        <input type="button" value="✐" class="quiet button-edit" id="edit_element_row" style="padding-left: 0px" {% if new_table %} hidden {% endif %} onclick="editZnanie('element_row')">
                    </span>
                 </div>
            </div>
        {% endif %}
        <label for="id_column">Столбец:</label>
        <div class="select-options">
            <select class="form-select" name="column" id="id_column" {% if new_table %} disabled {% endif %}
                {% if column_is_group %}  style="background-image: none; appearance: none; pointer-events: none;" {% endif %}>
                {% if new_table or not columns_attributes %}
                    <option value="" id="create_column" selected disabled>Создайте столбец</option>
                {% else %}
                    {% if not column_is_group %}
                        <option value="" selected disabled>Выберите столбец</option>
                     {% endif %}
                    {% for column in columns_attributes %}
                        <option value="{{ column.rz_id }}" id="{{ column.rz_id }}"> {{ column.rz__name }} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <span style="margin-left: 5px">
                <input type="button" value="➕" class="quiet button-edit" id="add_column" {% if new_table %} disabled {% endif %} onclick="addZnanie('column')" {% if column_is_group %} hidden {% endif %}>
                <input type="button" value="❌" class="quiet button-edit" id="delete_column" {% if not column_is_group %} style="padding-left: 0px" {% endif %}  {% if new_table %} hidden {% endif %}>
                <input type="button" value="✐" class="quiet button-edit" id="edit_column" style="padding-left: 0px"  {% if new_table %} hidden {% endif %} onclick="editZnanie('column')">
            </span>
        </div>
        <input type="hidden" id="column_is_group" value="{{ column_is_group }}">
        {% if column_is_group or not columns_attributes  or new_table %}
            <div id="column_elements" {% if new_table or not columns_attributes %} hidden {% endif %}>
                 <label for="id_column" style="margin-left: 50px">Элемент столбца:</label>
                 <div class="select-options">
                     <select class="form-select" name="column_element" id="id_element_column" style="margin-left: 50px">
                         {% if new_table or not columns_structure_attributes %}
                            <option value="" id="" selected disabled> Создайте элемент столбца</option>
                        {% else %}
                            {% for row in columns_structure_attributes %}
                                <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                            {% endfor %}
                         {% endif %}
                    </select>
                    <span style="margin-left: 5px">
                        <input type="button" value="➕" class="quiet button-edit" id="add_element_column" onclick="addZnanie('element_column')">
                        <input type="button" value="❌" class="quiet button-edit" id="delete_element_column" style="padding-left: 0px" {% if new_table %} hidden {% endif %}>
                        <input type="button" value="✐" class="quiet button-edit" id="edit_element_column" style="padding-left: 0px" {% if new_table %} hidden {% endif %} onclick="editZnanie('element_column')">
                    </span>
                 </div>
             </div>
        {% endif %}
    </div>

    <div id="div-param" class="button-block">
        <div class="button-menu">
            <input class="button-save" id="btn_save" type="submit" value="Сохранить" name="_save">
            <input class="button-show" id="btn_show" type="button" value="Показать">
        </div>
    </div>

</form>
</div>

<div id="div1"></div>

<div class="overlay js-successful">
    <div class="popup js-successful">
        <h2 class="success-save">Данные были успешно сохранены</h2>
        <div class="close-popup js-close-successful"></div>
    </div>
</div>

<div class="overlay js-table-delete-if-cell">
    <div class="popup js-table-delete-if-cell">
        <h2 class="delete-confirmation">Для удаления таблицы необходимо сначала очистить ячейки таблицы. Очистить?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-table-delete">
    <div class="popup js-table-delete">
        <h2 class="delete-confirmation">Вы действительно хотите удалить данную таблицу?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-row-delete-if-cell">
    <div class="popup js-row-delete-if-cell">
        <h2 class="delete-confirmation">Для удаления строки необходимо сначала очистить ячейки этой строка. Очистить?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-row-delete">
    <div class="popup js-row-delete">
        <h2 class="delete-confirmation">Вы действительно хотите удалить данную строку?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-column-delete-if-cell">
    <div class="popup js-column-delete-if-cell">
        <h2 class="delete-confirmation">Для удаления столбца необходимо сначала очистить ячейки этого столбца. Очистить?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-column-delete">
    <div class="popup js-column-delete">
        <h2 class="delete-confirmation">Вы действительно хотите удалить данную строку?</h2>
        <div class="modal_choice_but ">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-element-row-delete">
    <div class="popup js-element-row-delete">
        <h2 class="delete-confirmation">Вы действительно хотите удалить элемент строки?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

<div class="overlay js-element-column-delete">
    <div class="popup js-element-column-delete">
        <h2 class="delete-confirmation">Вы действительно хотите удалить элемент столбца?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

{% endblock %}
