{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}Конструктор таблиц{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="/static/drevo/css/table_constructor/table_constructor.css">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/table_constructor/table_constructor.js'%}" data-delete-relations='{% url "delete_row_or_column" %}'
    data-delete-table='{% url "delete_table" %}' data-get-form="{% url 'get_form_data' %}" data-relations-exists="{% url 'row_and_column_existence' %}"></script>
{% endblock %}

<div id="page">
{% block content %}

<form method="POST" class="form" id="form" name="form"> {% csrf_token %}
    <input type="hidden" name="filling_tables" value="">
    <div class="constructor-block">
        <h1>Конструктор таблиц</h1>
        <label for="id_table">Таблица:</label>
        <div class="block-select-table">
            <select class="select-table" name="table" id="id_table">
                {% if new_table %}
                    <option value="" id="" selected disabled> Создайте таблицу </option>
                {% else %}
                    {% for pk, element in table_dict.items %}
                        <option value="{{ pk }}" id="{{ pk }}"> {{ element }} </option>
                    {% endfor %}
                {% endif %}
            </select>
           <span>
               {% if new_table %}
               <input type="button" value="➕" class="quiet button-edit" id="add_table" onclick="addTable()">
               {% endif %}
               <input type="button" value="❌" class="quiet button-edit" id="delete_table" {% if new_table %} hidden {% endif %}>
               <input type="button" value="✐" class="quiet button-edit" id="edit_table" style="padding-left: 0px"  {% if new_table %} hidden {% endif %} onclick="editZnanie('table')">
            </span>
        </div>
    </div>

    <div class="row-column-block">
        <label for="id_row">Строка:</label>
        <div class="select-options">
            <input type="hidden" id="relation_type" value="">
            <select class="form-select row-choice" name="row" id="id_row" {% if new_table %} disabled {% endif %}>
                {% if new_table %}
                    <option value="" selected disabled>Создайте строку</option>
                {% else %}
                    <option value="" selected disabled>Выберите строку</option>
                    {% for row in rows_attributes %}
                        <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <span>
                <input type="button" value="➕" class="quiet button-edit" id="add_row" {% if new_table %} disabled {% endif %} onclick="addRelation('row')">
                <input type="button" value="❌" class="quiet button-edit" id="delete_row" style="padding-left: 0px" {% if new_table %} hidden {% endif %}>
                <input type="button" value="✐" class="quiet button-edit" id="edit_row" style="padding-left: 0px" {% if new_table %} hidden {% endif %} onclick="editZnanie('row')">
            </span>
        </div>
        <label for="id_column">Столбец:</label>
        <div class="select-options">
            <select class="form-select" name="column" id="id_column" {% if new_table %} disabled {% endif %}>
                {% if new_table %}
                    <option value="" selected disabled>Создайте столбец</option>
                {% else %}
                    <option value="" selected disabled>Выберите столбец</option>
                    {% for column in columns_attributes %}
                        <option value="{{ column.rz_id }}" id="{{ column.rz_id }}"> {{ column.rz__name }} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <span>
                <input type="button" value="➕" class="quiet button-edit" id="add_column" {% if new_table %} disabled {% endif %} onclick="addRelation('column')">
                <input type="button" value="❌" class="quiet button-edit" id="delete_column" style="padding-left: 0px"  {% if new_table %} hidden {% endif %}>
                <input type="button" value="✐" class="quiet button-edit" id="edit_column" style="padding-left: 0px"  {% if new_table %} hidden {% endif %} onclick="editZnanie('column')">
            </span>
        </div>
    </div>

    <div id="div-param" class="button-block">
        <div class="button-menu">
            <input class="button-save" id="btn_save" type="submit" value="Сохранить" name="_save">
            <input class="button-show" id="btn_show" type="button" value="Показать">
        </div>
    </div>

</form>
</div>

<div id="div1"></div>

<div class="overlay js-successful">
    <div class="popup js-successful">
        <h2 class="success-save">Данные были успешно сохранены</h2>
        <div class="close-popup js-close-successful"></div>
    </div>
</div>

<div class="overlay js-table-delete">
    <div class="popup js-table-delete">
        <h2 class="delete-confirmation">Вы точно хотите удалить знание и все связанные с ним объекты?</h2>
        <div class="modal_choice_but">
            <input class="okay-popup js-okay-successful" type="button" value="Ок">
            <input class="cancel-popup js-cancel-successful" type="button" value="Отмена">
        </div>
    </div>
</div>

{% endblock %}
