{% load static %}
<style>
    .table-border {
        border: 2px black solid;
    }
    th {
        min-width: 200px;
        max-width: 300px;
    }
    table a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="table-responsive scrollbar">
    <table class="table align-middle my-2">
        <tbody class="table-border" style="border-bottom-color: #BFBFBF;">
        {% if not table.rows.0.rz.tz.is_group and not table.cols.0.rz.tz.is_group %}
            {#  Вариант 1  #}
            <th class="table-border"></th>
            {% for col in table.cols %}
                <th class="table-border text-center" style="min-width: content-box">
                    {{ col.rz.name }}
                </th>
            {% endfor %}
            {% for row in table.values %}
                <tr>
                    <th class="table-border">
                        {% for row_name in table.rows %}
                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                {{ row_name.rz.name }}
                            {% endif %}
                        {% endfor %}
                    </th>
                    {% for col in row %}
                        <td class="table-border">
                            {% if col.show_link %}
                                <a>{{ col.name }}</a>
                            {% else %}
                                {{ col.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% elif table.rows.0.rz.tz.is_group and not table.cols.0.rz.tz.is_group %}
            {#  Вариант 2  #}
            <tr>
                {% for col in table.cols %}
                    {% if forloop.first %}
                        <th class="table-border" colspan="2"></th>
                    {% endif %}
                    <th class="table-border text-center">
                        {{ col.rz.name }}
                    </th>
                {% endfor %}
            </tr>
            {% for row in table.rows.0.get_grouped_relations %}
                <tr>
                    {% if forloop.first %}
                        <th class="table-border" rowspan="{{ table.rows.0.rz.base.all.count }}"
                            style="vertical-align: middle;">
                            {{ table.rows.0.rz.name }}
                        </th>
                    {% endif %}
                    <th class="table-border">
                        {{ row.rz.name }}
                    </th>
                    {% for values_row in table.values %}
                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                            {% for value in values_row %}
                                <td class="table-border">
                                    {% if value %}
                                        {% if value.show_link %}
                                            <a>{{ value.name }}</a>
                                        {% else %}
                                            {{ value.name }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% elif not table.rows.0.rz.tz.is_group and table.cols.0.rz.tz.is_group %}
            {#  Вариант 3  #}
            <tr>
                <th class="table-border" rowspan="2"></th>
                <th class="table-border text-center" colspan="{{ table.cols.0.rz.base.all.count }}">
                    {{ table.cols.0.rz.name }}
                </th>
            </tr>
            <tr>
                {% for col in table.cols.0.get_grouped_relations %}
                    <th class="table-border text-center">
                        {{ col.rz.name }}
                    </th>
                {% endfor %}
            </tr>
            {% for row in table.values %}
                <tr>
                    <th class="table-border">
                        {% for row_name in table.rows %}
                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                {{ row_name.rz.name }}
                            {% endif %}
                        {% endfor %}
                    </th>
                    {% for col in row %}
                        <td class="table-border">
                            {% if col.show_link %}
                                <a>{{ col.name }}</a>
                            {% else %}
                                {{ col.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% elif table.rows.0.rz.tz.is_group and table.cols.0.rz.tz.is_group %}
            {#  Вариант 4  #}
            <tr>
                <th class="table-border" rowspan="2" colspan="{{ table.cols.0.rz.base.all.count }}"></th>
                <th class="table-border text-center" colspan="{{ table.cols.0.rz.base.all.count }}">
                    {{ table.cols.0.rz.name }}
                </th>
            </tr>
            <tr>
                {% for col in table.cols.0.get_grouped_relations %}
                    <th class="table-border text-center">
                        {{ col.rz.name }}
                    </th>
                {% endfor %}
            </tr>
            {% for row in table.rows.0.get_grouped_relations %}
                <tr>
                    {% if forloop.first %}
                        <th class="table-border" rowspan="{{ table.rows.0.rz.base.all.count }}"
                            style="vertical-align: middle;">
                            {{ table.rows.0.rz.name }}
                        </th>
                    {% endif %}
                    <th class="table-border">
                        {{ row.rz.name }}
                    </th>
                    {% for values_row in table.values %}
                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                            {% for value in values_row %}
                                <td class="table-border">
                                    {% if value %}
                                        {% if value.tz.name == 'Тезис' %}
                                        <i class="kn_type" style="color: #1CA053;"><img src="{% static 'drevo/img/green_file.png' %}"></i>
                                        {% elif value.tz.name == 'Вопрос' %}
                                        <i class="kn_type" style="color: #1BA2F1;"><img src="{% static 'drevo/img/blue_file.png' %}"></i>
                                        {% elif value.tz.name == 'Факт' %}
                                        <i class="kn_type" style="color: #FC918F;"><img src="{% static 'drevo/img/red_file.png' %}"></i>
                                        {% elif value.tz.name == 'Классификация' %}
                                        <i class="kn_type" style="color: #BA7507;"><img src="{% static 'drevo/img/ginger_file.png' %}"></i>
                                        {% else %}
                                        <i class="kn_type" style="color: #424141;"><img src="{% static 'drevo/img/grey_file.png' %}"></i>
                                        {% endif %}
                                        {% if value.show_link %}
                                            <a>{{ value.name }}</a>
                                        {% else %}
                                            {{ value.name }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
