{% extends 'drevo/base.html' %}
{% load static %}

{% block content %}
<div id="test_res" data-url="{% url 'test_response' %}">
    <form method="POST" action="{% url 'test_ajax'%}">
        {% csrf_token %}
        {{form}}
        <p id="test">Hello</p>
        <button type=sumbit>Test AJAX<button>
    </form>
</div>
{% endblock %}


{% block jsfiles %}
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "drevo/js/test.js"%}"</script>
{% endblock jsfiles %}
