{% extends 'base.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}Сообщение об интересном знании{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <li class="text-danger"> {{ message }} </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <h1><input type="submit" class="btn btn-warning" value="Отправить"> Сообщение об интересном знании</h1>
        <h3>Знание: {{ znanie_name.name }}</h3>
        {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field}}
        <div class="text-danger">
            {{ field.errors }}
        </div>
        {% endfor %}
    </form>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-dark" style="background-color:#5ad65a;">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Сообщение успешно отправлено</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Ваше сообщение было успешно отправлено. Вы можете отправить следующее сообщение или вернуться на страницу знания.
            </div>
            <div class="modal-footer">
                <a href="{% url 'zdetail' znanie_name.pk %}" class="btn btn-info" style="background-color:#3399ff;">К знанию</a>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" aria-label="Отправить новое сообщение" style="background-color:#3399ff;">Отправить новое сообщение</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
if ("{{ is_send }}") {
  $(window).on('load', function() {
        $('#authModal').modal('show');
    });
}
</script>
{% endblock %}