{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load static %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block title %}Сообщение об интересном знании{% endblock %}

{% block content %}

<div class="container d-grid" style="justify-items: center;">
    <h1 class="w-auto page-title">Сообщение об интересном знании</h1>
    <button type="button" class="btn btn-icon mb-4" style="background-color: #fff; padding: 8px 24px;">
            <a href="{% url 'zdetail' znanie_name.pk %}" style="color:#083E2F;">Вернуться к знанию</a>
        </button>
    <div class="container mt-3 d-flex" style="background-color: #FFFFFF; border-radius: 10px; justify-content: center; width: fit-content; padding: 32px;">
        <form method="post" style="justify-content: center; display: grid; gap: 10px;">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <li class="text-danger"> {{ message }} </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <p class="choice-header p-0 h-auto" style="border: none;">
            {% if value.tz.name == 'Тезис' %}
            <i class="kn_type" style="color: #1CA053;"><img src="{% static 'drevo/img/green_file.png' %}"></i>
            {% elif value.tz.name == 'Вопрос' %}
            <i class="kn_type" style="color: #1BA2F1;"><img src="{% static 'drevo/img/blue_file.png' %}"></i>
            {% elif value.tz.name == 'Факт' %}
            <i class="kn_type" style="color: #FC918F;"><img src="{% static 'drevo/img/red_file.png' %}"></i>
            {% elif value.tz.name == 'Классификация' %}
            <i class="kn_type" style="color: #BA7507;"><img src="{% static 'drevo/img/ginger_file.png' %}"></i>
            {% else %}
            <i class="kn_type" style="color: #424141;"><img src="{% static 'drevo/img/grey_file.png' %}"></i>
            {% endif %}
            Знание: {{ znanie_name.name }}</p>
            {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field}}

            <div class="text-danger">
                {{ field.errors }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-warning btn-header" style="width: fit-content; justify-self: center; border: none;" value="Отправить">
        </form>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-dark py-4" style="background-color:#fff;border-radius: 10px;">
            <div class="modal-header" style="justify-content: center; border: none;">
                <i class="bi bi-check2 rounded-circle" style="font-size: xxx-large; border: solid 1px #19875433; color: #198754; width: 10vh; height: 10vh;"></i>
            </div>
            <div class="modal-body author-title" style="text-align: center;">
                Успешно отправлено!
            </div>
            <div class="modal-footer" style="justify-content: center; border: none;">
                <button type="button" class="btn btn-info btn-header" style="width: fit-content; justify-self: center; border: none;" data-bs-dismiss="modal" aria-label="Прекрасно!">Прекрасно!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
if ("{{ is_send }}") {
  $(window).on('load', function() {
        $('#authModal').modal('show');
    });
}
</script>
{% endblock %}