<!-- модальная форма для создания знания
    в диалоге надо все заключить в <form></form> и добавить кнопки
-->
  <div class="container">
        <div class="row">
              <input type="hidden" name="modal" value="1">
                {% csrf_token %}
                {{ form.media }}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% for field in form %}
                    {% if forloop.counter < 5 %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}

                        </div>
                    {% endif %}
                {% endfor %}
                <br>
            </div>

            <div class="col-md-6">
                 {% for field in form %}
                    {% if forloop.counter >= 5 %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row mt-3">
                    <div class="col">
                        <h6>Изображения</h6>
                        {{ image_form.management_form }}
                        {% for frm in image_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h6>Файлы</h6>
                        {{ files_form.management_form }}
                        {% for frm in files_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
      </div>
  </div>
