
._wrapper__multi_input {
    display: flex;
    margin-bottom: 0.5em;
}

.add-input {
    width: 18px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.delete-input {
    width: 26px;
    margin-left: 0.5rem;
    cursor: pointer;
}
