{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="/static/drevo/css/filling_tables.css">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/get_cookie.js' %}"></script>
    <script src="{% static 'drevo/js/filling_tables/filling_tables.js' %}" data-get-cell="{% url 'get_cell_for_table' %}"
    data-save-zn="{% url 'save_zn_to_cell_in_table' %}"></script>
{% endblock %}

{% block content %}

    <a href="{% url 'constructor_tree' type_of_zn='filling_tables' %}" class="btn btn-warning mb-3">Назад</a>

    <input type="hidden" name="filling_tables" value="True">
    <div class="table-name">
        <h1>{{ title }}</h1>
        <label for="id_table">Таблица:</label>
        <select class="select-without-choice" name="table" id="id_table">
            {% for table_id, table_name in table_dict.items %}
                <option value="{{ table_id }}" id="{{ table_id }}">{{ table_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="cell-coordinates">
        <h2>Координаты ячейки</h2>
        <label for="id_row">Строка:</label>
        <select class="form-select" name="row" id="id_row">
            <option value="" selected disabled>Выберите строку</option>
            {% for row in rows_attributes %}
                <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
            {% endfor %}
        </select>
        <label for="id_column">Столбец:</label>
        <select class="form-select" name="column" id="id_column">
            <option value="" selected disabled>Выберите столбец</option>
            {% for column in columns_attributes %}
                <option value="{{ column.rz_id }}" id="{{ column.rz_id }}"> {{ column.rz__name }} </option>
            {% endfor %}
        </select>
        <label for="id_znanie">Знание:</label>
    </div>

    <div class="row-container">
        <select class="select-without-choice" id="id_znanie" disabled></select>
        <input type="button" value="✐" class="quiet button-edit" id="add_znanie" disabled onclick="addZnanie()">
    </div>

    <div class="button-menu">
        <input class="btn btn-outline-success" id="btn_show" type="button" value="Показать">
    </div>

{% endblock %}
