{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}Редактирование знания для таблицы{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/table_constructor/relation_edit.js' %}" data-new="{{ new|yesno:"true,false" }}"
            data-name="{{ changed_znanie_name }}" data-id="{{ changed_znanie_id }}" data-relation="{{ relation }}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <h1>{{ title }} </h1>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Сохранить">
    </form>
{% endblock %}
