{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %}

{% block title %}Создание знания для таблицы{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/table_constructor/relation_create.js' %}" data-new="{{ new|yesno:"true,false" }}"
            data-name="{{ new_znanie_name }}" data-id="{{ new_znanie_id }}" data-tz-name = "{{ new_znanie_kind }}"></script>
    <script>
        window.onload = function() {
          relationCreate();
        }
    </script>
{% endblock %}

{% block content %}
    <div class="new-znanie">
        <h1>{{ title }}</h1>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Создать знание">
        </form>
    </div>
{% endblock %}
