select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.required:after {
  content: '*';
  color: #ff0000;
  margin-left: 5px;
}

.btn_show{
    display: flex;
    justify-content: right;
    border-width: 2px;
}
.quiet {
    border: 0;
    vertical-align: middle;
    background: 0;
}
.text-show{
    width: 500px;
    height: 150px;
    resize: none;
}
.caret{
    display: none;
 }
.bootstrap-select {
  width: 600px !important;
 }
.form-select{
    width: 600px;
    height: 40px;
 }
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
}
.popup {
    position: absolute;
    width: 450px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
}
.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.close-popup:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}
.close-popup:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}
.block-select-table {
    display: flex;
    flex-direction: row;
}
.select-table {
    appearance: none;
    pointer-events: none;
    width: 600px;
    height: 40px;
    padding-left: 9px;
}
.button-edit {
    vertical-align: middle;
    font-size: 24px;
    font-family: var(--bs-font-sans-serif);
}
.constructor-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.row-column-block {
    display: flex;
    flex-direction: column;
}
.select-options {
    display: flex;
    flex-direction: row;
}
.row-choice {
    margin-bottom: 15px;
}
.button-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.button-menu {
    margin-top: 15px;
}
.button-save {
    align-self: flex-start;
}
.button-show {
    align-self: flex-start;
}
.success-save {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.delete-confirmation {
    position: relative;
    top: 38%;
    transform: translateY(-50%);
    text-align: center;
}
.modal_choice_but{
    margin-top: 4px;
    text-align: center;
}
.okay-popup js-okay-successful {
    align-self: flex-start;
    width: 100px;
    height: 35px;
}
.cancel-popup js-cancel-successful {
    align-self: flex-start;
    width: 100px;
    height: 35px;
}