{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Сотрудники редакции{% endblock %}

{% block content %}




    <style>
    .popup {
        display: block;
        position: fixed;
        top:  -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        transition: top 0.5s;
        max-width: 900px;
        max-height: 300px;
        overflow-y: auto; /* Add this line for vertical scrolling */
    }

    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .popup p {
        margin-bottom: 10px;
    }

    .show-info {
        text-decoration: none;
        font-style: italic;
        cursor: pointer;
    }

    .user-permissions-popup {
        display: block;
        position: fixed;
        top:  -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        transition: top 0.5s;
        max-width: 900px;
    }

    .close-user-permissions {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .sidebar {
        background: lightgray;
        overflow-y: scroll;
    }

    .close-popup {
        position: sticky  ;
        top: 5px;
        right: 5px;
        float: right;
    }
</style>



    <div class="container">
        <h2>Сотрудники редакции</h2>
        <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'users:myprofile' %}">Профиль</a></li>
                <li class="breadcrumb-item opened"><a>Сотрудники редакции</a></li>
                </ol>
            </nav>
        <br>

        <label><input type="checkbox" id="all-users-checkbox" formmethod="post" checked="checked"> Все пользователи</label>

        <input type="text" id="search-input" name="search-input" style="float: right;" placeholder="Поиск">
        <table class="table">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>ФИО пользователя</th>
                    <th>Сотрудник</th>
                    <th>Администратор</th>
                    <th>Права</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>

                    <td>
                        <a class="show-info" style="font-style: italic; cursor: pointer;">{{ user.last_name }} {{ user.first_name }} {% if user.profile.patronymic %}{{ user.profile.patronymic }}{% endif %}</a>
                        <div class="popup container">
                            <button class="close-popup">X</button>
                            <h2>Дополнительная информация о сотруднике</h2>
                            <p>ФИО: {{ user.last_name }} {{ user.first_name }} {% if user.profile.patronymic %}{{ user.profile.patronymic }}{% endif %}</p>
                            <p>Дата рождения: {{ user.profile.birthday_at }}</p>
                            <p>Профессия: {{ user.job }}</p>
                            <p>E-mail: {{ user.email }}</p>

                            {% if user.id in experts %}
                                <p>Руководитель:</p>
                                <ul class="categories">
                                {% for special_permission in special_permissions %}
                                    {% for competencies in special_permission.admin_competencies.all  %}
                                        {% if user == special_permission.expert %}
                                            <li>{{ competencies }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </ul>


                                {% for special_permission in special_permissions %}
                                    {% if user == special_permission.expert %}
                                        {% if special_permission.editor %}
                                            <p>Редактор</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                <p>Эксперт:</p>
                                <ul class="categories">
                                    {% for special_permission in special_permissions %}
                                        {% for category in special_permission.categories.all  %}
                                            {% if user == special_permission.expert %}
                                                <li>{{ category }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </td>

                    <td>
                        <input type="checkbox" class="employee-checkbox" data-userid="{{ user.id }}" data-isemployee="{{ user.is_employee }}" {% if user.is_employee %}checked="checked"{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="admin-checkbox" data-userid="{{ user.id }}" data-isadmin="{{ user.is_superuser }}"  {% if user.is_superuser %}checked="checked"{% endif %}>
                    </td>
                    <td>
                    <a class="show-info" data-userid="{{ user.id }}" style="font-style: italic; cursor: pointer;">Права сотрудника</a>
                        <div class="popup container user-info-{{ user.id }}">
                            <button class="close-popup">X</button>
                            <h2>Панель управления</h2>
                            <h3>Настройка прав администратора</h3>
                            <br>
                            <p>Администратор: {{ user.last_name }} {{ user.first_name | first|upper }}. {{ user.profile.patronymic | first|upper }}.</p>
                            <div>
                                <h6>Группы прав:</h6>
                                <ul class="staff-list">
                                    {% for group in all_groups %}
                                        <li>
                                            <input type="checkbox" class="group-checkbox" data-userid="{{ user.id }}" value="{{ group }}" {% if group in user.groups.all %}checked="checked"{% endif %}>
                                            <label>{{ group }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="popup-overlay"></div>




    <script defer src="{% static 'admin/js/admin/editorial_staff.js' %}"></script>
{% endblock %}