{% load knowledge_tree %}
{% load constructors_tag %}
{% load static %}

<li id="tree{{ tree_num }}_li_{{ base_knowledge.pk }}_{{ parent.id }}" class="treeline mb-2">
    <div class="text-secondary d-flex align-items-center" style="margin-left: 30px; flex-wrap: nowrap;">
        <span>
            {% get_relation_name relations_info parent base_knowledge %}
            {% if children %}
                <i class="mt-1 me-2" style="color: #5c6bc0; cursor: pointer" onclick="edit_relation('{% get_relation_id relations_info parent base_knowledge %}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
                </i>
                <i onclick="delete_relation({{ parent.id }}, {{ base_knowledge.pk }})" class="text-danger" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </i>
            {% endif %}
        </span>
    </div>
    {% get_color_by_tz base_knowledge.tz.name %}
    <a href="{{ base_knowledge.get_absolute_url }}" id="znanie_id_{{ base_knowledge.id }}" class="text-blue znanie">
        {{ base_knowledge.name }}
    </a>
    {% is_max_number_of_inner_rels_for_zn base_knowledge as is_max_number_of_inner_rels %}
    {% if not is_max_number_of_inner_rels %}
        <i class="text-success mt-1 me-2 align-top" id="add_knowledge" onclick="add_relation({{ base_knowledge.pk }})" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
            </svg>
        </i>
    {% endif %}
    {% if not children %}
        <i class="text-info mt-1 me-2 align-top" onclick="editMainAlgorithm()" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
        </i>
    {% endif %}
    {% is_questions_and_answers_for_algorithm base_knowledge as is_questions_and_answers_for_alg %}
    {% if is_questions_and_answers_for_alg %}
            <i class="text-dark mt-1 me-2 align-top" onclick="questions_and_answers_for_zn({{ base_knowledge.pk }})" style="cursor: pointer"> ?
    {% endif %}
    </i>
    <ul class="children treeline p-0" id="block">
        {% for b_zn, zn_data in knowledge_data.items %}
            {% with base_knowledge=b_zn knowledge_data=zn_data parent=base_knowledge template_name="drevo/tags/constructors_nodes.html" children=True %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </ul>
</li>