{% load static %}
<ul class="navbar-nav mb-2 mb-lg-0 ms-auto" style="align-items: center; margin-top: 25px;">
    <li class="nav-item row">
        <div class="logo ps-0 ms-0 me-1 col-auto">
            <a class="auto_active_link" href="{% url 'drevo' %}" id="tree_link">
                <img src="{% static 'drevo\img\main_page\navbar_tree_white.png' %}" height='46px' alt="logo-tree">
            </a>
        </div>
        <div class="col p-0">
            <div class="header-bottom-title">
                Дерево знаний
            </div>
            <div class="header-bottom-subtitle">
                Научно-образовательный проект
            </div>
        </div>
    </li>
</ul>