{% extends 'drevo/base.html' %}
{% load static %}
{% load infographics %}
{% load grades %}
{% load custom_humanize %}

{% block title %}
{% if request.GET.variant != '2' %}
    Инфографика. Оценка знания
{% else %}
    Инфографика. Общая оценка знания
{% endif %}
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/knowledge_grade.css' %}">
{% endblock %}

{% block content %}
    <h2 class="my-2 header">
        {% if request.GET.variant != '2' %}
            Инфографика. Оценка знания
        {% else %}
            Инфографика. Общая оценка знания
        {% endif %}
    </h2>
    <div class="d-flex justify-content-between">
        <div class="breadcrumbs">
            <p>
                <a class="text-decoration-none breadcrumbs" href="/">Главная</a> -
                <a class="text-decoration-none breadcrumbs" href="/drevo/knowledge">Дерево знаний</a> -
                <a class="text-decoration-none breadcrumbs" href="{{ knowledge.get_absolute_url }}">Знание</a> -
                <a class="text-decoration-none breadcrumbs" href="{{ knowledge.get_absolute_url }}/grade">Оценка знания</a> -
                <span style="color: #212529;">Инфографика</span>
            </p>
        </div>
        <div class="d-flex justify-content-around">
            <a style="margin-right: 10px;" class="btn btn-filled-white" href="{{ knowledge.get_absolute_url }}/grade">
                Вернуться к оценке знания
            </a>
        </div>
    </div>
    <div class="non-bootsctrap-card">
        <div class="breadcrumbs">
            <p style="font-size: 14px;">Оценка знания</p>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <i class="bi bi-file-earmark-fill text-success" style="font-size: 1.4rem; font-style: normal;">
                    <span class="header" style="font-size:24px;">{{ knowledge.name }}</span>
                </i>
            </div>
            <a class="btn btn-filled-gray" href="{{ knowledge.get_absolute_url }}">
                Вернуться на страницу знания
            </a>
        </div>
    </div>

    {% if not none %}
    <div class="non-bootsctrap-card">
    {% if not user.is_authenticated %}
        <div class="col">
            <div class="row">
                <div class="card alert-warning my-4">
                    <div class="card-body">
                      <span class="card-text">
                        <a href="{% url 'users:login' %}?next={{ request.path }}"
                           style="text-decoration: none">Войдите</a>
                        или
                        <a href="{% url 'users:register' %}" style="text-decoration: none">зарегистрируйтесь</a>,
                        чтобы посмотреть инфографику.
                      </span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% if proof_relations.exists %}
        <div class="my-4 header-tab">
            <form action="{{ request.get_full_path }}" method="get" id="modeForm">
                <div class="d-flex flex-row align-items-center">
                    <span class="header" style="font-size: 20px; padding-bottom: 34px; margin-right: 100px;">
                        Вариант расчета
                    </span>
                    <span class="ms-2">
                    <fieldset id="variant" class="input-group">
                        <span style="white-space: nowrap">
                            <input class="ms-2" type="radio" id="var1" name="variant" value="1" style="display:none;"
                                    {% if request.GET.variant != '2' %} checked {% endif %}>
                            <label for="var1"
                                   {% if request.GET.variant != '2' %} class="check-type-knowledge-grade-active"
                                   {% else %} class="check-type-knowledge-grade" {% endif %}>
                                Оценка знания
                            </label>
                        </span>
                        <span style="white-space: nowrap">
                            <input class="ms-2" type="radio" id="var2" name="variant" value="2" style="display:none;"
                                    {% if request.GET.variant == '2' %} checked {% endif %}>
                            <label for="var2"
                                   {% if request.GET.variant == '2' %} class="check-type-knowledge-grade-active"
                                   {% else %} class="check-type-knowledge-grade" {% endif %}>
                                Общая оценка знания
                            </label>
                        </span>
                    </fieldset>
                </span>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="row justify-content-between">
        <div class="col">
            <p style="font-size:14px;color: #6C757D;">Оценка знания</p>
            <div class="knowledge_grade"
                {% if base_grade.grade.name != "Нет оценки" %}
    style="background: {{ base_grade.grade.get_base_grade|get_color_from_knowledge_grade_value:0 }};"
                {% endif %}>
                {{ base_grade.grade.name }}
                <br>
                <span style="font-weight: 500;">{{ base_grade.grade.get_base_grade|floatformat:-2 }}</span>
            </div>
        </div>
        <div class="col">
            <p style="font-size:14px;color: #6C757D;">Оценка доказательной базы</p>
            <div class="knowledge_grade"
                {% if proof_base_grade.name != "Нет оценки" %}
    style="background: {{ proof_base_value|get_color_from_knowledge_grade_value:0 }};"
                {% endif %}>
                {{ proof_base_grade.name }}
                <br>
                <span style="font-weight: 500;">{{ proof_base_value|floatformat:-2 }}</span>
            </div>
        </div>
        <div class="col">
            <p style="font-size:14px;color: #6C757D;">Общая оценка знания</p>
            <div class="knowledge_grade"
                {% if common_grade.name != "Нет оценки" %}
    style="background: {{ common_grade_value|get_color_from_knowledge_grade_value:0 }};"
                {% endif %}>
                {{ common_grade.name }}
                <br>
                <span style="font-weight: 500;">{{ common_grade_value|floatformat:-2 }}</span>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
    {% if proof_relations.exists %}
    <div class="non-bootsctrap-card">
        <h4 class="header" style="font-size: 20px; margin-bottom: 32px;">Доказательная база знания</h4>
        <button type="button" style="margin-bottom: 24px;" class="btn btn-filled-gray btn-sm" onclick="showAll();">
            Развернуть дерево
        </button>
        <ul id="tree_root" style="padding-left: 0; font-size: 14px;">
        {% for element_tree in elements_tree %}
            {% if element_tree.lvl_up %}
                <ul hidden>
                    {% if element_tree.name %}
                       <li id="li_{{ element_tree.id }}">
                            <p class="breadcrumbs"
                               style="font-size: 12px; margin: 0; margin-left: 25px; margin-top: 28px; margin-bottom: 12px;">
                                {% if element_tree.for_or_against == "А" %}
                                    Аргумент
                                {% else %}
                                    Контраргумент
                                {% endif %}
                            </p>
                            {% if not element_tree.has_childrens %}
                                <i class="lonely bi-plus-circle-fill"></i>
                            {% else %}
                                <i class="family bi bi-plus-circle-fill" onclick="toggleHiddenElement(this);"></i>
                            {% endif %}

                            <a class="text-decoration-none" href="{{ element_tree.url }}/grade?variant={{ request.GET.variant }}">
                            <span style="color:black">
                                {{ element_tree.name }}
                            </span>
                            </a>

                            {% if element_tree.proof_value %}
                            <span class="knowledge_grade"
                                  style="background-color: {{ element_tree.bg_color }};
                                         color: {{ element_tree.font_color }};
                                         font-size: 12px;">
                            {% else %} <span class="knowledge_grade" style="font-size: 12px;"> {% endif %}
                                    {{ element_tree.proof_grade }} ({{ element_tree.proof_value|floatformat:-2 }})
                            </span>
                        {% if not element_tree.has_childrens %}
                            </li>
                        {% endif %}
                    {% endif %}
            {% else %}
                {% if element_tree.lvl_down %}
                    </ul>
                    </li>
                    {% if element_tree.name %}
                        <li id="li_{{ element_tree.id }}">
                            <p class="breadcrumbs"
                               style="font-size: 12px; margin: 0; margin-left: 25px; margin-top: 28px; margin-bottom: 12px;">
                                {% if element_tree.for_or_against == "А" %}
                                    Аргумент
                                {% else %}
                                    Контраргумент
                                {% endif %}
                            </p>
                            {% if not element_tree.has_childrens %}
                                <i class="lonely bi-plus-circle-fill"></i>
                            {% else %}
                                <i class="family bi bi-plus-circle-fill" onclick="toggleHiddenElement(this);"></i>
                            {% endif %}
                            <a class="text-decoration-none" href="{{ element_tree.url }}/grade?variant={{ request.GET.variant }}">
                            <span style="color:black">
                                {{ element_tree.name }}
                            </span>
                            </a>

                            {% if element_tree.proof_value %}
                            <span class="knowledge_grade"
                                  style="background-color: {{ element_tree.bg_color }};
                                         color: {{ element_tree.font_color }};
                                         font-size: 12px;">
                            {% else %} <span class="knowledge_grade" style="font-size: 12px;"> {% endif %}
                                    {{ element_tree.proof_grade }} ({{ element_tree.proof_value|floatformat:-2 }})
                            </span>
                        </li>
                    {% endif %}
                {% else %}
                    {% if element_tree.name %}
                        <li id="li_{{ element_tree.id }}">
                            <p class="breadcrumbs"
                               style="font-size: 12px; margin: 0; margin-left: 25px; margin-top: 28px; margin-bottom: 12px;">
                                {% if element_tree.for_or_against == "А" %}
                                    Аргумент
                                {% else %}
                                    Контраргумент
                                {% endif %}
                            </p>
                            {% if not element_tree.has_childrens %}
                                <i class="lonely bi-plus-circle-fill"></i>
                            {% else %}
                                <i class="family bi bi-plus-circle-fill" onclick="toggleHiddenElement(this);"></i>
                            {% endif %}
                            <a class="text-decoration-none" href="{{ element_tree.url }}/grade?variant={{ request.GET.variant }}">
                            <span style="color:black">
                                {{ element_tree.name }}
                            </span>
                            </a>

                            {% if element_tree.proof_value %}
                            <span class="knowledge_grade"
                                  style="background-color: {{ element_tree.bg_color }};
                                         color: {{ element_tree.font_color }};
                                         font-size: 12px;">
                            {% else %} <span class="knowledge_grade" style="font-size: 12px;"> {% endif %}
                                    {{ element_tree.proof_grade }} ({{ element_tree.proof_value|floatformat:-2 }})
                            </span>

                         {% if not element_tree.has_childrens %}
                            </li>
                        {% endif %}                       
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if grade_scales %}
    <div class="non-bootsctrap-card">
        <h4 class="my-4 header" style="font-size: 20px;">Легенда</h4>
        <div class="knowledge_grade">
            Нет оценки
        </div>
        <div class="legend_for_and_against">
            <div class="legend">
                <p class="header" style="font-size: 16px;">Довод "За"</p>
                <table class="table-rounded">
                    <style>
                        {% get_gradients as bg_color %}
                        .grade_for{
                            background: linear-gradient({{ bg_color.for.low_light }}, {{ bg_color.for.high_light }});
                            border-radius: 10px;
                        }
                    </style>
                    <colgroup>
                      <col class="grade_for" />
                    </colgroup>
                    <tbody>
                        {% for grade_scale in grade_scales %}
                            <tr>
                                {% if grade_scale.name != "Нет оценки" %}
                                <td {% if forloop.last != True %}style="border-bottom: 1px solid #198754;"{% endif %}>
                                    {{ grade_scale.name }}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="legend">
                <p class="header" style="font-size: 16px;">Довод "Против"</p>
                <table class="table-rounded">
                    <style>
                        {% get_gradients as bg_color %}
                        .grade_against{
                            background: linear-gradient({{ bg_color.against.low_light }}, {{ bg_color.against.high_light }});
                        }
                    </style>
                    <colgroup>
                      <col class="grade_against" />
                    </colgroup>
                    <tbody>
                        {% for grade_scale in grade_scales %}
                            <tr>
                                {% if grade_scale.name != "Нет оценки" %}
                                <td {% if forloop.last != True %}style="border-bottom: 1px solid #E01F27;"{% endif %}>
                                    {{ grade_scale.name }}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script>
    function init() {
        const gradeForm = document.getElementById('gradeForm');
        const selectCollection = document.getElementsByTagName('select');

        for (const selectCollectionElement of selectCollection) {
            selectCollectionElement.addEventListener('input', function () {
                gradeForm.submit();
            });
        }

        const radioButtons = document.querySelectorAll('input[name=variant]');
        const modeForm = document.getElementById('modeForm');
        for (const button of radioButtons) {
            button.addEventListener('input', function () {
                modeForm.submit();
            });
        }
    }
    init();
</script>

<script>

  function toggleHiddenElement(element) {
    let li_id = element.parentNode.id;
    let selector_string = "li#" + li_id + " > ul";
    let ulToHidden = document.querySelectorAll(selector_string);
    ulToHidden.forEach(function (item) {
      item.hidden = !item.hidden;
    })

    if (element.classList.contains("bi-dash-circle-fill")) {
      element.classList.remove("bi-dash-circle-fill")
      element.classList.add("bi-plus-circle-fill");
    }
    else {
      element.classList.remove("bi-plus-circle-fill")
      element.classList.add("bi-dash-circle-fill");
    }
  }

  function showAll() {
    let ulToHidden = document.querySelectorAll('ul#tree_root ul');

    ulToHidden.forEach(function (x) {
      x.hidden = false;
    }
    )

    let treeRoot = document.getElementById("tree_root");
    let listIconsToChange = treeRoot.querySelectorAll('.bi-plus-circle-fill');
    for (let icon of listIconsToChange) {
      icon.classList.remove("bi-plus-circle-fill")
      icon.classList.add("bi-dash-circle-fill");
    }

  }

  function hiddenAll() {
    let ulToHidden = document.querySelectorAll('ul#tree_root ul');
    ulToHidden.forEach(function (item) {
      item.hidden = true;
    })

    let treeRoot = document.getElementById("tree_root");
    let listIconsToChange = treeRoot.querySelectorAll('.bi-file-minus-fill');
    for (let icon of listIconsToChange) {
      icon.classList.remove("bi-dash-circle-fill")
      icon.classList.add("bi-plus-circle-fill");
    }

  }


</script>

{% endblock %}
