{% extends 'drevo/base.html' %}

{% load grades %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/knowledge_grade.css' %}">
{% scale_color_styles %}
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block jsfiles %}
<script src="{% static 'drevo/js/htmx.min.js' %}"></script>
<script>
    // добавляем заголовок csrf для htmx
    let CSRF_TOKEN = '{{ csrf_token }}';
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = CSRF_TOKEN;
    })
</script>
{% endblock jsfiles %}

{% block content %}
<h2 class="my-2 header">{{ title }}</h2>
<div class="d-flex justify-content-between">
    <div class="breadcrumbs">
        <p>
            <a class="text-decoration-none breadcrumbs" href="/">Главная</a> -
            <a class="text-decoration-none breadcrumbs" href="/drevo/knowledge">Дерево знаний</a> -
            <a class="text-decoration-none breadcrumbs" href="{{ knowledge.get_absolute_url }}">Знание</a> -
            <span style="color: #212529;">Оценка знания</span>
        </p>
    </div>
    <div class="d-flex justify-content-around">
        {% if father_knowledge %}
        <a class="btn btn-filled-white mx-2"
           href="{{ father_knowledge.bz.get_absolute_url }}/grade?variant={{ variant }}">
            Назад
        </a>
        {% endif %}
        <a href="{% url 'grade_statistic' knowledge.id %}" class="btn btn-filled mx-2">Статистика оценок</a>
        <a href="{% url 'group_knowledge' knowledge.id %}?variant={{ variant }}" class="btn btn-filled mx-2">Групповая
            оценка знания</a>
        <a href="{% url 'grade_infographics' knowledge.id %}?variant={{ variant }}" class="btn btn-filled mx-2">Инфографика</a>
    </div>
</div>

<div class="non-bootsctrap-card">
    <div class="breadcrumbs">
        <p>{{ title }}</p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <i class="bi bi-file-earmark-fill text-success">
                <span class="header">{{ knowledge.name }}</span>
            </i>
            <br>

        </div>
        <a class="btn btn-filled-gray" href="{{ knowledge.get_absolute_url }}">
            Вернуться на страницу знания
        </a>
    </div>
</div>

<div id="score_card">
    {% include "./score_card.html" %}
</div>
{% endblock %}
