{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load grades %}
{% load filter %}

{% block title %}
    Мои оценки знаний
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
    <link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
    {% scale_color_styles %}

    <style>
        .root_category {
            font-weight: 600;
        }
        .no_root_category {
            font-weight: 400;
        }

        .score_card {
            border: 1px solid black;
            border-radius: 0.25rem;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 400;

        }
        .bi-knowledge::before {
            content: "\F4FE";
            margin-top: 8px;
            position: absolute;
            z-index: 1
        }
        .bi-knowledge.opened::before {
            content: "\F2EA";
            margin-top: 8px;
            position: absolute;
            z-index: 1
        }
        .bi-knowledge-list::before {
            content: "";
        }

        .bi-category::before {
           content: "\f4f9";
        }

        .bi-category.opened::before {
           content: "\f2e5";
        }
    </style>

{% endblock %}

{% block content %}
<div class="container header_info px-2">
    <h1>Мои оценки знаний</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item">
              <a
                  {% if link == 'users:myprofile' %}
                    href="{% url 'users:my_profile' %}"
                 {% else %}
                    href="{% url link id %}"
                {% endif %}>
              Профиль
              </a>
          </li>
          <li class="breadcrumb-item"><a>Изучение знаний</a></li>
          <li class="breadcrumb-item opened"><a>Мои оценки знаний</a></li>
        </ol>
    </nav>
</div>

{% include 'drevo/include/profile_header.html' with pub_user=pub_user link=link id=id activity=activity sections=sections invite_count=invite_count new_knowledge_feed=new_knowledge_feed new_messages=new_messages new=new %}

{# МОИ ОЦЕНКИ #}
<div class="basic my-4">
    <p class="author-title pb-1">Мои оценки знаний</p>
    <div class="row">
        <button type="button" class="btn tree-btn w-auto" onclick="showAll();">развернуть дерево</button>
        <button type="button" class="btn tree-btn" onclick="hiddenAll();">cвернуть дерево</button>
    </div>
    <div id="my_knowledge_grade">
        <ul id="tree_root">
            {% recursetree ztypes %}
            <li {% if not node.get_level %} class="root_category" {% else %} class="no_root_category" {% endif %}
                id="li_{{ node.id }}">
                <i class="opened family bi-category" onclick="toggleHiddenElement(this);"></i>
                <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}

                {% with zn_dict|dict_value:node as knowledge_dict %}
                    {% include 'drevo/knowledge_grade/tree_knowledge_snippet.html' with knowledge_dict=knowledge_dict %}
                {% endwith %}
            </li>
            {% endrecursetree %}

            {% with zn_dict|dict_value:None as knowledge_dict %}
            {% if knowledge_dict %}
                <li id = "li_0" class="root_category">
                    <i class="opened family bi-category" onclick="toggleHiddenElement(this);"></i>
                    Без категории
                    {% include 'drevo/knowledge_grade/tree_knowledge_snippet.html' with knowledge_dict=knowledge_dict %}
                </li>
            {% endif %}
            {% endwith %}

        </ul>
    </div>
</div>
{% endblock %}

{% block jsfiles %}
    <script>
      function toggleHiddenElement(element) {
        let li_id = element.parentNode.id;
        let selector_string = "li#" + li_id + " > ul";
        let ulToHidden = document.querySelectorAll(selector_string);
        ulToHidden.forEach(function (item) {
          item.hidden = !item.hidden;
        })
        element.classList.toggle("opened")
      }

      function showAll() {
        let ulToHidden = document.querySelectorAll('ul#tree_root ul');
        ulToHidden.forEach(function (x) {
          x.hidden = false;
        }
        )

        let treeRoot = document.getElementById("tree_root");
        let listIconsToChange = treeRoot.querySelectorAll('.bi-knowledge, .bi-category');
        for (let icon of listIconsToChange) {
          icon.classList.add("opened");
        }
      }

      function hiddenAll() {
        let ulToHidden = document.querySelectorAll('ul#tree_root ul');
        ulToHidden.forEach(function (item) {
          item.hidden = true;
        })

        let treeRoot = document.getElementById("tree_root");
        let listIconsToChange = treeRoot.querySelectorAll('.bi-knowledge, .bi-category');
        for (let icon of listIconsToChange) {
          icon.classList.remove("opened");
        }

      }
    </script>
    {% endblock %}
