{# добавляет функцию tableCreate() с помощью которой можно создавать таблицы на клиенте #}
{# Используется в редакторе структуры таблиц #}

<style>
    .knowledge_table_table {
        table-layout: auto;
    }

    .knowledge_table__body {
        border-bottom-color: #BFBFBF;
        border: 2px black solid;
    }

    .knowledge_table__head_group_col {
        border: 2px black solid;
        text-align: center !important;
        background-color: yellow !important;
    }

    .knowledge_table__head_empty {
        border: 2px black solid;
        text-align: center !important;
        background-color: yellow !important;
    }

    .knowledge_table__head_col {
        border: 2px black solid;
        text-align: center !important;
        background-color: yellow !important;
    }

     .knowledge_table__head_group_row {
        border: 2px black solid;
        vertical-align: middle;
        background-color: yellow !important;

    }

    .knowledge_table__head_row {
        border: 2px black solid;
        text-align: center;
        vertical-align: middle;
        background-color: yellow !important;

    }

    .knowledge_table__data {
        border: 2px black solid;
        background-color: white;
    }

     .knowledge_table a {
        color: black;
        text-decoration: none;
     }

     .selected {
        background-color: yellow !important;
     }
</style>

<script>
    function tableCreate(parent, info) {
        table_info = JSON.parse(info);

        const rows = table_info.rows;
        const cols = table_info.cols;
        const group_row = table_info.group_row;
        const group_col = table_info.group_col;

        const row_span = (group_col) ? 2 : 1;
        const col_span = (group_row) ? 2 : 1;

        const table = document.createElement('table');
        table.classList.add('knowledge_table_table', 'table', 'align-middle', 'my-2');
        table.setAttribute('id', 'table_1');

        let tr = table.insertRow();
        const th = tr.insertCell();

        th.classList.add('knowledge_table__head_empty');
        th.setAttribute('colspan', col_span); th.setAttribute('rowspan', row_span);


        if (group_col) {
            const th = tr.insertCell();
            th.classList.add('knowledge_table__head_group_col');
            th.colSpan = cols.length;
            th.innerHTML = group_col;
            tr = table.insertRow();
        }

        for (let j = 0; j < cols.length; j++) {
             const th = tr.insertCell();
             th.classList.add('knowledge_table__head_col');
             th.innerHTML = cols[j].name;
        }

        for (let i = 0; i < rows.length; i++) {
            tr = table.insertRow();
            if (group_row && i == 0) {
                 const th = tr.insertCell();
                 th.classList.add('knowledge_table__head_group_row');
                 th.rowSpan = rows.length;
                 th.innerHTML = group_row;
             }
             const th = tr.insertCell();
             th.classList.add('knowledge_table__head_row');
             th.innerHTML = rows[i].name;

             for (let j = 0; j < cols.length; j++) {
             const th = tr.insertCell();
             th.classList.add('knowledge_table__data');
             th.innerHTML = 'X';
             }
        }
    parent.appendChild(table);
    }
</script>