{% extends 'drevo/base.html' %}

{% block title %} Все интервью {% endblock %}


{% block content %}
<div class="container">
    <div class="text-start">
        <h1>Интервью</h1>
    </div>
    <br>
    <div>
        {% for category, interview in data.items %}
        <p>
            <span class="badge badge-secondary">
                <a href="" class="text-decoration-none text-success" data-bs-toggle="collapse" data-bs-target="#category{{ forloop.counter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </span>
            {{ category }}
        </p>
        <div class="collapse" id="category{{ forloop.counter }}">
            <ul>
                {% for pk, name, q_count, status in interview %}
                <li style="list-style-type: none;"><a href="{% url 'interview_quests' pk %}" class="text-decoration-none text-{{status}}">{{ name }} ({{ q_count }})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}



{% block jsfiles %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}