{% extends 'drevo/base.html' %}

{% block title %} Все вопросы интервью {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>Тема интервью: </h3>
        </div>
        <div class="col">
            <h3>{{ interview.name }}</h3>
        </div>
    </div>
    <br>
    <div>
        <h2 class="text-center"><strong>Вопросы интервью</strong></h2>
        <br>
        <table class="table table-bordered">
            <tbody>
            {% for pk, name, danger_cnt, status in questions %}
            <tr class="text-{{status}} fs-4">
                <td>
                    <a href="{% url 'question_admin_work' interview_pk pk %}" class="text-{{status}} text-decoration-none">
                        {{ name }}
                    </a>
                </td>
                <td class="text-center">
                    {% if danger_cnt %}(Необработанных предложений: {{ danger_cnt }}){% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
