<div class="text-center mt-3 border-bottom border-dark">
    <h2>Ответы на вопрос</h2>
</div>

<div class="mt-3">
    {% for answer in answers %}
    <div class="row gy-4 mt-2" id="answers">
        <div class="col">
            <div class="answer__title col">
                {% if answer.id and answer.id != 0 %}
                <a href="{% url 'zdetail' answer.id %}" target="_blank" id="answer_{{ answer.id }}">{{answer.text}}</a>
                {% else %}
                <span>{{answer.text}}</span>
                {% endif %}
            </div>
        </div>

        <div class="col border-start border-dark">
            <div class="row">
                <div class="col">
                    <form action="{% url 'set_answer_is_agreed' interview.id question.id answer.id %}" method="get" id="opinion_is_agreed_form{{ answer.id }}">
                        <div class="form-check">
                            <input type="checkbox" id="opinion_is_agreed"
                                   name="is_agreed"
                                   onchange="this.form.submit()"
                                   {% if answer.proposal.is_agreed %}
                                   checked
                                   {% elif answer.proposal.is_incorrect_answer or cur_agreed_count >= max_agreed %}
                                    disabled
                                   {% endif %}
                                   class="form-check-input"
                            >
                            <label for="opinion_is_agreed" class="form-check-label">
                                С ответом согласен
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form
                            action="{% url 'set_answer_as_incorrect' interview.id question.id answer.id %}"
                            method="get"
                            id="opinion_is_incorrect_form{{ answer.id }}"
                    >
                        <div class="form-check">
                            <input type="checkbox" id="incorrect_answer{{ answer.id }}" name="is_incorrect"
                                   class="form-check-input"
                                   {% if not answer.proposal.is_incorrect_answer %}
                                   data-bs-toggle="collapse"
                                   data-bs-target="#answer{{ answer.id }}"
                                   {% endif %}
                                   {% if answer.proposal.is_incorrect_answer %}
                                   checked
                                   onchange="this.form.submit()"
                                   {% elif answer.proposal.is_agreed or cur_agreed_count >= max_agreed %}
                                    disabled
                                   {% endif %}
                            >
                            <label for="incorrect_answer{{ answer.id }}" class="form-check-label">
                                Некорректный ответ
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col">
                    {% include './create_sub_answer_modal.html' %}
                </div>
            </div>
            <div class="row text-center">
                <div class="collapse {% if answer.proposal.is_incorrect_answer %} show {% endif %} text-dark" id="answer{{ answer.id }}">
                    <form action="{% url 'set_answer_as_incorrect' interview.id question.id answer.id %}" method="post" id="answer_as_incorrect{{ answer.id }}">
                        {% csrf_token %}
                        <div class="form-group mt-3 text-start">
                            <textarea
                                    name="explanation"
                                    id="explanation"
                                    required
                                    class="form-control text-start"
                                    help_text='dawd'
                                    placeholder="Введите текст пояснения..."
                                    onkeydown="set_answer_as_incorrect(event, answer_as_incorrect{{ answer.id }})"
                                    {% if answer.proposal.is_agreed or cur_agreed_count >= max_agreed %}
                                    disabled
                                    {% endif %}
                            >{% if answer.proposal.is_incorrect_answer %}{{ answer.proposal.incorrect_answer_explanation }}{% endif %}</textarea>
                            <label for="explanation" class="form-check-label text-secondary">
                            Введите пояснение, почему считаете ответ некорректным и нажмите "Enter"
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="text-center mt-3">
        <p class="fs-4">Ответов по данному вопросу ещё нет.</p>
    </div>
    {% endfor %}
</div>