<button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_proposal{{ proposal.pk }}">Удалить</button>
<div class="modal fade" id="delete_proposal{{ proposal.pk }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-danger text-light">
            <div class="modal-body">
                <form action="{% url 'delete_proposal' %}" method="get" id="delete_proposal{{ proposal.pk }}_form">
                    <p class="fs-3 text-center">Вы действительно хотите удалить данное предложение?</p>
                    <input type="number" name="proposal_pk" id="proposal_pk" hidden value="{{ proposal.pk }}">
                    {% csrf_token %}
                </form>
                <div class="row">
                    <div class="col text-end">
                        <input form="delete_proposal{{ proposal.pk }}_form" type="submit" class="btn btn-success w-50" value="Да">
                    </div>
                    <div class="col text-start">
                        <button class="btn btn-secondary w-50" data-bs-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>