<div class="answer row gy-2" id="answer_block">
    <div class="row">
        <div class="col-12">
            <div class="answer__title col">
                {% if answer.id and answer.id != 0 %}
                <a href="{% url 'zdetail' answer.id %}" target="_blank">{{answer.text}}</a>
                {% else %}
                <span>{{answer.text}}</span>
                {% endif %}

            </div>
        </div>
    </div>
            <div class="row">
                {% include "./answer_form_body.html" %}
            </div>
</div>
