<!-- Модальное окно для подтверждения удаления элемента в конструкторе -->
<div class="modal fade" id="delete_element_warning" tabindex="-1" aria-labelledby="delete_element" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Подтверждение удаления</h3>
                <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="delete-confirmation"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-okay-successful">Ок</button>
                <button type="button" class="btn btn-danger js-cancel-successful" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>