<!-- Модальное окно для сообщения об ошибке во время удаления элемента в конструкторе -->
<div class="modal fade" id="delete_element_errors">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-white text-dark">
            <div class="modal-header" style="justify-content: center;">
                <h3 class="modal-title text-center" id="delete_element_title">Ошибка во время удаления!</h3>
                <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center" id="delete_element_error_message"></h5>
            </div>
        </div>
    </div>
</div>
