{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/get_cookie.js' %}"></script>
    <script src="{% static 'drevo/js/constructors/filling_tables.js' %}"></script>
{% endblock %}

{% block content %}

    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=filling_tables" class="btn btn-outline-secondary mb-3">Назад</a>

    <input type="hidden" name="filling_tables" value="True">

    <h1>{{ title }}</h1>
    <input type="hidden" id="table" value="{{ main_zn_id }}">

    <div class="mt-3">
        <h4>Координаты ячейки:</h4>
        <label for="row">Строка:</label>
        <select class="form-control" name="row" id="row">
            {% if not row_is_group %}
                <option value="" selected disabled>Выберите строку</option>
            {% endif %}
            {% for row in rows_attributes %}
                <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
            {% endfor %}
        </select>
        {% if row_is_group %}
            <div id="row_elements" style="margin-left: 30px;">
                 <label for="element_row" class="mt-1">Элемент строки:</label>
                 <select class="form-control" name="row_element" id="element_row">
                     <option value="" id="" selected disabled> Выберите элемент строки</option>
                     {% for row in rows_structure_attributes %}
                         <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                     {% endfor %}
                </select>
            </div>
        {% endif %}
        <label class="mt-1" for="column">Столбец:</label>
        <select class="form-control" name="column" id="column">
            {% if not column_is_group %}
                <option value="" selected disabled>Выберите столбец</option>
             {% endif %}
            {% for column in columns_attributes %}
                <option value="{{ column.rz_id }}" id="{{ column.rz_id }}"> {{ column.rz__name }} </option>
            {% endfor %}
        </select>
        {% if column_is_group %}
            <div id="column_elements" style="margin-left: 30px;">
                 <label for="element_column" class="mt-1">Элемент столбца:</label>
                 <select class="form-control" name="column_element" id="element_column">
                     <option value="" id="" selected disabled> Выберите элемент столбца</option>
                     {% for row in columns_structure_attributes %}
                         <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                     {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

    <div class="mt-3">
        <h4>Наполнение ячейки:</h4>
        <div>
            <input class="btn btn-outline-secondary" disabled id="choose_zn_btn" type="button" value="Выбрать">
            <input class="btn btn-outline-secondary" disabled id="create_zn_btn" type="button" value="Создать">
            <input class="btn btn-outline-secondary" disabled id="delete_zn_btn" type="button" value="Удалить">
        </div>
        <label class="mt-2" for="znanie">Знание:</label>
        <select id="znanie" class="form-control" disabled style="pointer-events: none;"></select>
    </div>

    <div class="mt-3">
        <input class="btn btn-outline-success" id="open_table" type="button" value="Показать таблицу">
    </div>

    <!-- Модальное окно для выбора знания для ячейки-->
    <div class="modal fade" id="choose_zn_for_cell_modal" style="z-index: 1041">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-white text-dark p-3">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title">Выбор знания</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="select_zn" class="form-control" style="width: 100%" required>
                        <option value="" selected disabled>Выберите знание</option>
                        {% for zn in non_systemic_zn %}
                            <option value="{{ zn.id }}" id="{{ zn.id }}"> {{ zn.name }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success mt-3" id="zn_choose" value="Выбрать">
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для создания знания в ячейке-->
    <div class="modal fade" id="create_zn_for_cell_modal" style="z-index: 1041">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-white text-dark p-3">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title">Создание знания</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="create_zn_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="zn_form_uuid" id="zn_form_uuid" value="{{ zn_form_uuid }}">
                        {{ form.media }}
                        {{ form.as_p }}
                        {{ images_form.management_form }}
                        {% for frm in images_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                        {{ file_form.management_form }}
                        {% for frm in file_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для подтверждения удаления ячейки в таблице -->
    {% include 'drevo/constructors/delete_element_warning.html' %}

    <!-- Модальное окно, сообщающее об ошибке во время удаления ячейки в таблице -->
    {% include 'drevo/constructors/delete_element_errors.html' %}

{% endblock %}
