{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/get_cookie.js' %}"></script>
    <script src="{% static 'drevo/js/constructors/table_constructor.js' %}"></script>
    <script src="{% static 'drevo/js/constructors/allow_actions.js' %}"></script>
{% endblock %}

{% block content %}

    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=table" class="btn btn-outline-secondary mb-3">Назад</a>

    <input type="hidden" name="filling_tables" value="">
    <!-- Блок с таблицей и действиями с ней -->
    <div class="constructor-block d-flex flex-column mb-3">
        <h1>{{ title }}</h1>
        <div class="d-flex align-items-center gap-2">
            <input name="table" id="table" value="{{ main_zn_id }}" type="hidden">
            <h4 id="table_name">{{ main_zn_name }}</h4>
            <span style="margin-left: auto">
                <i onclick="editZnanie('table')" class="text-primary" id="edit_table" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                    </svg>
                </i>
                <i class="text-danger" id="delete_table" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                    </svg>
                </i>
            </span>
        </div>
    </div>

    <div class="row-column-question-block">
        <!-- Блок с выбранной строкой и действиями с ней -->
        <label for="row">Строка:</label>
            <div class="select-options d-flex align-items-center gap-2">
            <input type="hidden" id="relation_type" value="">
            <input type="hidden" id="element_relation_type" value="">
            <input type="hidden" id="current_stage" value="">
            <select class="form-control" name="row" id="row"
                {% if row_is_group %}  style="appearance: none;" {% endif %}>
                {% if not rows_attributes %}
                    <option value="" id="create_row" selected disabled>Создайте строку</option>
                {% else %}
                    {% if not row_is_group %}
                        <option value="" selected disabled>Выберите строку</option>
                    {% endif %}
                    {% for row in rows_attributes %}
                        <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <i onclick="addZnanie('row')" class="text-success" id="add_row" {% if row_is_group %} hidden {% endif %} style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                </svg>
            </i>
            <i onclick="editZnanie('row')" id="edit_row"
                    {% if not row_is_group %} class="text-secondary"
                    {% else %} class="text-primary" {% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                </svg>
            </i>
            <i id="delete_row"
                    {% if not row_is_group %} class="text-secondary"
                    {% else %} class="text-danger" {% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
            </i>
        </div>
        <input type="hidden" id="row_is_group" value="{{ row_is_group }}">
        <!-- Блок с выбранным элементом строки и действиями с ним -->
        <div id="row_elements" {% if not row_is_group %} hidden {% endif %}  style="margin-left: 30px;">
             <label for="element_row" class="mt-1">Элемент строки:</label>
             <div class="select-options d-flex align-items-center gap-2">
                 <select class="form-control" name="row_element" id="element_row">
                    {% if not rows_structure_attributes %}
                        <option value="" id="" selected disabled> Создайте элемент строки</option>
                    {% else %}
                         <option value="" id="" selected disabled> Выберите элемент строки</option>
                        {% for row in rows_structure_attributes %}
                            <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                        {% endfor %}
                    {% endif %}
                </select>
                <i onclick="addZnanie('element_row')" class="text-success" id="add_element_row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                </i>
                <i onclick="editZnanie('element_row')" class="text-secondary" id="edit_element_row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                    </svg>
                </i>
                <i onclick="deleteZnanie('element_row')" class="text-secondary" id="delete_element_row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                    </svg>
                </i>
             </div>
        </div>
        <!-- Блок с выбранным столбцом и действиями с ним -->
        <label for="column" class="mt-1">Столбец:</label>
        <div class="select-options d-flex align-items-center gap-2">
            <select class="form-control" name="column" id="column" {% if column_is_group %}  style="pointer-events: none;" {% endif %}>
                {% if not columns_attributes %}
                    <option value="" id="create_column" selected disabled>Создайте столбец</option>
                {% else %}
                    {% if not column_is_group %}
                        <option value="" selected disabled>Выберите столбец</option>
                     {% endif %}
                    {% for column in columns_attributes %}
                        <option value="{{ column.rz_id }}" id="{{ column.rz_id }}"> {{ column.rz__name }} </option>
                    {% endfor %}
                {% endif %}
            </select>
            <i onclick="addZnanie('column')" class="text-success" id="add_column" {% if column_is_group %} hidden {% endif %} style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                </svg>
            </i>
            <i onclick="editZnanie('column')" id="edit_column"
                {% if not column_is_group %} class="text-secondary"
                {% else %} class="text-primary" {% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                </svg>
            </i>
            <i onclick="deleteZnanie('column')"id="delete_column"
                {% if not column_is_group %} class="text-secondary"
                {% else %} class="text-danger" {% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
            </i>
        </div>
        <input type="hidden" id="column_is_group" value="{{ column_is_group }}">
        <!-- Блок с выбранным элементом столбца и действиями с ним -->
        <div id="column_elements" {% if not column_is_group %} hidden {% endif %} style="margin-left: 30px;">
             <label for="element_column" class="mt-1">Элемент столбца:</label>
             <div class="select-options d-flex align-items-center gap-2">
                 <select class="form-control" name="column_element" id="element_column">
                     {% if not columns_structure_attributes %}
                        <option value="" id="" selected disabled> Создайте элемент столбца</option>
                    {% else %}
                         <option value="" id="" selected disabled> Выберите элемент столбца</option>
                        {% for row in columns_structure_attributes %}
                            <option value="{{ row.rz_id }}" id="{{ row.rz_id }}"> {{ row.rz__name }} </option>
                        {% endfor %}
                     {% endif %}
                </select>
                <i onclick="addZnanie('element_column')" class="text-success" id="add_element_column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                </i>
                <i onclick="editZnanie('element_column')" class="text-secondary" id="edit_element_column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                    </svg>
                </i>
                <i class="text-secondary" id="delete_element_column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                    </svg>
                </i>
             </div>
         </div>
    </div>

    <input class="btn btn-outline-success mt-3" id="open_table" type="button" value="Показать">

    <!-- Модальное окно для создания и редактирования строк, столбцов и их элементов -->
    <div class="modal fade" id="create_edit_zn_modal" style="z-index: 1065;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-white text-dark">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title text-center" id="create_edit_zn_title"></h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="create_edit_zn_form">
                        {% csrf_token %}
                        <input type="hidden" name="table_id" value="{{ main_zn_id }}">
                        <input id="action" name="action" type="hidden">
                        <input id="type_of_tr" name="type_of_tr" type="hidden">
                        <input id="zn_tz_type" name="zn_tz_type" type="hidden">
                        <input id="parent_for_element_of_group" name="parent_for_element_of_group" type="hidden">
                        <input id="edited_zn_id" name="edited_zn_id" type="hidden">
                        <div id="zn_form"></div>
                        <div id="order_of_rel_form"></div>
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования таблицы-->
    {% include 'drevo/constructors/main_zn_edit.html' %}

    <!-- Модальное окно для подтверждения удаления знания в таблице -->
    {% include 'drevo/constructors/delete_element_warning.html' %}

    <!-- Модальное окно, сообщающее об ошибке во время удаления таблицы -->
    {% include 'drevo/constructors/delete_element_errors.html' %}

    <!-- Модальное окно, сообщающее об успешном удалении таблицы-->
    {% include 'drevo/constructors/main_zn_delete_successful.html' %}


    <!-- Модальное окно для отображения ошибок таблицы -->
     <div class="modal fade" id="table_open_errors">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-white text-dark">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title text-center">Ошибка при открытии таблицы!</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="message-open-warning text-center"></h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно, сообщающее об успешном удалении знания -->
    <div class="modal fade" id="success_delete_quiz" tabindex="-1" aria-labelledby="delete_element" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">Сообщение</h3>
                    <button type="button" class="btn-close" onclick="locateToConstructorTree()" style="position: absolute; right: 1rem;" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Тест успешно удален!</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
