{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block jsfiles %}
{% endblock %}

{% block content %}

{% include 'drevo/include/messages.html' %}
<header>
  <div class="container">
    <div class="row mb-3">
        <h1>{{ title }}</h1>
        <h3>{{ table.name }}</h3>
    </div>
  </div>
</header>
<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <div class="form-md">
                    <label for="group_row">Группа строк </label>
                    <input type="text" id="group_row" class="form-control mb-3">

                    <label for="rows">Строки</label>
                    <select class="form-select mb-3" id="rows" multiple="" style="min-height: 200px" >
                        <option value="0">Строка 1</option>
                        <option value="0">Строка 2</option>
                    </select>

                    <div class="btn-group float-end btn-group-lg" role="group">
                        <button id="btn_row_add" type="button" class="btn btn-primary">+</button>
                        <button id="btn_row_del" type="button" class="btn btn-primary">-</button>
                        <button id="btn_row_up" type="button" class="btn btn-primary">&#9650;</button>
                        <button id="btn_row_down" type="button" class="btn btn-primary">&#9660;</button>
                        <button id="btn_row_edit" type="button" class="btn btn-primary">&#10000;</button>
                    </div>
                </div>
            </div>
            <div class="col h-75">
                <div class="form-md">
                    <label for="group_row">Группа колонок</label>
                    <input type="text" id="group_col" class="form-control mb-3">

                    <label for="cols">Колонки </label>
                        <select class="form-select h-100 mb-3" id="cols" multiple="" style="min-height: 200px">
                            <option value="0">Колонка 1</option>
                            <option value="0">Колонка 2</option>
                        </select>


                    <div class="btn-group float-end btn-group-lg" role="group">
                        <button id="btn_col_add" type="button" class="btn btn-primary">+</button>
                        <button id="btn_col_del" type="button" class="btn btn-primary">-</button>
                        <button id="btn_col_up" type="button" class="btn btn-primary">&#9650;</button>
                        <button id="btn_col_down" type="button" class="btn btn-primary">&#9660;</button>
                        <button id="btn_col_edit" type="button" class="btn btn-primary">&#10000;</button>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="float-end">
                    <input class="btn btn-primary my-3" id="save_btn" value="Сохранить">
                    <input  class="btn btn-secondary my-3" onclick="javascript:goPrev();" value="Закрыть">
                </div>
            </div>
        </div>
    </div>
</footer>

<form id="save_form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="table_info" id="table_info" value="{{table_info}}">
    <input type="hidden" name="prev" id="prev" value="{{ prev }}">
    <input type="hidden" name="next" id="next" value="{{ next }}">
</form>

<script>
    let rowSelect = document.getElementById('rows');
    let colSelect = document.getElementById('cols');

    function goPrev() {
        window.location = document.getElementById('prev').value
    }

    // moveOptionsUp
    // move the selected options up one location in the select list
    function moveOptionsUp(selectList) {
        let selectOptions = selectList.getElementsByTagName('option');
        for (let i = 1; i < selectOptions.length; i++) {
            let opt = selectOptions[i];
            if (opt.selected) {
                selectList.removeChild(opt);
                selectList.insertBefore(opt, selectOptions[i - 1]);
            }
        }
    }

    // moveOptionsDown
    // move the selected options down one location in the select list
    function moveOptionsDown(selectList) {
        let selectOptions = selectList.getElementsByTagName('option');
        for (let i = selectOptions.length - 2; i >= 0; i--) {
            let opt = selectOptions[i];
            if (opt.selected) {
                let nextOpt = selectOptions[i + 1];
                opt = selectList.removeChild(opt);
                nextOpt = selectList.replaceChild(opt, nextOpt);
                selectList.insertBefore(nextOpt, opt);
            }
        }
    }

    function deleteOption(selectList) {
        selectList.querySelectorAll('option:checked').forEach(function (opt) {
            selectList.removeChild(opt);
        })
    }

    function addOption(selectList, value = null) {
        if (value == null) {
            selectList.appendChild(new Option('Новое значение', 0, false, false));
        }
        else {
            selectList.appendChild(new Option(value, 0, false, false));
        }

    }

    function editOption(selectList) {
        let opt = selectList.querySelector('option:checked');
        if (opt == null) { return; }

        promptEx('Изменить значение', opt.innerHTML, res => {
             if (res != null) {
                    opt.innerHTML = res
                }
        });
    }

    function upValue(selectList) {
        moveOptionsUp(selectList);
    }

    function downValue(selectList) {
        moveOptionsDown(selectList);
    }

    function editValue(selectList) {
        editOption(selectList);
    }

    function addValue(selectList) {
        //addOption(selectList);
         promptEx('Изменить значение', 'Новое значение', res => {
             if (res != null) {
                    addOption(selectList, res)
                }
        });
    }

    function deleteValue(selectList) {
        deleteOption(selectList);
    }

    function loadData(){
        let data = JSON.parse(document.getElementById('table_info').value);

        document.getElementById('group_row').value = data.group_row;
        document.getElementById('group_col').value = data.group_col;

        rowSelect.querySelectorAll('option').forEach(opt => {rowSelect.removeChild(opt)});
        for (let i = 0; i < data.rows.length; i++) {
            rowSelect.appendChild(new Option(data.rows[i].name, data.rows[i].id, false, false));
        }
        colSelect.querySelectorAll('option').forEach(opt => {colSelect.removeChild(opt)});
        for (let i = 0; i < data.cols.length; i++) {
            colSelect.appendChild(new Option(data.cols[i].name, data.cols[i].id, false, false));
        }
    }



    function saveData() {
        rows = [];
        cols = [];

        rowSelect.querySelectorAll('option').forEach(function (opt) {
            rows.push({"id": parseInt(opt.value), "name": opt.innerHTML});
        });

        colSelect.querySelectorAll('option').forEach(function (opt) {
            cols.push({"id": parseInt(opt.value), "name": opt.innerHTML});
        });

        let data = {
            'group_row': document.getElementById('group_row').value,
            'group_col': document.getElementById('group_col').value,
            'rows': rows,
            'cols': cols
            };

        document.getElementById('table_info').value = JSON.stringify(data);
        document.getElementById('save_form').submit();
        console.log('save')
    }


    loadData();
    document.getElementById('save_btn').onclick = function () {
        saveData();
    }

    rowSelect.ondblclick =  function () {
        editValue(rowSelect);
    }

    colSelect.ondblclick =  function () {
        editValue(colSelect);
    }


    document.getElementById('btn_row_up').onclick = function () {
        upValue(rowSelect);
    };
    document.getElementById('btn_row_down').onclick = function () {
        downValue(rowSelect);
    };
    document.getElementById('btn_row_add').onclick = function () {
        addValue(rowSelect);
    };
    document.getElementById('btn_row_del').onclick = function () {
        deleteValue(rowSelect);
    };
    document.getElementById('btn_row_edit').onclick = function () {
        editValue(rowSelect);
    };

    document.getElementById('btn_col_up').onclick = function () {
        upValue(colSelect);
    };
    document.getElementById('btn_col_down').onclick = function () {
        downValue(colSelect);
    };
    document.getElementById('btn_col_add').onclick = function () {
        addValue(colSelect);
    };
    document.getElementById('btn_col_del').onclick = function () {
        deleteValue(colSelect);
    };
    document.getElementById('btn_col_edit').onclick = function () {
        editValue(colSelect);
    };

</script>
<!-- promptEx  -->
    <div id="PromptEx" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="PromptExInput"></label>
                        <input type="text" class="form-control" id="PromptExInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success ">OK</button>
                    <button type="button" class="btn btn-danger">Отмена</button>
                </div>
            </div>
        </div>
    </div>


<script>
  function promptEx(message, value, onResolve) {

        $('#PromptEx .modal-body label').html(message);
        $('#PromptExInput')[0].value = value;
        let PromptEx = $('#PromptEx').modal({
            keyboard: false,
            backdrop: 'static'
        }).modal('show');

        $('#PromptExInput').focus();
        let result = value;
        $('#PromptEx .btn-success')[0].onclick = function () {
            result = $('#PromptEx .modal-body input').val();
            PromptEx.modal('hide');
            onResolve(result);
        };

        $('#PromptEx .btn-danger')[0].onclick = function () {
            PromptEx.modal('hide');
        };
    };
</script>
<!-- promptEx End -->



{% endblock %}