{% extends 'drevo/base.html' %}
{% load static %}
{% load render_knowledge %}
{% block title %}{{ title }}{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/htmx.min.js' %}"></script>
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">

<style>

body .modal-dialog { /* Width */
    max-width: 80%;
}
</style>
{% endblock %}

{% block content %}
    {% include 'drevo/include/messages.html' %}

    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>{{ title }}</h1>
                <div>
                    <h4>{{object.name}}</h4>
                </div>

                  {% render_knowledge object table_id='table_1' %}

             </div>
        </div>

        <div class="row mb-3">
            <div class="col mt-3">
                <h4>Наполнение ячейки:</h4>
                <div class="btn-group">
                    <input class="btn btn-outline-secondary" disabled id="select_btn" type="button" value="Выбрать">
                    <input class="btn btn-outline-secondary" hx-get="{% url 'knowledge_create' %}?modal" hx-target="#dialog_create"
                           disabled id="create_btn" type="button" value="Создать">
                    <input class="btn btn-outline-secondary" disabled id="delete_btn" type="button" value="Удалить">
                </div>
                <div class="float-end">
                    <input class="btn btn-primary my-3" id="save_btn" value="Сохранить">
                    <input  class="btn btn-secondary my-3" onclick="javascript:goPrev();" value="Закрыть">
                </div>
            </div>
        </div>
    </div>
    <!-- Модальные окна -->
    <!-- выбор знания -->
     <div class="modal fade" id="modal_select" style="z-index: 1041">
        <div class="modal-dialog modal-dialog-centered modal-lg" id="dialog_select">
            <div class="modal-content bg-white text-dark p-3">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title">Выбор знания</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="select_zn" class="form-control" style="width: 100%" required>
                        <option value="" selected disabled>Выберите знание</option>
                        {% for zn in knowledges %}
                            <option value="{{ zn.id }}" id="{{ zn.id }}"> {{ zn.name }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success mt-3" id="dlg_select_ok_btn" value="Выбрать">
                </div>
            </div>
        </div>
    </div>

    <!-- добавление знания -->
     <div id="modal_create" class="modal fade">
        <div id="dialog_create" class="modal-dialog" hx-target="this"></div>
     </div>
     <!-- Модальные окна все-->
    <form method="POST" action="{{ request.path }}" id="form_save">
        {% csrf_token %}
        <input type="hidden" name="table_hash" value="{{ table_hash }}">
        <input type="hidden" id="table_data" name="table_data" value="{{ table_data }}">
        <input type="hidden" name="prev" id="prev" value="{{ prev }}">
        <input type="hidden" name="next" id="next" value="{{ next }}">

    </form>



     <script>
        let dlg_create;
        let dlg_select;
        let selectedCell; //здесь будет выбранная ячейка таблицы
        let current_row; //здесь будет выбранный ряд
        let current_col; //здесь будет выбранная колонка
        let cells_ar = []; // ссылки на элементы td ячеек
        let values; //здесь будут значения

        const btnSelect = document.getElementById("select_btn");
        const btnAdd = document.getElementById("create_btn");
        const btnDelete = document.getElementById("delete_btn");
        const btnDlgSelectOk = document.getElementById("dlg_select_ok_btn");
        const btnSave = document.getElementById("save_btn");
        const frmSave = document.getElementById("form_save");
        const frmData =document.getElementById("table_data");

        const elSelectKnowledge = document.getElementById("select_zn");

        function goPrev() {
            window.location = document.getElementById('prev').value
        }

        let onSelect = (cell, i, j) => {
            if (selectedCell) {
                selectedCell.classList.remove("selected");
            }
            selectedCell = cell;
            cell.classList.add("selected");
            current_row = i;
            current_col = j;
            setBtnState();

        }

        function postData() {
            if (!values) {
                return
            }

            let values_list = [];
            for (let i = 0; i < values.length; i++) {
                for (let j = 0; j < values[i].length; j++) {
                    let cell = values[i][j];
                    if (cell) {
                        values_list.push({'row': i, 'col': j, 'id': cell.id, 'name': cell.name});
                    }
                }
            }
            frmData.value = JSON.stringify(values_list);
            frmSave.submit();
        }

        btnSave.onclick = postData;

        let onClickCell = (cell) => {onSelect(cell)};
        btnDlgSelectOk.onclick = () => {

        if (elSelectKnowledge.value) {
            setValue(current_row, current_col, elSelectKnowledge.value,
                    elSelectKnowledge.options[elSelectKnowledge.selectedIndex].text)
            }
            dlg_select.hide();
        }

        function initTable() {
            let di = 0;
            let table = document.getElementById("table_1");
            if (!table) {
                return
            }
            let rows = table.getElementsByTagName("tr");

            for (let i = 0; i < rows.length; i++) {
                let currentRow = rows[i];


                let cells = currentRow.getElementsByTagName("td");

                if (cells.length == 0) {
                    di++;
                    continue;
                }

                let row = [];

                for (let j = 0; j < cells.length; j++) {
                    let cell = cells[j];
                    cell.innerHTML = "";
                    cell.onclick = function() {
                        onSelect(this, i-di, j)
                    }
                    row.push(cell);
                }
                cells_ar.push(row);
            }
        }
        function loadValues()  {
            values = cells_ar.map(row => row.map(column => null))
            if (values.length == 0) {
                btnSave.disabled = true;
                return
            }
            data = JSON.parse(frmData.value);
            for (let i = 0; i < data.length; i++) {
                row = data[i].row;
                col = data[i].col;
                id = data[i].id;
                name = data[i].name;

                values[row][col]= {'id': id, 'name': name}
                setValue(row, col, id, name)
                }
            }

        //заполнение ячейки
        function setValue(i,j,id, name)  {
            if (id) {
                values[i][j] = {'id': Number(id), 'name': name}
                cells_ar[i][j].innerHTML = name
            }
            else {
                cells_ar[i][j].innerHTML = ''
                values[i][j] = null
            }
            setBtnState();
            }

        function setBtnState() {
           if (selectedCell) {
              if (values[current_row][current_col]) {
                btnDelete.disabled = false
                btnSelect.disabled = true
                btnAdd.disabled = true
              }
              else {
                btnDelete.disabled = true
                btnSelect.disabled = false
                btnAdd.disabled = false
              }
            }
            else
            {
                btnSelect.disabled = true
                btnAdd.disabled = true
                btnDelete.disabled = true
            }
        }

        initTable();
        loadValues();
        setBtnState();

        btnDelete.onclick = () => { setValue(current_row, current_col, null, null) }
        btnSelect.onclick = () => {
        //elSelectKnowledge.select2();
        $('#select_zn').select2();
        dlg_select.show() }



        window.onload = () => {
        dlg_create = new bootstrap.Modal(document.getElementById("modal_create"));
        dlg_select = new bootstrap.Modal(document.getElementById("modal_select"));

        htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
            if (e.detail.target.id == "dialog_create") { dlg_create.show(); }
        })

        htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
            if (e.detail.target.id == "dialog_create") {
            console.log(e.detail.xhr)
               if (e.detail.xhr.status == 201) {
                    dlg_create.hide();
                    e.detail.shouldSwap = false;
                    data = JSON.parse(e.detail.xhr.response)
                    setValue(current_row, current_col, data.id, data.name)
               }
            }
        })
        htmx.on("hidden.bs.modal", () => {
            // чистим модальную форму - для порядка
            document.getElementById("dialog_create").innerHTML = ""
            console.log("modal hidden")
        })

        }
    </script>

{% endblock %}
