{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load algorithm_tags %}
{% load constructors_tag %}

{% block title %}{{ title }}{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/htmx.min.js' %}"></script>
    <script src="{% static 'drevo/js/constructors/tree_constructor.js' %}"></script>
    <script src="{% static 'drevo/js/get_cookie.js' %}"></script>
    {% if type_of_zn == 'algorithm' %}
        <script src="{% static 'drevo/js/constructors/algorithm_constructor.js' %}"></script>
    {% elif type_of_zn == 'document' %}
        <script src="{% static 'drevo/js/constructors/document_constructor.js' %}"></script>
    {% elif type_of_zn == 'discussion' %}
        <script src="{% static 'drevo/js/constructors/discussion_constructor.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <a href="{% url 'znaniya_for_constructor' %}?type_of_zn={{ type_of_zn }}" class="btn btn-outline-info mb-3">Назад</a>
    <h1>{{ title }}</h1>
    <div>
        {% if type_of_zn != 'algorithm' %}
            {% if relative_znaniya %}
                {% build_constructor_tree queryset=relative_znaniya show_complex=True is_constructor_type=type_of_zn %}
            {% else %}
                {% build_constructor_tree queryset=znanie show_complex=True is_constructor_type=type_of_zn %}
            {% endif %}
        {% else %}
            <div style="background-color: #FFFFFF; padding: 32px;border-radius: 10px;">
                <ul class="root ps-0" id="tree1_root">
                    <button type="button" class="btn tree-btn" onclick="tree_showAll();">Развернуть</button>
                    <button type="button" class="btn tree-btn" onclick="tree_hiddenAll();">Свернуть</button>
                    <li>
                        {% recurse_dict relative_znaniya previous_knowledge=znanie.first algorithm=znanie.first user=request.user constructor=True %}
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div id="div-param" class="button-block">
        <div class="mt-3">
            <input class="btn btn-outline-success mx-1" id="open_zn" type="button" value="Открыть">
            {% if type_of_zn == 'algorithm' %}
                <input class="btn btn-outline-primary" id="btn_create_copy" type="button" value="Создать копию">
            {% endif %}
        </div>
    </div>

    <!-- Модальное окно для создания/редактирования связи -->
    <div class="modal fade" id="create_edit_relation_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-white text-dark">
                <div class="modal-header" style="justify-content: center;">
                    <h3 id="title_create_edit_rel_modal"></h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="create_edit_relation_form">
                        {% csrf_token %}
                        <input type="hidden" id="current_action">
                        <input type="hidden" id="last_tr_id">
                        <input type="hidden" id="last_rz_id">
                        <label for="bz">Базовое знание:</label>
                        <div class="select-options d-flex align-items-center gap-3">
                            <select class="form-control" id="bz" style="pointer-events: none"></select>
                            <span style="margin-left: auto">
                                <i class="text-primary mt-1 me-2" id="bz_edit" onclick="edit_znanie('for_bz')" style="cursor: pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </i>
                            </span>
                        </div>
                        <label for="tr">Вид связи:</label>
                        <select class="form-control" id="tr"></select>
                        <label for="rz">Связанное знание</label>
                        <div class="select-options d-flex align-items-center gap-2">
                            <select class="form-control" id="rz"></select>
                            <i class="text-secondary" onclick="add_znanie()" id="add_rel_zn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                </svg>
                            </i>
                            <i class="text-secondary" onclick="edit_znanie('for_rz')" id="edit_rel_zn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg>
                            </i>
                        </div>
                        <label for="order">Номер связи:</label>
                        <div class="d-flex align-items-center gap-3">
                            <input class="form-control" id="order">
                        </div>
                        <input id="save_new_relation" class="btn btn-success" style="margin-top: 7px" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для подтверждения об удалении связи/связей -->
    <div class="modal fade" id="delete_relation_modal" tabindex="-1" aria-labelledby="delete_element" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteElementModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 class="">Вы действительно хотите удалить данную связь? Все связи с дочерними вершинами также удалятся!</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success js-okay-successful">Ок</button>
                    <button type="button" class="btn btn-danger js-cancel-successful" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для создания нового знания -->
    <div class="modal fade" id="create_zn_modal" style="z-index: 1065;">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-white text-dark">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title text-center">Создание знания</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="create_zn">
                        <input type="hidden" name="new_zn_form_create_uuid" id="new_zn_form_create_uuid" value="{{ new_zn_form_create_uuid }}">
                        {% csrf_token %}
                        <input type="hidden" name="edited_zn_id" id="edited_zn_id" value="{{ main_zn_id }}">
                        {{ new_zn_form_create.media }}
                        {{ new_zn_form_create.as_p }}
                        {{ images_form.management_form }}
                        {% for frm in images_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                        {{ file_form.management_form }}
                        {% for frm in file_form %}
                            {{ frm.as_p }}
                        {% endfor %}
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования главного знания в алгоритме-->
    {% include 'drevo/constructors/main_zn_edit.html' %}

    <!-- Модальное окно для редактирования знания -->
    <div class="modal fade" id="edit_zn_modal">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-white text-dark">
                <div class="modal-header" style="justify-content: center;">
                    <h3 class="modal-title text-center">Редактирование знания</h3>
                    <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="edit_zn_form">
                        {% csrf_token %}
                        <input type="hidden" name="edited_zn_id" id="edited_zn_id" value="{{ main_zn_id }}">
                        <input type="hidden" name="new_zn_form_edit_uuid" id="new_zn_form_edit_uuid" value="{{ new_zn_form_edit_uuid }}">
                        {{ new_zn_form_edit.media }}
                        {{ new_zn_form_edit.as_p }}
                        <div id="edit_zn_images_form" style="display: block;"></div>
                        <div id="edit_zn_file_form"></div>
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для подтверждения удаления главного знания и связей в конструкторе -->
    {% include 'drevo/constructors/delete_element_warning.html' %}

    <!-- Модальное окно, сообщающее об успешном удалении главного знания-->
    {% include 'drevo/constructors/main_zn_delete_successful.html' %}

    {% if type_of_zn == 'algorithm' %}
        <!-- Модальное окно для отображения ошибок алгоритма -->
        <div class="modal fade" id="algorithm_errors_modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-white text-dark">
                    <div class="modal-header" style="justify-content: center;">
                        <h3 class="modal-title text-center">Ошибки при проверке алгоритма!</h3>
                        <button type="button" class="btn-close" style="position: absolute; right: 1rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="margin-left: 15px">
                        <div id="less_than_min_block" hidden>
                            <h5>Знания, в которых недостаточно внутренних связей:</h5>
                            <div id="less_than_min"></div>
                        </div>
                        <button class="btn btn-warning mx-auto d-block" type="button" id="open_algorithm_with_errors">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для создания копии алгоритма с заданным именем -->
        <div class="modal fade" id="algorithm_create_copy_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteElementModalLabel">Создать копию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="name_for_copy" class="form-control mb-2" placeholder="Введите название алгоритма" aria-label="Введите название" aria-describedby="basic-addon2">
                        <span id="algorithm-error" class="text-danger fs-6">• Копия данного алгоритма уже существует</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success js-okay-successful" onclick="copy({{ main_zn_id }})">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#  Корректное отображение select в модальном окне  #}
    <style>
        .select2-container{
            z-index: 1060;
        }
    </style>
{% endblock %}