 {% extends 'drevo/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'znaniya_for_constructor' %}?type_of_zn={{ type_of_zn }}" class="btn btn-outline-dark mb-3">Назад</a>
    <h1>{{ title }}</h1>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ rel_attr_form.as_p }}
        {{ zn_form_disc.media }}
        {{ zn_form_disc.as_p }}
        {{ image_form.management_form }}
        {% for frm in image_form %}
            {{ frm.as_p }}
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Сохранить">
    </form>
{% endblock %}