{% extends 'drevo/base.html'%}
{% load static %}
{% csrf_token %}

{% block cssfiles %}
	<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
	<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
	<link rel="stylesheet" href="{% static '/users/css/create_suggestion.css' %}">
{% endblock %}
{% block title %} Развиваем вместе {% endblock %}

{% block precontent %}
{% endblock %}

{% block content %}
	<div class="basic">
		<p class="suggestion-form-title"> Знание:&nbsp;<a href="{% url 'zdetail' knowledge.id %}">{{ knowledge.name }}</a></p>
		{% if request.user.is_authenticated %}

		<table class="align-middle suggestions-table">
			{% if user_suggestions|length != 0 %}
				<thead>
					<tr>
						<th>Вид предложения</th>
						<th>Текст знания</th>
						<th>Статус</th>
					</tr>
				</thead>
				{% for str in user_suggestions %}
					<tr>
						<td> {{ str.suggestions_type }} </td>
						<td> {{ str.name }} </td>
						<td> 
							{% if str.is_approve is None %}
								<span style="color:#A1A1A1">Ожидает проверки</span>
							{% elif str.is_approve is False %}
								<span style="color:#EA2F2F">Отклонено</span>
							{% elif str.is_approve is True %}
								<span style="color:#52E359">Одобрено</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<p>Вы еще ничего не предложили</p>
			{% endif %}
		</table>
		<h3>Создание своих предложений</h3>
		<form action="{{ request.get_full_path }}" method="post" class="suggestion-from">
			{% csrf_token %}

			<input type="text" hidden value="{{knowledge.pk}}" name="parent-knowledge-id">

			{% for suggestion_type in knowledge.tz.available_suggestion_types.all %}
				<div class="same-type-suggestions">
					<p class="same-type-suggestions__type-name">{{ suggestion_type.type_name }}</p>
					<div class="same-type-suggestions__fields" id="fields-of-type-{{ suggestion_type.pk }}">
						<div class="field">
							<textarea rows="2" maxlength="250" placeholder="Введите текст предложения" class="form-control field__area" name="field-of-type-{{ suggestion_type.pk }}" id="field-of-type-{{ suggestion_type.pk }}"></textarea>
							<button class="field__remove btn btn-header" type="button">-</button>
						</div>
					</div>
					<button id="type-{{ suggestion_type.pk }}" class="same_type_suggestions__add btn btn-header" type="button">+</button>
				</div>
			{% endfor%}
			<div class="suggestion-form__btn">
				<button class="btn btn-header" class type="submit">Сохранить</button>
			</div>
		</form>
		{% else %}
			<div class="card alert-warning">
				<div class="card-body">
					<span class="card-text">
						<a href="{% url 'users:login' %}?next={{ request.path }}" style="text-decoration: none">Войдите</a>
                  		или
						<a href="{% url 'users:register' %}" style="text-decoration: none">зарегистрируйтесь</a>,
                  		чтобы внести предложение.
					</span>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block jsfiles %}
	<script type="text/javascript" src="{% static 'users/js/suggestion_form_fields.js' %}"></script>
{% endblock %}