{% extends 'drevo/base.html'%}
{% load static %}
{% csrf_token %}

{% block cssfiles %}
	<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
	<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
	<link rel="stylesheet" href="{% static '/users/css/create_suggestion.css' %}">
{% endblock %}
{% block title %} Развиваем вместе {% endblock %}

{% block precontent %}
{% endblock %}

{% block content %}
	<div class="basic">
	<p class="suggestion-from-title"> Знание:&nbsp;<a href="{% url 'zdetail' knowledge.id %}">{{ knowledge.name }}</a></p>
	{% if request.user.is_authenticated %}
			<a href="#popup" style="color:#313537;" class="popup-show-btn btn btn-icon">Внести предложение</a>
				<table class="align-middle suggestiond-table">
		{% if users_suggestions|length != 0 %}
			<thead>
				<tr>
					<th>Вид предложения</th>
					<th>Текст знания</th>
					<th>Статус</th>
				</tr>
			</thead>
			{% for str in users_suggestions %}
				<tr>
					<td> {{ str.suggestions_type }} </td>
					<td> {{ str.name }} </td>
					<td> 
						{% if str.is_approve is None %}
							<span style="color:#A1A1A1">Ожидает проверки</span>
						{% elif str.is_approve is False %}
							<span style="color:#EA2F2F">Отклонено</span>
						{% elif str.is_approve is True %}
							<span style="color:#52E359">Одобрено</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<p>Еще нет знаний, одобренных экспертами</p>
		{% endif %}
	</table>
	{% else %}
	<div class="card alert-warning">
		<div class="card-body">
			<span class="card-text">
			<a href="{% url 'users:login' %}?next={{ request.path }}" style="text-decoration: none">Войдите</a>
                  или
			<a href="{% url 'users:register' %}" style="text-decoration: none">зарегистрируйтесь</a>,
                  чтобы внести предложение.
			</span>
		</div>
	</div>
	{% endif %}

	<div class="popup" id="popup">
		<a class="popup__area" href="#"></a>
		<div class="popup__body">
		<div class="popup__content">
			<a class="popup__close" href="#">x</a>
			<form action="{{ request.get_full_path }}" method="post" class="suggestion-from__form">
				{% csrf_token %}
				{% for h_field in form.hidden_fields%}
					{{ field }}
				{% endfor %}
				{% for field in form %}
					{% if not field.is_hidden %}
						<div class="suggestion-form__field">
							{{ field.label_tag}}<br>
							{{ field }}
						</div>
					{% else%}
						{{field}}
					{% endif %}
				{% endfor %}
				<div class="suggestion-form__btn">
					<button class="btn btn-header" class type="submit">Сохранить</button>
				</div>
			</form>
		</div>
		</div>
	</div>	
	</div>
{% endblock %}

{% block jsfiles %}
{% endblock %}