{% extends 'drevo/base.html'%}
{% load static %}
{% csrf_token %}

{% block cssfiles %}
	<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
	<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
	<link rel="stylesheet" href="{% static '/users/css/create_suggestion.css' %}">
{% endblock %}
{% block title %} Знания от пользователей {% endblock %}

{% block precontent %}
	{% if query_res != None %}
		<div class="alert request-res_{{ query_res }}">
			{% if query_res == "ok" %}
				Предложение сохранено
			{% elif query_res == "err" %}
				Произошла ошибка
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="basic">
	<table class="align-middle suggestiond-table">
		{% if approved_suggestion|length != 0 %}
			<thead>
				<tr>
					<th>Вид знания</th>
					<th>Назначение знания</th>
					<th>Текст знания</th>
					<th>Пользователь</th>
				</tr>
			</thead>
			{% for str in approved_suggestion %}
				<tr>
					<td> {{ str.knowledge_type }} </td>
					<td> {{ str.relation_type }} </td>
					<td> {{ str.name }} </td>
					<td> {{ str.user.first_name }} </td>
				</tr>
			{% endfor %}
		{% else %}
			<p>Еще нет знаний, одобренных экспертами</p>
		{% endif %}
	</table>
	<div class="suggestion-from">
		<p class="suggestion-from__title"> Предложить новое знание к знанию <br> {{ parent_knowledge_name }}</p>
		<form action="" method="post" class="suggestion-from__form">
			{% csrf_token %}
			{% for h_field in form.hidden_fields%}
				{{ field }}
			{% endfor %}
			{% for field in form %}
				{% if not field.is_hidden %}
					<div class="suggestion-form__field">
						{{ field.label_tag}}<br>
						{{ field }}
					</div>
				{% else%}
					{{field}}
				{% endif %}
			{% endfor %}
			<div class="suggestion-form__btn">
				<button class="btn btn-header" class type="submit">Сохранить</button>
			</div>
		</form>
		</div>
	</div>
{% endblock %}