{% extends 'users/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if messages or form.errors %}
                    <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show"
                         role="alert"
                         style="margin-top: 50px;">
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Авторизация</h3>
                    </div>
                    <div class="card-body card">
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя пользователя</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.password.id_for_label }}">Пароль</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group d-flex justify-content-between mt-4 mb-0">
                                <a class="medium text-decoration-none" href="{% url 'users:password-recovery' %}">Забыли пароль?</a>
                                <input class="btn btn-primary" type="submit" value="Авторизоваться">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="medium my-4">
                            <a class="text-decoration-none" href="{% url 'users:register' %}">Нужен аккаунт? Зарегистрируйся!</a>
                        </div>
                    </div>
                </div>
                <div class="small my-4 text-center">
                    <a class="text-decoration-none" href="{% url 'drevo' %}">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
