{% extends 'users/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if messages or form.errors %}
                    <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show"
                         role="alert"
                         style="margin-top: 50px;">
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
                            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto" style="align-items: center; margin-top: 25px;">
                <li class="nav-item row">
                    <div class="logo ps-0 ms-0 me-1 col-auto">
                        <a class="auto_active_link" href="{% url 'drevo' %}" id="tree_link">
                            <img src="{% static 'drevo\img\main_page\navbar_tree_white.png' %}" height='46px' alt="logo-tree">
                        </a>
                    </div>
                    <div class="col p-0">
                        <div class="header-bottom-title">
                            Дерево знаний
                        </div>
                        <div class="header-bottom-subtitle">
                            Научно-образовательный проект
                        </div>
                    </div>
                </li>
            </ul>
            <h2 class="text-center font-weight-light my-4 ps-1">Регистрация</h2>
            <div class="basic">
                <div>
                    <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя
                                пользователя</label>
                            {{ form.username }}
                        </div><br>
                        <div class="form-group mb-2">
                            <label class="small mb-1 b4-pass" for="{{ form.password.id_for_label }}">Пароль</label>
                            <div class="input-group" id="show_hide_password">
                                {{ form.password }}
                                <a class="btn btn-outline-secondary"><i class="bi bi-eye-slash"></i></a>
                            </div>
                        </div>
                        <a class="classic" style="color: #6C757D; text-decoration-line: underline;" href="{% url 'users:password-recovery' %}">Забыли пароль?</a>
                        <div class="form-group d-flex justify-content-between mt-4 mb-0">
                            <input class="btn btn-header" style="width: 100%; font-size: 14px;" type="submit" value="Войти">
                        </div>
                    </form>
                </div>
                <p class="classic mt-4" style="color: #6C757D; text-align: center;">Нет аккаунта?
                <a style="color: #083E2F; text-decoration-line: underline;" href="{% url 'users:register' %}">Зарегистрироваться</a></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfiles %}
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") === "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bi-eye-slash");
                    $('#show_hide_password i').removeClass("bi-eye");
                } else if ($('#show_hide_password input').attr("type") === "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bi-eye-slash");
                    $('#show_hide_password i').addClass("bi-eye");
                }
            });
        });
    </script>
{% endblock %}