{% extends 'drevo/base.html' %}
{% load mptt_tags %}
{% load filter %}
{% load static %} 

{% block title %}Мои документы{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
    <div class="container header_info px-2">
        <h1>Мои документы</h1>
        <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:my_profile' %}">Профиль</a></li>
            <li class="breadcrumb-item opened"><a>Мои документы</a></li>
            </ol>
        </nav>
    </div>

    {% include 'drevo/include/profile_header.html' %}

    <p class="author-title pb-1">Мои документы</p>

    <div class="d-grid basic" style="gap: 16px; margin-top: 25px;">
            {% for document in documents %}
                <div class="mydocument">
                    <div class="mydocument-info">
                        <div class="mydocument-title">{{ document.name }}</div>
                        <div class="mydocument-parent">Последнее изменение: {{ document.changed_at }}</div>
                        <div class="mydocument-parent">Шаблон документа: {{ document.root_document }}</div>
                    </div>
                    <div class="mydocument-button-container">
                        {% if document.is_complete %}
                            <button class="mydocument-button mydocument-button-edit"><a href="{% url 'change_document' pk=document.id %}">PDF</a></button>
                            <button class="mydocument-button mydocument-button-edit"><a href="{% url 'change_document' pk=document.id %}">WORD</a></button>
                        {% endif%}
                        <button class="mydocument-button"><a href="{% url 'change_document' pk=document.id %}">Редактировать</a></button>
                        <button class="mydocument-button"><a href="{% url 'delete_document' pk=document.id %}" style="color: red;">Удалить</a></button>
                    </div>
                </div>
            {% endfor %}
    </div>

<script type="application/javascript" src="{% static 'drevo/js/toggle_element.js' %}"></script>
{% endblock %}