{% extends 'drevo/base.html' %}

{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h4 class="mt-3 mb-3">Ваш профиль</h4>
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert"
                 style="margin-top: 50px;">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-lg-12 text-center">
                <img width="200" height="200"
                     src="{% if user.profile.avatar %} {{ user.profile.avatar.url }} {% else %} {% static 'src/default_avatar.jpg' %} {% endif %}"
                     class="img-thumbnail">
            </div>
            <form action="{% url 'users:myprofile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ form.email.id_for_label }}">Адрес эл. почты:</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ form.first_name.id_for_label }}">Имя:</label>
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ profile_form.patronymic.id_for_label }}">Отчество:</label>
                        {{ profile_form.patronymic }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ profile_form.gender.id_for_label }}">Пол:</label>
                        {{ profile_form.gender }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ profile_form.birthday_at.id_for_label }}">Дата рождения:</label>
                        <input type="date"
                               name="birthday_at"
                               value="{{ profile_form.birthday_at.value|date:" Y-m-d" }}"
                        class="form-control py-2" id="{{ profile_form.birthday_at.id_for_label }}">
                        <span class="validity"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="mb-1" for="{{ profile_form.image.id_for_label }}">Аватар (максимальный размер
                            файла - 1 МБ):</label>
                        {{ profile_form.image }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 32px;margin-bottom: 32px;">
                        <input class="btn btn-primary" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
            <p class="mt-2 p-2">
                <div class="mr-2">
                    <a class="btn btn-primary btn-lg" href="{% url 'subscribe_to_author' %}">Подписка по авторам</a>
                </div>
            </p>
            <p class="mt-2 p-2">
            <div class="mr-2">
                <a class="btn btn-primary btn-lg" href="{% url 'subscription_by_tag' %}">Подписка по тегам</a>
            </div>
            </p>
            {% if user.expert.all %}
            <div class="form-row">
                <div class="col mb-3">
                    Компетентность:
                    <ul class="competence">
                        {% for el in competence %}
                            <li>{{ el.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="mr-2">
                <a class="btn btn-primary btn-lg" href="{% url 'show_quiz_result' %}">Результаты тестирования</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}