{% extends 'users/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% include 'users/include/header_with_logo.html' %}
                <h2 class="text-center font-weight-light my-4 ps-1">Восстановление пароля</h2>
                <p class="text-center classic text-grey">Мы вышлем инструкцию по восстановлению пароля<br> на указанную почту</p>
                <div class="basic">
                    <form action="{% url 'users:password-recovery' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group text-center mt-4 mb-0">
                                <input class="btn btn-header" style="width: 100%; font-size: 14px;" type="submit" value="Отправить">
                            </div>
                    </form>
                    <div class="classic mt-4" style="text-align: center;"><a style="text-decoration-line: underline;color: #6C757D;" href="{% url 'users:login' %}">Назад</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
