{% extends 'users/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/main_page.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if messages %}
                    <div class="alert alert-error alert-dismissible fade show"
                         role="alert"
                         style="margin-top: 50px;">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto" style="align-items: center; margin-top: 25px;">
                    <li class="nav-item row">
                        <div class="logo ps-0 ms-0 me-1 col-auto">
                            <a class="auto_active_link" href="{% url 'drevo' %}" id="tree_link">
                                <img src="{% static 'drevo\img\main_page\navbar_tree_white.png' %}" height='46px' alt="logo-tree">
                            </a>
                        </div>
                        <div class="col p-0">
                            <div class="header-bottom-title">
                                Дерево знаний
                            </div>
                            <div class="header-bottom-subtitle">
                                Научно-образовательный проект
                            </div>
                        </div>
                    </li>
                </ul>
                <h2 class="text-center font-weight-light my-4 ps-1">Новый пароль</h2>
                <div class="basic">
                    <div>
                        <form action="{{ full_url }}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-row mb-2">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password2.errors }}
                                    <label for="{{ form.new_password1.id_for_label }}">Новый пароль:</label>
                                    <div class="input-group" id="show_hide_password1">
                                        {{ form.new_password1 }}
                                        <a class="btn btn-outline-secondary"><i class="bi bi-eye-slash large"></i></a>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <label for="{{ form.new_password2.id_for_label }}">Подтверждение пароля:</label>
                                    <div class="input-group" id="show_hide_password2">
                                        {{ form.new_password2 }}
                                        <a class="btn btn-outline-secondary"><i class="bi bi-eye-slash large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center mt-4 mb-4">
                                <input class="btn btn-header" style="width: 100%; font-size: 14px;" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfiles %}
    <script>
        $(document).ready(function () {
            $("#show_hide_password1 a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password1 input').attr("type") === "text") {
                    $('#show_hide_password1 input').attr('type', 'password');
                    $('#show_hide_password1 i').addClass("bi-eye-slash");
                    $('#show_hide_password1 i').removeClass("bi-eye");
                } else if ($('#show_hide_password1 input').attr("type") === "password") {
                    $('#show_hide_password1 input').attr('type', 'text');
                    $('#show_hide_password1 i').addClass("bi-eye");
                    $('#show_hide_password1 i').removeClass("bi-eye-slash");
                }
            });
            $("#show_hide_password2 a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password2 input').attr("type") === "text") {
                    $('#show_hide_password2 input').attr('type', 'password');
                    $('#show_hide_password2 i').addClass("bi-eye-slash");
                    $('#show_hide_password2 i').removeClass("bi-eye");
                } else if ($('#show_hide_password2 input').attr("type") === "password") {
                    $('#show_hide_password2 input').attr('type', 'text');
                    $('#show_hide_password2 i').addClass("bi-eye");
                    $('#show_hide_password2 i').removeClass("bi-eye-slash");
                }
            });
        });
    </script>
{% endblock %}