{% extends 'users/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Восстановление пароля</h3>
                    </div>
                    <div class="card-body card">
                        <form action="{% url 'users:password-recovery' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group text-center mt-4 mb-0">
                                <input class="btn btn-primary" type="submit" value="Восстановить">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="small d-flex justify-content-around my-4 text-center">
                    <a class="text-decoration-none" href="{% url 'drevo' %}">Главная</a>
                    <a class="text-decoration-none" href="{% url 'users:login' %}">Авторизация</a>
                    <a class="text-decoration-none" href="{% url 'users:register' %}">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
