{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
<link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info px-2">
    <h1>Профиль</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a href="{% url 'users:my_profile' %}">Профиль</a></li>
        </ol>
    </nav>
</div>
<section class="gradient-custom-2 mb-3">
    <div class="container pb-3 h-100 px-2">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 10px;">
            <div class="rounded-top text-white d-flex flex-row" style="height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}"
                    alt="Users photo" class="img-fluid img-thumbnail mt-5 ms-2"
                    style="width: 150px; height: 150px; z-index: 1; object-fit: cover;">
                {% else %}
                    <img src="{% static 'src/default_avatar.jpg' %}"
                    alt="Users photo" class="img-fluid img-thumbnail mt-5 ms-2"
                    style="width: 150px; z-index: 1">
                {% endif %}
              </div>
            </div>
            <div style="background: #FFFFFF; border-radius: 0px 0px 10px 10px; padding: 4rem 2rem 2rem 2rem;">
                <p class="user_first_last m-0">{{user.first_name}} {{user.last_name}}</p>
              <div class="d-flex justify-content-between">
                <p class="user_small_info mt-3 mb-0">{{user.profile.get_gender_display}} (пол), {{user.profile.get_user_age}} (возраст)
                {% if user.job %} {{user.job}} (профессия){% endif %}</p>
                <div class="mr-2 d-flex justify-content-right mt-1" style="height: 30px;">
                    <a class="btn edit_btn shadow-none me-3"
                        style="z-index: 1;"
                        href="{% url 'users:myprofile' %}">
                        Редактировать профиль
                    </a>
                    <a class="btn btn-primary btn-lg" href="{% url 'parameter_settings' %}" style="background-color: #083E2F; border-radius: 8px; font-size: smaller; padding: 5px 8px;"><i class="bi bi-gear-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="container px-2">
    <div class="d-flex flex-row">
        <nav class="navbar px-3 mb-3" style="background: #DFDFE3; border-radius: 10px; width: 100%;">
            <div id="nav-dropdown" class="dropdown table-hover">
                <div class="btn-group">
                    <a class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                      Друзья <span style="color: #1B56B5"><strong>{% if new %} ({{new}}) {% endif %}</strong></span>
                        <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="{% url 'friends' %}" class="dropdown-item">Мои друзья</a>
                        </li>
                        <li>
                            <a href="{% url 'friends_added' %}" class="dropdown-item">Приглашение в друзья<span style="color: #1B56B5"><strong>{% if invite_count %} ({{invite_count}}) {% endif %}</strong></span></a>
                        </li>
                        <li>
                            <a href="{% url 'knowledge_feed' %}" class="dropdown-item">Лента знаний<span style="color: #1B56B5"><strong>{% if new_knowledge_feed %} ({{new_knowledge_feed}}) {% endif %}</strong></span></a>
                        </li>
                        <li>
                            <a href="{% url 'messages_feed' %}" class="dropdown-item">Сообщения<span style="color: #1B56B5"><strong>{% if new_messages %} ({{new_messages}}) {% endif %}</strong></span></a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div class="dropdown">
                        <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                            Активность <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a href="{% url 'users:my_documents' %}" class="dropdown-item">Мои документы</a>
                            </li>
                            {% if 'Интервью' in sections %}
                            <li>
                                <div class="btn-group">
                                    <a class="dropdown-item" href="{% url 'znanie_expert_process' %}">Мои интервью</a>
                                    <a onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </a>
                                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if 'Мои интервью' in sections %}
                                        <li>
                                            <a href="{% url 'my_interview_profile' user.id %}" class="dropdown-item">Мои ответы</a>
                                        </li>
                                        {% endif %}
                                        {% if 'Мои предложения' in sections %}
                                        <li>
                                            <a href="{% url 'my_proposal' user.id %}" class="dropdown-item">Мои предложения</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if 'Мои знания' in sections or 'Мои экспертизы' in sections %}
                            <li>
                                <div class="btn-group">
                                    <a class="dropdown-item" href="{% url 'znanie_expert_process' %}">Мой вклад, как эксперта</a>
                                    <a onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if 'Мои знания' in sections %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_knowledge' user.id %}">Мои знания</a>
                                        </li>
                                        {% endif %}
                                        {% if 'Мои экспертизы' in sections %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_expertise' user.id %}">Мои экспертизы</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if 'Мои знания (пользовательский вклад)' in sections %}
                            <li>
                                <div class="btn-group text-center">
                                    <a class="dropdown-item" href="#">Мой вклад, как пользователя</a>
                                    <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_preknowledge' user.id %}">Мои знания</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Изучение знаний <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <li>
                            <a href="{% url 'new_knowledges' user.id %}" class="dropdown-item">Новые знания по подпискам</a>
                        </li>
                        {% if 'Избранные знания' in sections %}
                        <li>
                            <a href="{% url 'my_favourites' user.id %}" class="dropdown-item">Избранные знания</a>
                        </li>
                        {% endif %}
                        {% if 'История просмотров' in sections %}
                        <li>
                            <a href="{% url 'history' user.id %}" class="dropdown-item">История просмотров</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'my_knowledge_grade' user.id %}" class="dropdown-item">Мои оценки знаний</a>
                        </li>
                        {% if 'Результаты тестов' in sections %}
                        <li>
                            <a href="{% url 'show_quiz_result' user.id %}" class="dropdown-item">Результаты тестов</a>
                        </li>
                        {% endif %}
                        {% if user.in_klz %}
                        <li>
                            <a href="{% url 'clz' %}" class="dropdown-item">КЛЗ</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Подписки <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <li>
                            <a href="{% url 'subscription_by_category' user.id %}" class="dropdown-item">По категориям</a>
                        </li>

                        <li>
                            <a href="{% url 'subscribe_to_author' user.id %}" class="dropdown-item">По авторам</a>
                        </li>

                        <li>
                            <a href="{% url 'subscription_by_tag' user.id %}" class="dropdown-item">По тегам</a>
                        </li>
                    </ul>
                </div>
                {% if 'Компетенции' in sections %}
                <div class="btn-group">
                    <a href="{% url 'special_permission' user.id %}" class="btn shadow-none group-title" type="button" data-bs-auto-close="true" aria-expanded="false">
                      Особые права
                    </a>
                </div>
                {% endif %}
                {% if user.is_expert or user.is_staff or user.is_director or user.is_employee %}
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Подготовка знаний <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if user.is_employee or user.is_superuser %}
                        <li>
                            <a href="{% url 'site_pages'%}" class="dropdown-item">Дерево страниц сайта</a>
                        </li>
                        {% endif %}
                        {% if user.is_staff %}
						<li>
                            <div class="btn-group text-center">
                                <a class="dropdown-item" href="#">Администратор</a>
                                <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden"></span>
                                </button>
                                <ul class="dropdown-menu">
                                {% if user.is_active %}
                                <li><a class="dropdown-item from-nav" href="/admin" id="control_panel_link">Панель управления</a></li>
                                {% endif %}

                                <li><a class="dropdown-item from-nav" href="/drevo/editorial_staff/" id="editorial_staff">Сотрудники редакции</a></li>
                                <li><a class="dropdown-item from-nav" href="{% url 'special_permissions_page' %}">Добавление особых прав</a></li>
                                <li><a class="dropdown-item from-nav" href="{% url 'delete_special_permissions_page' %}">Удаление особых прав</a></li>
								<li>
                                    <div class="btn-group text-center">
                                        <a class="dropdown-item" href="#">Обработка интервью</a>
                                        <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item from-nav" href="{% url 'all_interview' %}">•  Новые ответы</a></li>
                                            <li><a class="dropdown-item from-nav" href="#">•  Некорректные ответы</a></li>
                                            <li><a class="dropdown-item from-nav" href="#">•  Подответы</a></li>
                                        </ul>
                                    </div>
								</li>
							</ul>
						</div>
						</li>
                        {% endif %}
                        {% if user.is_director %}
						<li>
                            <div class="btn-group text-center">
                                <a class="dropdown-item" href="#">Руководитель</a>
                                <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <a href="{% url 'znaniya_for_suggestions'%}" class="dropdown-item">Обработка предложений</a>
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=discussion_director" id="" class="dropdown-item">Дискуссии</a>
                                </ul>
						    </div>
						</li>
                        {% endif %}
                        {% if user.is_expert %}
						<li>
                            <div class="btn-group text-center">
                                <a class="dropdown-item" href="#">Эксперт</a>
                                <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=algorithm" id="" class="dropdown-item">Конструктор алгоритмов</a>
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=document" id="" class="dropdown-item">Конструктор документов</a>
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=quiz" id="" class="dropdown-item">Конструктор тестов</a>
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=discussion" id="" class="dropdown-item">Дискуссии</a>
                                    {% if expert_can_filling_tables %}
                                    <a href="{% url 'znaniya_for_constructor'%}?type_of_zn=table" id="table" class="dropdown-item">Конструктор таблиц</a>
                                    {% endif %}
                                    <a href="{% url 'my_interview' %}" class="dropdown-item">Мои интервью</a>
                                </ul>
						    </div>
						</li>
                        {% endif %}

                    </ul>
                </div>
                {% endif %}
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Подготовка связей <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="{% url 'preparing_relations_create_page' %}" id="rel_create" class="dropdown-item">Создание связей</a>
                            <a href="{% url 'preparing_relations_update_page' %}" id="rel_update" class="dropdown-item">Изменение связи</a>
                            {% if user.is_expert %}
                            <a href="{% url 'preparing_relations_expertise_page' %}" id="rel_expertise" class="dropdown-item">Экспертиза ПредСвязи</a>
                            {% endif %}
                            {% if user.is_director %}
                            <a href="{% url 'preparing_relations_publication_page' %}" id="rel_pub" class="dropdown-item">Публикация cвязей</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script>
function logAndStop(event) {
    event.stopPropagation();
}
</script>

<script src="{% static 'drevo/js/get_cookie.js'%}"></script>
{% endblock %}