{% extends 'drevo/base.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static '/drevo/css/friends.css' %}">
{% endblock %}

{% block content %}
<div class="container header_info">
    <h1>Профиль</h1>
    <nav style="--bs-breadcrumb-divider: '-';" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'drevo' %}">Главная</a></li>
          <li class="breadcrumb-item opened"><a href="{% url 'users:my_profile' %}">Профиль</a></li>
        </ol>
    </nav>
</div>
<section class="gradient-custom-2 mb-3">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}"
                    alt="Users photo" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                {% else %}
                    <img src="{% static 'src/default_avatar.jpg' %}"
                    alt="Users photo" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                {% endif %}
              </div>
            </div>
            <div class="p-4" style="background: #FFFFFF; border-radius: 0px 0px 10px 10px;">
                <p class="user_first_last mt-2">{{user.first_name}} {{user.last_name}}</p>
              <div class="d-flex justify-content-between">
                <p class="user_small_info mt-1">{{user.profile.get_gender_display}} (пол), {{user.profile.get_user_age}} (возраст)
                {% if user.job %} {{user.job}} (профессия){% endif %}</p>
                <a class="btn edit_btn shadow-none"
                    style="z-index: 1; margin-left: 35%"
                    href="{% url 'users:myprofile' %}">
                    Редактировать профиль
                </a>
                <div class="mr-2">
                    <a class="btn btn-primary btn-lg" href="{% url 'parameter_settings' %}"><i class="bi bi-gear"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="container">
    <div class="d-flex flex-row">
        <nav class="navbar px-3 mb-3" style="background: #DFDFE3; border-radius: 10px; width: 100%;">
            <div id="nav-dropdown" class="dropdown table-hover">
                <div class="btn-group">
                    <a class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                      Друзья <span style="color: #1B56B5"><strong>{% if new %} ({{new}}) {% endif %}</strong></span>
                        <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="{% url 'friends' %}" class="dropdown-item">Мои друзья</a>
                        </li>

                        <li>
                            <a href="{% url 'friends_added' %}" class="dropdown-item">Приглашение в друзья<span style="color: #1B56B5"><strong>{% if invite_count %} ({{invite_count}}) {% endif %}</strong></span></a>
                        </li>

                        <li>
                            <a href="{% url 'knowledge_feed' %}" class="dropdown-item">Лента знаний<span style="color: #1B56B5"><strong>{% if new_knowledge_feed %} ({{new_knowledge_feed}}) {% endif %}</strong></span></a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-item">Сообщения</a>
                        </li>
                    </ul>
                </div>
                {% if 'Мои экспертизы' in sections or 'Мои знания' in sections or 'Мои знания (пользовательский вклад)' in sections or 'Интервью' in sections %}
                <div class="btn-group">
                    <div class="dropdown">
                        <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                            Активность <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if 'Интервью' in sections %}
                            <li>
                                <div class="btn-group">
                                    <a class="dropdown-item" href="{% url 'znanie_expert_process' %}">Мои интервью</a>
                                    <a onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </a>
                                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if 'Мои интервью' in sections %}
                                        <li>
                                            <a href="{% url 'my_interview_profile' user.id %}" class="dropdown-item">Мои ответы</a>
                                        </li>
                                        {% endif %}
                                        {% if 'Мои предложения' in sections %}
                                        <li>
                                            <a href="{% url 'my_proposal' user.id %}" class="dropdown-item">Мои предложения</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if 'Мои знания' in sections or 'Мои экспертизы' in sections %}
                            <li>
                                <div class="btn-group">
                                    <a class="dropdown-item" href="{% url 'znanie_expert_process' %}">Мой вклад, как эксперта</a>
                                    <a onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if 'Мои знания' in sections %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_knowledge' user.id %}">Мои знания</a>
                                        </li>
                                        {% endif %}
                                        {% if 'Мои экспертизы' in sections %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_expertise' user.id %}">Мои экспертизы</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if 'Мои знания (пользовательский вклад)' in sections %}
                            <li>
                                <div class="btn-group text-center">
                                    <a class="dropdown-item" href="#">Мой вклад, как пользователя</a>
                                    <button onclick="logAndStop(event)" class="btn dropdown-toggle dropdown-toggle-split dropdown-item shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'my_preknowledge' user.id %}">Мои знания</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if 'Избранные знания' in sections or 'История просмотров' in sections or 'Результаты тестов' in sections or user.in_klz is True %}
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Изучение знаний <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="{% url 'new_knowledges' user.id %}" class="dropdown-item">Новые, интересные знания</a>
                        </li>
                        {% if 'Избранные знания' in sections %}
                        <li>
                            <a href="{% url 'my_favourites' user.id %}" class="dropdown-item">Избранные знания</a>
                        </li>
                        {% endif %}
                        {% if 'История просмотров' in sections %}
                        <li>
                            <a href="{% url 'history' user.id %}" class="dropdown-item">История просмотров</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'my_knowledge_grade' user.id %}" class="dropdown-item">Мои оценки знаний</a>
                        </li>
                        {% if 'Результаты тестов' in sections %}
                        <li>
                            <a href="{% url 'show_quiz_result' user.id %}" class="dropdown-item">Результаты тестов</a>
                        </li>
                        {% endif %}
                        {% if user.in_klz %}
                        <li>
                            <a href="{% url 'clz' %}" class="dropdown-item">КЛЗ</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Подписки <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <li>
                            <a href="{% url 'subscription_by_category' user.id %}" class="dropdown-item">По категориям</a>
                        </li>

                        <li>
                            <a href="{% url 'subscribe_to_author' user.id %}" class="dropdown-item">По авторам</a>
                        </li>

                        <li>
                            <a href="{% url 'subscription_by_tag' user.id %}" class="dropdown-item">По тегам</a>
                        </li>
                    </ul>
                </div>
                {% if 'Компетенции' in sections %}
                <div class="btn-group">
                    <a href="{% url 'special_permission' user.id %}" class="btn shadow-none group-title" type="button" data-bs-auto-close="true" aria-expanded="false">
                      Особые права
                    </a>
                </div>
                {% endif %}
                <div class="btn-group">
                    <a style="border-radius: 8px;" class="btn shadow-none group-title" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Подготовка знаний <img class="ms-2" src="{% static 'drevo/img/three_dots.png' %}">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            {% if user.is_expert %}
                                <a href="{% url 'table_knowledge_tree' %}" id="filling_tables" class="dropdown-item">Наполнение таблиц</a>
                                <a href="{% url 'table_edit' %}" id="table_id" class="dropdown-item">Создание/изменение таблиц</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script>
function logAndStop(event) {
    event.stopPropagation();
}
</script>

<script>
    // Проверка перед открытием страницы "Наполнение таблиц"
    let filling_tables = document.getElementById("filling_tables")
    let table_id = document.getElementById("table_id")
    const csrftoken = getCookie('csrftoken');
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    showFillingTables()

    function showFillingTables() {
      const data = {};
      let url = "{% url 'show_filling_tables_page' %}"
      return fetch(url, {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json',
             'X-CSRFToken': csrftoken
         },
          body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
          if (!data[0]) {
              filling_tables.remove()
              table_id.remove()
          }
      })
      .catch((error) => {
      console.log('Error:', error);
      });
    }
</script>

{% endblock %}