.sub-title {
/*	font-size: 1.2rem;*/
}

.btn {
	color: black;
}

/*стили шаблона документа*/
.template {
	width: 100%;
}

.template textarea {
	resize: none;
	width: 100%;
	height: 40vh;
	background: white;
	margin-top: 15px;
}

.template__btn {
	display: block;
	text-align: center;
	color: black;
	padding: 5px;
	color: white;
	background: #083E2F;
}

.template__btn:hover {
	color: white;
}


/*стили меню объектов*/
.objects__tabs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.objects__tab {
	margin: 0 10px;
	width: 8vw;
	text-align: center;
	color: black;
}

.objects__body {
	min-height: 10vh;
	background: white;
	border-radius: 0.5rem;
	margin: 0 0 10px 0;
}

.objects__objects-list {
	display: none;
	padding: 0 10px;
	height: 20vh;
	overflow-y: scroll;
}

.object-card {
	text-align: left;
	font-size: 0.8rem;
	display: inline-block;
}

.object-card:hover {
	background: #F2F2F2;
}

.objects-list__object-card {
	width: 20vw;
	margin: 5px 15px 10px 15px;
	padding: 10px;
	border-radius: 0.3rem;
}

.object-card__content {
	display: flex;
	justify-content: start;
	align-items: start;
}

.object-card__btns {
	display: flex;
	width: 5vw;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0 3px 0 0;
}

.object-card__btn {
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0 0 5px 0;
}

.object-card__header {
	width: 10vw;
	max-height: 10vh;
	display: block;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.objects__objects-list:target {
	display: block;
}

/*стили формы создания/редактирования элементов*/
.field {
	margin-bottom: 10px;
}

.edit-menu {
	background: white;
	border-radius: 0.5rem;
	padding: 10px;
	width: 30vw;
}

.edit-menu-header {
	display: flex;
	justify-content: space-between;
}

.edit-menu_show {
	display: block;
}

.edit-menu__label {
	margin: 10px 0px 5px 0px;
}

.edit-menu .form-control {
	width: 100%;
}

.edit-menu fieldset {
	display: flex;
	justify-content: space-around;
}

.edit-menu__save-btn, .turple-selection__save-btn {
	display: block;
	text-align: center;
	color: black;
	width: 80%;
	margin: 30px auto 10px auto;
}

.edit-menu__close-btn {
	color: black;
	margin-right: 10px;
	line-height: 1rem;
	font-size: 1rem;
}

.edit-menu__textarea {
	display: block;
	width: 100%;
	height: 5rem;
	resize: none;
}

.edit-menu__btn {
	height: 25px;
	width: 25px;
	margin: 0 10px;
	padding: 0;
}


/*стили кнопок в карточке объектов и справочников*/
.btn-icon img {
	display: block;
	margin: auto;
	width: 65%;
	height: 65%;
}

.btn-icon.edit img {
	width: 80%;
	height: 80%;
}


/*стили селектора справочников в форме создания/редактирования объектов*/
.turple-selection .edit-menu__header {
	display: block;
}

.turple-selection-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.turple-selection-btns {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-right: 20px;
	width: 40%;
}

.turple-selection__btn {
	width: 30px;
	height: 30px;
	margin: 5px;
	padding: 0;
}


/*стили создания/редактирования форм*/
.turple-menu__element {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 5px 0 0 10px;
}

.turple-menu__element > *{
	margin: 0 2px;
}