.content {
	margin-top: 20px;
	padding: 10px 20px;
	background: white;
	border-radius: 1.2rem;
	height: 100%;
}

.page-title {
	font-size: 2.3rem;
	margin: 0 0 20px 0;
}

.page-sub-title {
	font-size: 1.8rem;
	margin: 0 0 15px 0;
}

.btn {
	color: black;
}

/*стили шаблона документа*/
.template {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.template__menu {
	width: 80%;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.template__save-action {
	margin-top: 10px;
}

.template__menu button {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.template textarea {
	resize: none;
	width: 100%;
	height: 40vh;
	background: white;
	margin-top: 15px;
}

.template-btn {
	text-align: center;
}

.template__selected-object#unselected {
	display: none;
}

.object-card {
	text-align: left;
	font-size: 1rem;

	display: flex;
	justify-content: start;
	align-items: start;
}

.object-card__btns {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	margin: 5px;
}

.object-card__btn {
	width: 40px;
	height: 40px;
	margin: 0 0 5px 0;
}

.object-card__header {
	width: 16vw;

	max-height: 100px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 5px;
}

/*стиль блока, оповещающего пользователя*/

.log-container {
	position: fixed;
	top: 15vh;
	display: none;
	right: 2vw;
	width: 20vw;
}

.log-container__log {
	min-height: 100px;
	width: 95%;
	margin: auto;
	border-radius: 0.5rem;

	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	background: #353535;
	color: white;
	
	transition: 0.5s;
	opacity: 0%;
}


/*стили кнопок в карточке объектов и справочников*/
.btn-icon img {
	display: block;
	margin: auto;
	width: 65%;
	height: 65%;
}

.btn-icon.edit img {
	width: 80%;
	height: 80%;
}

/*стили модального окна для удаления объекта*/

#DeleteObjectModal .object-delete-menu {
	display: flex;
	justify-content: space-around;
}

#DeleteObjectModal .object-delete-menu button{
	display: flex;
	justify-content: space-around;
	font-size: 1.3rem;
	min-width: 6vw;
	padding: 5px 10px;
}