/* Древо на главной странице сайта */

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

.lonely {
    color: #d4d4d4a9; 
    font-size: 1.5em;
}

.family {
    color: var(--main-bg-teal); 
    cursor: pointer; 
    font-size: 1.5em;
}

.zn_base {
    color: blue;
}

.zn_add {
    color: red;
}

.know_action_btn {
    margin-top: 30px;
}

.tree-btn {
    padding: 4px 24px;
    width: 154px;
    height: 30px;
    background: #E7ECEB;
    border-radius: 8px;
    text-align: center;
    color: #083E2F;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin: 0px 15px 15px 0px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 306px;
    color: #6C757D;
    background: #E7ECEB;
    border-radius: 5px;
    padding: 4px 12px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: -3vh;
}

.algorithm-element:hover .tooltip-text {
    visibility: visible;
    margin-top: 0;
}

span.algorithm-element a {
    color: inherit;
    text-decoration: none;
}

.kn_count:hover .tooltip-text {
  visibility: visible;
}

.kn_count {
    background-color: #1B56B54D;
    color: #1B56B5;
    vertical-align: super;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0px;
}

.main-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;;
    white-space: nowrap;
    background: #F1FAFF;
    border: 1px solid rgba(27, 86, 181, 0.3);
}

.bi-file-minus-fill::before {
    content: "\f2e5";
}

.bi-file-plus-fill::before {
    content: "\f4f9";
}

.circle_icon {
    color: #DFDFE3;
    width: 24px;
    background: radial-gradient(10px, #6C757D 100%, #FFFFFF 100% );
}

.without_children{
    background: radial-gradient(0.9vh, #6C757D 100%, #FFFFFF 100% );
    opacity: 0.2;
}

.without_children::before {
    content: "\f4f9";
}

.title, quiz-title {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: left;
}

.page-title {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #212529;
}

.header_info .breadcrumb-item {
    height: hug(14px);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #6C757D !important;
}

.header_info .opened, label[for=id_email_address], label[for=id_mes_text], .breadcrumb-item.opened a {
    color: #212529 !important;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-title {
    border-block-end: dashed 1px;
    color: #DFDFE3;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.treeline, .treeline ul, .treeline li {
   margin: 0; line-height: 1.25; list-style: none;
}

.treeline ul {margin: 0 0 0 12px; /* отступ вертикальной линии */}

.treeline > li, .treeline li li {
   position: relative;
   padding: 3px 0 0 20px; /* отступ текста */
}

.treeline li li:before, .treeline > li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    border-left: 1px solid #ccc;
    border-radius: 0px 0px 0px 10px;
    border-bottom: dotted 1px #ccc;
    border-left: dotted 1px #ccc;
    height: 18px;
    margin-top: 1.5vh !important;
}

form.search-block {
    height: 38px;
    width: 308px;
    border-radius: 8px;
    display: inline-block;
    background-color: #f5f5f575;
    border: none;
    color: rgb(148 151 154 / 80%);
    vertical-align: bottom;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}

.options {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6C757D;
}

.knowledge-description {
    width: 100%;
    border-block-start:
    dashed lightgrey 1px;
    padding: 0px;
    margin-left: 32px;
}

table.table tr {
    border-block-end: dashed lightgrey 1px;
}

table.table td {
    border: none;
}

table.table.align-middle.my-2 td, table.table th {
    border: 1px solid #BFBFBF;
}

table.table.align-middle.my-2 th, .classic {
	font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

table.table.align-middle.my-2 td, .search-header, .small-title {
	font-family: Rubik;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.02em;
	text-align: left;
}


table.table.align-middle.my-2 {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid #BFBFBF;
	margin: 0px;
	overflow: hidden;
}

.select {
	margin: 0 auto;
	position: relative;
	height: 38px;
    width: 308px;
    border-radius: 8px;
    display: inline-block;
    background-color: #f5f5f575;
    border: none;
    color: rgb(148 151 154 / 80%);
    vertical-align: bottom;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    z-index: 1;
}

.select.is-active .select__body {
	display: block;
}

.select__header {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
}

.select__current {
    padding: 12px;
}

.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 40px;
	margin-left: auto;
	text-align: center;
	width: 40px;
}

.select__body {
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
	border: none;
    padding: 12px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(33 37 41 / 10%);
    border-radius: 8px;
}

.select__item {
	cursor: pointer;
	padding: 8px;
}

.select__item:hover {
	background-color: #E7ECEB;
	color: #083E2F;
}

.select__item:hover > a, a.select__item.text-secondary:hover {
	background-color: #E7ECEB;
	color: #083E2F !important;
}

.pages li>a{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 4px 8px;
    color: #6C757D;
}

.pages ul {
    justify-content: space-between;
}

.pages li>a:hover {
    background:#083E2F;
    color: rgba(245, 245, 245, 0.75) !important;
    border-radius: 4px;
}

.author-title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #212529;
    margin: 0px;
    padding: 10px 0px;
}

.author-description {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212529;
    margin: 0px;
}

.chapter-link {
    text-decoration: none;
    color: inherit;
}

.chapter-link:hover {
    text-decoration: underline;
}

.choice-header {
    padding: 22px 22px 22px 32px;
    border-block-end: solid lightgrey 1px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #212529;
    height: 75px;
}

.choice-header span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-left: 50px;
    margin-right: 50px;
    color: #212529;
    border-block-end: solid black 1px;
    padding-bottom: 30px;
}

.choice-header a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6C757D;
}

.author-page-article {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6C757D;
    margin: 15px 0px;
}

.author-list, .param-list {
    padding: 10px 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: dashed lightgrey 1px;
}

ul li.param-list:last-child {
	border: none;
}

.author-name {
    margin-right: 1rem!important;
    display: inline-block!important;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212529;
}

.author-count {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 230px;
}

input.icon {
    height: 38px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6C757D;
    border-radius: 8px;
    width: 100%;
    padding: 6px 4px 6px 40px;
    border: none;
    opacity: 0.6;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.author-avatar {
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    background: linear-gradient(180deg, #083E2F 0%, #052F23 100%);
    border-radius: 8px;
    color: white;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.title-treeline li:before {
    content: "";
    position:
    absolute;
    top: 0;
    left: 0;
    width: 18px;
    border-left: 1px solid #ccc;
    border-radius: 0px 0px 0px 10px;
    border-bottom: dotted 1px #ccc;
    border-left: dotted 1px #ccc;
    height: 18px;
    margin-left: -0.5vh;
    margin-top: -0.05vh;
}

.title-treeline {
    margin: 0;
    line-height: 1.25;
    list-style: none;
}

.title-treeline ul {margin: 0 0 0 12px; /* отступ вертикальной линии */}

.title-treeline > li, .title-treeline li {
   position: relative;
   padding: 3px 0 0 20px; /* отступ текста */
}

.kn_type {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
    vertical-align: 0.5vh;
}

.znanie {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: 0.5vh;
}

.text-secondary {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6C757D;
}

.part > ul > li:before {
    content:none !important;
}

.part > ul > li {
    padding:0px !important;
}

.part > ul > li > ul > li:before {
	left: -32px;
}

.category-item  li  i.bi-file-plus-fill:before{
    content: none;
	transform: rotate(45deg);
}

.category-item  li  i.bi-file-minus-fill:before{
    content: none;
	transform: rotate(45deg);
}

.category-item i.bi-file-minus-fill img{
    transform: rotate(0deg) !important;
}

.nonactive-node > i img{
	opacity: 0.3;
}

.nonactive-node a, .active-node a{
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

.nonactive-node span a{
    color:#6C757D;
}

.active-node a{
    color:#212529;
}

.scrollbar::-webkit-scrollbar{
    height: 3px;
}

textarea#id_mes_text::-webkit-scrollbar, .select2-results__options::-webkit-scrollbar{
    width: 3px;
}

.scrollbar::-webkit-scrollbar-thumb, textarea#id_mes_text::-webkit-scrollbar-thumb, .select2-results__options::-webkit-scrollbar-thumb {
    background: #BFBFBF;
}

.scrollbar::-webkit-scrollbar-track, textarea#id_mes_text::-webkit-scrollbar-track, .select2-results__options::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.small-text {
    font-family: Rubik;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #BFBFBF;
}

.btn-icon {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #E7ECEB;
    color: #f8f9fa;
    border-radius: 8px !important;
}


.bi-hand-thumbs-up-fill span, .bi-hand-thumbs-down-fill span, .bi-star-fill span {
	color: #083E2F;
}

.bi-hand-thumbs-up-fill span, .bi-hand-thumbs-down-fill span,
.bi-star-fill span, .bi-hand-thumbs-up span, .bi-hand-thumbs-down span, .bi-star span, .comment-answer, .created-date-block {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
    vertical-align: middle;
}

.bi-arrow-right-short::before {
    transform: rotate(-45deg);
    font-size: 20px;
    vertical-align: bottom;
}

.bi-hand-thumbs-up-fill::before, .bi-hand-thumbs-down-fill::before, .bi-star-fill::before  {
    color: #083E2F;
}

.bi-hand-thumbs-down-fill img, .bi-hand-thumbs-up-fill img {
    filter: invert(29%) sepia(19%) saturate(2224%) hue-rotate(113deg) brightness(29%) contrast(94%);
}

.bi-eye-fill::before {
    vertical-align: sub;
    font-size: larger;
}

.bi-hand-thumbs-down::before, .bi-hand-thumbs-down-fill::before, .bi-hand-thumbs-up::before, .bi-hand-thumbs-up-fill::before {
    content: "" !important;
}

.bi-star-fill::before, .bi-star::before {
    content: "\f415";
    font-size: small;
}

.bi-hand-thumbs-down img, .bi-hand-thumbs-down-fill img {
	transform: scale(1, -1);
}

.bi-arrow-90deg-down::before {
    transform: scale(-1, 1);
}

.reply-button.btn-header[aria-expanded="false"] {
    color: #6C757D;
}

.reply-button.btn-header[aria-expanded="true"] {
    color: #083E2F;
}

.znanie-image {
    height: 160px;
    width: 220px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.znanie-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.popup-znanie-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-znanie-image span{
    position: absolute;
    bottom: 50%;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
    background: rgba(33, 37, 41, 0.8);
    border-radius: 8px;
    padding: 5px;
}

.popup-znanie-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px){
    .popup-znanie-image img{
        width: 95%;
    }
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0px;
}

.popup-znanie-image i.bi-arrow-right-short::before {
    transform: none;
    vertical-align: middle;
}

.table-responsive th{
    background: #F5F5F5;
}

textarea#id_mes_text, input#id_email_address {
    background: rgba(245, 245, 245, 0.75);
    border-radius: 8px;
}

textarea#id_mes_text {
	height: 86px;
}

label[for=id_email_address]::after{
	content: '*';
	color: #E01F27;
}

.bi-check2::before {
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.errorlist {
	padding: 0;
}

div#author-page-drevo > a.btn.btn-success.mb-3 {
    margin: 32px;
}

.sorting img {
    filter: invert(85%) sepia(18%) saturate(146%) hue-rotate(211deg) brightness(86%) contrast(86%);
}

.sorting img:hover {
    filter: invert(35%) sepia(10%) saturate(940%) hue-rotate(213deg) brightness(95%) contrast(92%);
}

.form-check-input:checked {
    background-color: #198754;
}

.form-check-input {
    background-color: #DFDFE3;
}

.advanced-search-form, .advanced-search-form-multiple, .select2-container, input#record_count, input#id_date, input[type="number"], select[name='gender'] {
    background: rgba(245, 245, 245, 0.75);
    color: #6C757D;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

input[type="number"], select[name='gender'] {
    border-radius: 8px;
    border: none;
    text-align: center;
}

.select2-container {
  width: 100% !important;
}

.select2-selection.select2-selection--single{
	background: rgba(245, 245, 245, 0.75) !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .advanced-search-form-multiple > option:checked{
	color: #083E2F !important;
	background: #E7ECEB !important;
}

.select2-selection__rendered{
	color: #6C757D !important;
}

.select2-container--default .select2-selection--single, input#id_date {
    border: 1px solid #ced4da !important;
}

input#id_date {
    border-radius: 5px;
    padding: 5px;
}

select#id_tag  option {
	padding: 8px 12px;
}

#author-page-drevo a#search_button, .sub-drevo a#search_button {
	top: 0vh !important;
}

.sub-drevo a#search_button {
	right: 0.5vh !important;
}

#author-page-drevo form#search_form, .sub-drevo form#search_form {
    padding: 16px 32px 0px 32px;
}

#author-page-drevo, .sub-drevo {
	position: relative;
}

.text-grey {
    color:#6C757D;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.basic {
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 10px;
}

.glossary-term {
    border: 1px solid #DFDFE3;
    border-radius: 8px;
    padding: 24px;
}

.small-title > p{
	margin: 0px;
}

.bi-play-circle-close::before {
    content: "\f4f2";
    color: #DFDFE3;
    transform: rotate(90deg);
    background: radial-gradient(0.9vh, #6C757D 100%, #FFFFFF 100% );
    font-size: x-large;
    vertical-align: bottom;
}

.bi-play-circle-open::before {
    content: "\f4f2";
    color: #DFDFE3;
    transform: rotate(-90deg);
    background: radial-gradient(0.9vh, #BFBFBF 100%, #F5F5F5BF 100% );
    font-size: x-large;
    vertical-align: bottom;
    border-radius: 50%;
}

.dashed {
    text-decoration: underline #083E2F;
    color: #083E2F;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: black;
}

.centered {
    vertical-align: 0.5vh;
}

.current-page {
    color: #212529;
    text-decoration: none !important;
    background: rgba(25, 135, 84, 0.2);
    border-radius: 8px;
    padding: 4px 12px;
}

#cookie-consent {
    position: fixed;
    bottom: 10%;
    left: 6.5%;
    width: 87%;
    background-color: #083E2F;
    padding: 48px;
    text-align: center;
    z-index: 9999;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 48px;
}

#cookie-accept {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#cookie-accept:hover {
    background-color: #45a049;
}

.form-control {
    background: rgba(245, 245, 245, 0.75);
    border-radius: 8px;
	border-color: rgba(245, 245, 245, 0.75);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.btn-outline-secondary {
    background: rgba(245, 245, 245, 0.75);
	border-color: rgba(245, 245, 245, 0.75);
}

.errorlist.nonfield, .errorlist {
	color: #E01F27;
	font-family: Rubik;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.02em;
	text-align: left;
}

.form-row.form-check-input {
    background-color: #fff;
}

.alert  {
	text-align: center;
}

.alert-error {
	color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.selection-window, .selection-window:hover, .selection-window:focus {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 14px 0px;
    width: 200px;
    color: #6C757D;
    border-radius: 8px;
    background: rgba(245, 245, 245, 0.75);
    padding: 12px 16px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #083E2F;
    background-position: top;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='%23ffffff'%20class='bi%20bi-check-lg'%20viewBox='0%200%2016%2016'%3E%20%3Cpath%20d='M12.736%205.97a.733.733%200%200%201%201.047%200c.286.289.29.756.01%201.05L7.88%2014.01a.733.733%200%200%201-1.065.02L3.217%2010.384a.757.757%200%200%201%200-1.06.733.733%200%200%201%201.047%200l3.052%203.093%205.4-6.425a.247.247%200%200%201%20.02-.022Z'%3E%3C/path%3E%3C/svg%3E");
}

.notification-field {
    position: fixed;
    right: 2vh;
    bottom: 0;
    width: 20%;
    z-index: 9999;
}

.notification {
    padding: 5px 10px;
    border-radius: 6px;
    margin: 10px 0px;
    border: 2px solid black;
    background: white;
}

a.question {
    padding: 0;
    margin-left: 0.5rem;
    background-color: deeppink;
}

.glossary-category {
    border: 1px solid #DFDFE3;
    border-radius: 8px;
    padding: 24px;
    
}

.glossary-set-terms {
    margin-top: 21px;
}

.circle-close, 
.circle-open {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: #DFDFE3;
    display: inline-block;
    vertical-align: bottom;
}

.circle-close span {
    width: 10px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6C757D;
}

.circle-close span:nth-of-type(2) {
    top: 46%;
    width: 10.5px;
    transform: translate(-50%, 0%) rotate(90deg);
}

.circle-open span {
    width: 10px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6C757D;   
}

.mydocument-list {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.mydocument {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mydocument-info {
    flex-grow: 1;
    margin-right: 10px;
}

.mydocument-title {
    font-size: 18px;
    font-weight: bold;
}

.mydocument-parent {
    font-size: 14px;
    color: #666;
}

.mydocument-button-container {
    display: flex;
}

.mydocument-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
}

.mydocument-button-edit {
    color: #4caf50;
}

.mydocument-button-delete {
    color: #f44336;
}
.mydocument-filter {
    grid-column: 2;
    position: sticky;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 20px;
}
.mydocument-filter h1 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mydocument-filter label {
    font-weight: bold;
}
.mydocument-filter select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.mydocument-filter button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mydocument-filter button:hover {
    background-color: #0056b3;
}
.mydocument-filter a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.mydocument-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 20px;
}
