.quiet {
    border: 0;
    vertical-align: middle;
    background: 0;
    font-size: 30px;
}
.bootstrap-select {
  width: 600px !important;
 }
.form-select {
    max-width: 600px;
    cursor: pointer;
 }
.table-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.select-without-choice {
    appearance: none;
    pointer-events: none;
    width: 600px;
    padding-left: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}
.button-menu {
    margin-bottom: 15px;
    margin-top: 15px;
}
.button-save {
    align-self: flex-start;
}
select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.row-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.new-znanie {
    margin-top: 15px;
}
.button-block {
    margin-top: 20px;
}