
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Kaisei+Decol&family=Rubik:wght@400;500;700&display=swap');

:root {
    --main-bg-color: #083E2F;
    --main-bg-color-dark: #083E2F;
    --main-bg-green: #23755E;
    --main-bg-teal: #258989;
}

.h1-drevo {
    font-family: 'Gabriela', serif;
}

.tree-main {
    z-index: -1;
    padding: 0 0;
    overflow: hidden;
    max-height: fit-content;
    max-width:min-content;
}


.main-about-p {
    font-size: calc(1rem + .2vw);
}

.main-quote {
    height: max-content;
    background-color: var(--main-bg-color);
}

blockquote {
    color: var(--bs-white);
    font-family: 'Gabriela', serif;
    margin: 0 auto;
}

.quote {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 2rem;
    text-align: center;
}

.quote::before,
.quote::after {
    content: "“";
    font-family: 'Gabriela', serif;

    font-size: 6rem;
    margin: -2rem 0 0 -4rem;
    position: absolute;
    opacity: 0.7;
}

.quote::after {
    content: "”";
    margin: -1rem -4rem 0 0;
}

figcaption {
    font-size: 1rem;
    text-align: center;
}

cite{
    font-family: 'Gabriela', serif;
    font-size: 1.1rem;
    color: var(--bs-white);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

#search_knowledges_link {
    margin-right: 20px;
}

.btn-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #083E2F;
    color:#f8f9fa;
    border-radius: 8px !important;
}

.btn-header:hover {
    background-color: #052F23;
    color:#f8f9fa;
}

body {
  font-family: 'Rubik';
    font-style: normal;
}

.header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #212529 !important;
}

.navbar .nav-header {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: black
}

.navbar .nav-header:hover {
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 6px 12px;
    display: block;
}

a.nav-header.show, a.from-nav.show {
    color: #083E2F;
}

.dropstart .dropdown-menu[data-bs-popper] {
    right: -1.9vh;
    top: 100%;
}

a.from-nav.change-arrow.show img {
    transform: rotate(180deg);
}


.from-nav {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

#tree_link img {
    height: 34px;
    background: #083e2f;
    padding: 5px;
    border-radius: 20px;
}

.header-bottom-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212529;
}

.header-bottom-subtitle {
    font-weight: 500;
    font-size: 9px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6C757D;
}

.header-bottom .nav-item a{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212529;
    padding: 10px 12px;
}

.header-avatar {
    border-radius: 10px;
}

.header .dropdown-item:focus,.header .dropdown-item:hover {
    color: #1e2125;
    background-color: #ffffff;
}

.dropdown-menu-profile {
    margin: 0;
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #DFDFE3;
}

.header .dropdown-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6C757D;

    display: flex;
    padding: 6px 8px;
}

.header .dropdown-item {
    padding: 3px 13px;
}

.header .dropdown-item a:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #083E2F;

    background: #E7ECEB;
    border-radius: 7px;
}

div.dropdown-item a.profile-options {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6C757D;
}

div.dropdown-item a.profile-options:hover {
    color: #083E2F;
}

div.dropdown-item.profile {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
}

div.dropdown-item.profile:hover {
    background-color: #E7ECEB;
    border-radius: 8px;
}

.profile-menu {
    width: 306px;
    left: 1142px;
    top: 88px;
    border-radius: 10px;
    padding: 16px;
}

.header-menu-username {
    color: #212529;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

.header-menu-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #6C757D;
}

.header-menu::after {
    display:none;
}

.header-bottom .dropdown-toggle::after {
    display:none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #BFBFBF;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.exit-button span {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding-left: 10px;
    letter-spacing: 0.02em;
    color: rgba(224, 31, 39, 0.5);
}

.exit-button  {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding-left: 10px;
    letter-spacing: 0.02em;
    color: rgba(224, 31, 39, 0.5);
    padding-bottom: 0px;
    padding-left: 0px;
}

.exit-button:hover  {
    background-color:#fff;
}

.exit-button a:hover {
    color: rgba(224, 31, 39, 0.5) !important;
    background: rgb(224 31 39 / 25%) !important;
}

footer {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 120% !important;
    letter-spacing: 0.02em !important;
    color: #6C757D;
}

.suggestion__btn {
    color: #212529;
}