textarea {
    overflow: hidden;
    resize: none;
    height: 86px;
    background: rgba(245, 245, 245, 0.75);
    border-radius: 8px;
}

.question_text {
    font-family: Rubik;
    font-size: 24px;
    position: inherit;
    margin-top: 20px;    
}

.grid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 30vw auto 80px;
}

.id_answer {
    vertical-align: middle;
    padding:5px;
}

.id_file {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    margin: 10px;
}

.button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #083E2F;
    color: #f8f9fa;
    border-radius: 8px !important;    
}

.question {
    margin: 10px;
}

.list_questions {
    font-family: Rubik;
    font-size: 22px;
    position: inherit;
    margin-top: 20px; 
}

.answers {
    display: grid;
    grid-template-columns: 20vw 10vw auto 20vw;
    text-align: left;
    font-family: Rubik;
    font-size: 22px;
    position: inherit;
    margin-top: 20px; 
}
.accepted {
    float: right;
    margin-right: 26%;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #083E2F;
    color: #f8f9fa;
    border-radius: 8px !important; 
}

select {
    padding: 5px;
    border-radius: 8px !important; 
    appearance: none;
    text-align: center;
    font-size: 18px;
}

.answer_head {
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    position: inherit;
    padding-right: 10px;
}

.question_title {
    width: 70vw;
    appearance: auto;
}

#one_question {
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    position: inherit;
    padding-right: 10px;
}