/* css для страницы questions_user */
textarea {
    overflow: hidden;
    resize: none;
    height: 86px;
    background: rgba(245, 245, 245, 0.75);
    border-radius: 8px;
    padding:5px;
}

.question_text {
    font-family: Rubik;
    font-size: 24px;
    position: inherit;
    margin-top: 20px;    
}

.grid {
    font-family: Rubik;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 30vw 50vw;
}

.new_answer, .edit_answer {
    vertical-align: middle;
    width: 100%;
}

.id_file {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    margin-top: 10px;
}

.file_inform {
    margin-top: 10px;
}

.button {
    width: 100px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #083E2F;
    color: #f8f9fa;
    border-radius: 8px !important;    
}

.button-cancel {
    width: 100px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #a0a8a6;
    border-color: #66736f;
    color: #f8f9fa;
    border-radius: 8px !important;    
}

.question {
    margin: 10px;
}

.plus {
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    color: green;
}

.edit_menu {
    position: relative;
}

.menu {
    display: none;
    z-index: 2;
    position: absolute;
    float: right;
    min-width: 150px;
    padding: 5px;
    right: 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow:1px 1px 1px black;
}

.menu > div:hover {
    background-color: rgb(200, 199, 199);
    cursor: pointer;
}

.menu > div {
    padding: 2px;
}

.dots {
    font-size: 20px;
    cursor: pointer;
}

.not_checked_answers {
    display: grid;
    grid-template-columns: auto 20px;
}

.cross {
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    color: red;  
}

.new_form {
    display: none;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.point {
    font-weight: bold;
}

.answer_text {
    font-style: italic;
    font-size: 18px;
}

.block {
    margin: 10px;
}

.admin_cross {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

@media (max-width: 1200px) {

    .delete {
        margin-top: 10px;
        color: red;
        cursor: pointer;
    }
    
}
@media (min-width: 1199px) {

    .delete {
        margin-top: 10px;
        float: right;
        color: red;
        cursor: pointer;
    }
}


/* css для страницы questions_and_check_answers */
.list_questions {
    font-family: Rubik;
    font-size: 22px;
    position: inherit;
    margin-top: 20px; 
}

@media (max-width: 899px) {
    .answers {
        display: block; 
        text-align: left;
        font-family: Rubik;
        font-size: 22px;
        position: inherit;
        margin-top: 20px; 
    }
    
    .line {
        margin-top: 50px;
    }
    
}

@media (min-width: 900px) {

    .answers {
        display: grid;
        grid-template-columns: 30vw 15vw auto 20vw;
        text-align: left;
        font-family: Rubik;
        font-size: 22px;
        position: inherit;
        margin-top: 20px; 
    }
    
    .line {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

.accepted {
    margin-top: 20px;
    margin: 20px auto;
    display: block;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.02em;
    background-color: #083E2F;
    color: #f8f9fa;
    border-radius: 8px !important; 
}

select {
    padding: 5px;
    border-radius: 8px !important; 
    appearance: none;
    text-align: center;
    font-size: 18px;
}

.answer_head {
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    position: inherit;
    padding-right: 10px;
}

.question_title {
    text-align: left;
    width: 70vw;
    appearance: auto;
}

.one_question, #if_one_question {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 100;
    position: inherit;
    padding-right: 10px;
}

.answers > div {
    padding: 10px;
}

.file {
    font-family: Rubik;
    font-size: 18px;
}

.expert {
    padding-right: 5px;
}

.reason {
    position: absolute;
    visibility: hidden;
}

.block_answers {
    display: none;
}

.not_checked_div {
    display: none;
}

#if_one_question_not_checked {
    display: none;
}