/* Все формы */
.related-widget-wrapper {
    width: 100%;
}

/* Форма создания/редактирования сущности Знание (Znanie) */
#id_name,
#id_category,
#id_tz,
#id_content,
#id_href,
#id_source_com,
#id_author {
    width: 100%;
}

/* Форма создания/редактирования сущности Автор (Author) */
/* #id_name {
    width: 100%;
}
*/

/* Форма создания/редактирования сущности Категория (Category) */
/* #id_name,
#id_parent,
#id_content {
    width: 100%;
}
*/
#id_parent {
    width: 100%;
}

/* Форма создания/редактирования сущности Связь (Relation) */
#id_tr {
    width: 100%;
}

#changelist-search img {
    width: 20px;
}