select {
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn_show{
    display: flex;
    justify-content: right;
    border-width: 2px;
}
.quiet {
    border: 0;
    vertical-align: middle;
    background: 0;
}
.text-show{
    width: 500px;
    height: 150px;
    resize: none;
}
.caret{
    display: none;
 }
.bootstrap-select {
  width: 600px !important;
 }
.form-select{
    width: 600px;
    height: 40px;
    margin-bottom: 15px;
}
.form-select select {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select::after {
  content: '\25BE';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-select select:focus {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
}
.popup {
    position: absolute;
    width: 450px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
}
.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.close-popup:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}
.close-popup:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}
.block-select-table-or-test {
    display: flex;
    flex-direction: row;
}
.select-table-or-test {
    pointer-events: none;
    width: 600px;
    height: 40px;
}
.button-edit {
    vertical-align: middle;
    font-size: 24px;
    font-family: var(--bs-font-sans-serif);
}
.constructor-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.row-column-question-block {
    display: flex;
    flex-direction: column;
}
.select-options {
    display: flex;
    flex-direction: row;
}
.button-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.button-menu {
    margin-top: 15px;
}
.button-save {
    align-self: flex-start;
}
.button-show {
    align-self: flex-start;
}
.success-save {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.delete-confirmation {
    position: relative;
    top: 38%;
    transform: translateY(-50%);
    text-align: center;
}
.modal_choice_but{
    margin-top: 10px;
    text-align: center;
}
.js-delete{
    margin-top: 10px !important;
}
.okay-popup js-okay-successful {
    align-self: flex-start;
    width: 100px;
    height: 35px;
}
.cancel-popup js-cancel-successful {
    align-self: flex-start;
    width: 100px;
    height: 35px;
}
.new-answer{
    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    width: 175px;
    height: 25px;
    margin-left: 50px;
}
.select-without-choice{
    width: 600px;
    height: 40px;
    margin-bottom: 15px;
    pointer-events: none;
    background-image: none;
 }
.block-with-operations{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 14px;
}
.is-correct-answer{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
