{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}Конструктор тестов{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="/static/drevo/css/constructors_of_zn.css">
{% endblock %}

{% block jsfiles %}
    <script src="{% static 'drevo/js/get_cookie.js'%}"></script>
    <script src="{% static 'drevo/js/modal_window.js'%}"></script>
    <script src="{% static 'drevo/js/quiz_constructor/quiz_constructor.js'%}"
            data-answers-in-quiz-existence = '{% url "answers_in_quiz_existence" %}'
            data-get-existing-answers='{% url "get_answers_to_selected_question_of_quiz" %}'
            data-delete-quiz='{% url "delete_quiz" %}'
            data-delete-answer-or-question-to-quiz='{% url "delete_answers_or_questions_to_quiz" %}'
            >

    </script>
{% endblock %}

{% block content %}
    <a href="{% url 'constructor_tree' 'test' %}" class="btn btn-warning mb-3">Назад</a>
    <div class="constructor-block">
        <h1>{{ title }}</h1>
        <label for="id_test">Тест:</label>
        <div class="block-select-table-or-test">
            <select class="select-table-or-test" name="test" id="id_test">
                {% if new_test %}
                    <option value="" id="" selected disabled>Создайте тест</option>
                {% else %}
                    {% for pk, element in test_attributes.items %}
                        <option value="{{ pk }}" id="{{ pk }}"> {{ element }} </option>
                    {% endfor %}
                {% endif %}
            </select>
           <span>
               {% if new_test %}
               <input type="button" value="➕" class="quiet button-edit" id="add_test" onclick="addZnanie('test')">
               {% endif %}
               <input type="button" value="❌" class="quiet button-edit" id="delete_test" onclick="deleteZnanie('test')" {% if new_test %} hidden {% endif %}>
               <input type="button" value="✐" class="quiet button-edit" id="edit_test" style="padding-left: 0px"  {% if new_test %} hidden {% endif %} onclick="editZnanie('test')">
           </span>
        </div>
    </div>

    <div class="row-column-question-block">
        <label for="id_question">Вопрос:</label>
        <div class="select-options">
            <select class="form-select" name="question" id="id_question" {% if new_test %} disabled {% endif %}>
                    {% if new_test or not questions_attributes %}
                        <option value="" id="create_question" selected disabled>Создайте вопрос</option>
                    {% else %}
                        <option value="" id="choose_question" selected disabled>Выберите вопрос</option>
                        {% for question in questions_attributes %}
                            <option value="{{ question.rz_id }}" id="{{ question.rz_id }}"> {{ question.rz__name }} </option>
                        {% endfor %}
                    {% endif %}
            </select>
            <span class="block-with-operations">
                <input type="button" value="➕" class="quiet button-edit" id="add_question" {% if new_test %} disabled {% endif %} onclick="addZnanie('question')">
                <input type="button" value="❌" class="quiet button-edit" id="delete_question"  style="padding-left: 0px" disabled onclick="deleteZnanie('question')">
                <input type="button" value="✐" class="quiet button-edit" id="edit_question" style="padding-left: 0px" disabled onclick="editZnanie('question')">
            </span>
        </div>
        <div class="answers-block">
            <label for="id_question">Ответ:</label>
            <div class="select-options">
                <select class="form-select" name="answer" id="id_answer" disabled>
                        {% if new_test %}
                            <option value="" id="create_answer" selected disabled>Создайте ответ</option>
                        {% else %}
                            <option value="" id="choose_answer" selected disabled>Выберите ответ</option>
                        {% endif %}
                </select>
                <span class="block-with-operations">
                    <input type="button" value="➕" class="quiet button-edit" id="add_answer" disabled onclick="addZnanie('answer')">
                    <input type="button" value="❌" class="quiet button-edit" id="delete_answer"
                           style="padding-left: 0px" disabled onclick="deleteZnanie('answer')">
                    <input type="button" value="✐" class="quiet button-edit" id="edit_answer"
                           style="padding-left: 0px" disabled
                           onClick="editZnanie('answer')">
                </span>
            </div>
        </div>
    </div>

    <div id="div-param" class="button-block">
        <div class="button-menu">
            <input class="btn btn-outline-success" id="btn_show" type="button" value="Показать">
        </div>
    </div>

    <div class="overlay js-open-warning">
        <div class="popup js-open-warning">
            <h2 class="message-open-warning"></h2>
            <h2 id="heading-error" hidden>Ошибка!</h2>
            <div class="questions-lists">
                <h5 id="heading_questions_without_answer_list" hidden>Вопросы без единого ответа:</h5>
                <ul id="questions_without_answer_list"></ul>
                <h5 id="heading_questions_less_two_answers_list" hidden>Вопросы с менее чем двумя ответами:</h5>
                <ul id="questions_less_two_answers_list"></ul>
                <h5 id="heading_questions_without_correct_answer_list" hidden>Вопросы без верных ответов:</h5>
                <ul id="questions_without_correct_answer_list"></ul>
            </div>
            <div class="close-popup js-close-successful"></div>
        </div>
    </div>

    <div class="overlay js-delete-element">
        <div class="popup js-delete-element">
            <h2 class="delete-confirmation"></h2>
            <div class="modal_choice_but">
                <input class="btn btn-success okay-popup js-okay-successful" type="button" value="Ок">
                <input class="btn btn-danger cancel-popup js-cancel-successful" type="button" value="Отмена">
            </div>
        </div>
    </div>



{% endblock %}