{% extends 'drevo/base.html' %}

{% block title %} Назначение прав руководителя {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h3>Добавление прав руководителя</h3>
        <p class="fs-5">Категория: {{ category.name }}</p>
        <h3>Список кандидатов в руководители</h3>
    </div>
    <form method="post" action="{% url 'set_users_as_admin' category.pk %}" class="mt-3" id="admins_candidates_form">
        {% csrf_token %}
        {% for user_pk, name, knowledge_count, expertise_count in candidates %}
        <li>
            <label for="candidate_{{ user_pk }}"  style="word-wrap:break-word">
                <input id="candidate_{{ user_pk }}" name="candidate_{{ user_pk }}" type="checkbox"/>
                {% if name %}
                {{ name }}
                {% else %}
                Пользователь {{ user_pk }}
                {% endif %}
                , Знаний опубликовано: {{ knowledge_count }}, Экспертиз опубликовано: {{ expertise_count }}
            </label>
        </li>
        {% endfor %}
    </form>
    <div class="mt-3">
        <input type="submit" class="btn btn-outline-success" value="Сохранить" form="admins_candidates_form">
    </div>
</div>
{% endblock %}