{% extends 'drevo/base.html' %}
{% load knowledge_tree %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h3>{{ page_title }}</h3>
        <p class="fs-4"> Компетенция: {{ category }} </p>
        <a href="{{ backup_url }}" class="btn btn-warning mb-3">Вернуться к списку кандидатов</a>
    </div>

    {% if knowledge_data.preknowledge %}
    <div class="border-bottom border-dark">
        <p class="fs-4">Список предзнаний <span class="badge bg-danger">Всего: {{ knowledge_data.preknowledge|length }}</span></p>
    </div>
    <ul style="overflow-y: scroll; overflow-x: scroll; height:600px;" class="mt-3">
        {% comment %}
        {% for preknow_pk, preknow_name in knowledge_data.preknowledge %}
        <li>
            <a href="{% url 'zdetail' preknow_pk %}" target="_blank">{{ preknow_name }}</a>
        </li>
        {% endfor %}
        {% endcomment %}
        {% build_knowledge_tree knowledge_data.preknowledge %}
    </ul>
    {% endif %}

    {% if knowledge_data.knowledge %}
    <div class="border-bottom border-dark">
        <p class="fs-4">Список знаний <span class="badge bg-danger">Всего: {{ knowledge_data.knowledge|length }}</span></p>
    </div>
    <ul style="overflow-y: scroll; overflow-x: scroll; height:600px;" class="mt-3">
        {% comment %}
        {% for know_pk, know_name in knowledge_data.knowledge %}
        <li>
            <a href="{% url 'zdetail' know_pk %}" target="_blank">{{ know_name }}</a>
        </li>
        {% endfor %}
        {% endcomment %}
        {% build_knowledge_tree knowledge_data.knowledge 2 %}
    </ul>
    {% endif %}

    {% if knowledge_data.expertise %}
    <div class="border-bottom border-dark">
        <p class="fs-4">Список экспертиз <span class="badge bg-danger">Всего: {{ knowledge_data.expertise|length }}</span></p>
    </div>
    <ul style="overflow-y: scroll; overflow-x: scroll; height:600px;" class="mt-3">
        {% comment %}
        {% for exp_pk, exp_name in knowledge_data.expertise %}
        <li>
            <a href="{% url 'zdetail' exp_pk %}" target="_blank">{{ exp_name }}</a>
        </li>
        {% endfor %}
        {% endcomment %}
        {% build_knowledge_tree knowledge_data.expertise 3 %}
    </ul>
    {% endif %}
</div>
{% endblock %}