{% extends 'drevo/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static '/drevo/css/drevo.css' %}">
{% endblock %}


{% block content %}
    <a href="{% url 'constructor_tree' type_of_zn='algorithm' %}" class="btn btn-warning mb-3">Назад</a>
    <h1>{{ title }}</h1>
    <form class="form-horizontal" action="{% url 'main_znanie_in_constructor_create' 'algorithm' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ zn_create_form.media }}
        {{ zn_create_form.as_p }}
        {{ image_form.management_form }}
        {% for frm in image_form %}
            {{ frm.as_p }}
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Сохранить">
    </form>
{% endblock %}