@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

TD, TH {
    padding: 24px 12px;
    border: 1px solid #BFBFBF;
}

TD {
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.28px;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    overflow: hidden;
}

TH {
    background: #F5F5F5;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.28px;
}

.suggestiond-table {
	width: 100%;
	text-align: center;
}



.suggestion-from {
	margin: 25px 0;
}

.suggestion-from__title {
	font-size: 1.5rem;
	margin: 0 0 30px 0;
}

.suggestion-from__form {
	width: 50%;
	margin: 0 auto;
	border-radius: 0.5rem;

	display: flex;
	flex-direction: column;
}

.suggestion-form__field {
	margin-bottom: 25px;
	width: 100%;
}

.suggestion-form__field > * {
	width: 100%;
	text-align: left;
	font-size: 1.2rem;
}

.suggestion-form__field select, .suggestion-form__field input {
	padding: 10px;
	font-size: 1.1rem;
}

.suggestion-form__btn button {
	border: 2px solid black;
	border-radius: 0.5rem;
}

option {
	font-family: 'Rubik', sans-serif;
}


.alert {
	border-radius: 0.5rem;
	width: 30%;
	margin: 10px auto;
	position: absolute;
	left: 35%;
	z-index: 1;
	opacity: 100%;
	animation: ani 2s forwards;
}

@keyframes ani {
	0% {opacity: 100%;}
	100% {
		opacity: 0%;
		display: none;
	}
}

.request-res_ok {
	background-color: #66FF7F;
	color: #008015;
}

.request-res_err {
	background-color: #FF8080;
	color: #990000;
}